/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.price-list {
		font-size: 17px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	.header {
		background: url(../img/header-table.jpg);
		-webkit-background-size: cover;
		background-size: cover;
	}

	.header-top .container {
		max-width: inherit;
	}
	.header-top_text {
		display: none;
	}
	.header-top_text:first-child {
		display: inline-block;
	}

	.header-info {
		padding-bottom: 0;
	}

	.main-title {
		font-size: 38px;
		padding: 0 5%;
	}
	
	.header-info_list {
		margin-bottom: 0;
	}
	.header-info_list li {
		font-size: 20px;
	}

	.btn-big {
		height: 62px;
		line-height: 62px;
		padding: 0 35px;
	}

	.title-bold {
		margin-bottom: 30px;
	}

	.price-section {
		padding: 50px 0;
	}
	.price-section .container {
		max-width: inherit;
	}
	.price-block {
		padding-bottom: 40px;
	}
	.price-list {
		font-size: 16px;
		padding: 0;
	}
	.maneger-info {
		position: relative;
		margin-bottom: 25px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	.header-top_text:first-child {
		display: none;
	}
	
	.container {
		max-width: inherit;
	}

	#catalog-slider {
		width: auto;
	}

	.price-section .col-auto {
		display: none;
	}

	.price-list li {
		border-bottom: 1px solid #d7d8d8;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.catalog-service .container {
		padding: 0;
	}

	.review-description p {
		min-height: inherit;
	}

	.title-section {
		padding: 0 10%;
	}

	.price-section {
		margin-bottom: 60px;
	}

	.countdown-wrapper {
		margin-bottom: 50px;
	}

	.countdown-section {
		padding-bottom: 50px;
	}

	.countdown-section h3 {
		font-size: 22px;
		padding: 0 10%;
		margin-bottom: 15px;
	}

	.countdown_timer .dash {
		width: 108px;
		margin: 0 10px;
	}
	
	.countdown_timer .digit {
		width: 50px;
		font-size: 50px;
	}

	.countdown_timer p {
		font-size: 17px;
		bottom: -40px;
	}

	.silver-title {
		padding: 0 10%;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 576px) {
	.header {
		background: url(../img/header-phone.jpg);
		-webkit-background-size: cover;
		background-size: cover;
		background-position: center bottom
	}

	.countdown_timer .dash {
		width: 90px;
		margin: 0 10px;
	}
	
	.countdown_timer .digit {
		width: 40px;
		height: 40px;
		font-size: 30px;
		border-radius: 10px;
		line-height: 40px;
		border-top-right-radius: 0;
		border-bottom-left-radius: 0;
	}

	.countdown_timer p {
		font-size: 15px;
		bottom: -10px;
	}

	.silver-title {
		padding: 0 10%;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}