@import url(reset.css);
/*FONTS*/
@font-face {
    font-family: 'archangelskregular';
    src: url('fonts/archangelsk-webfont.eot');
    src: url('fonts/archangelsk-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/archangelsk-webfont.woff2') format('woff2'),
         url('fonts/archangelsk-webfont.woff') format('woff'),
         url('fonts/archangelsk-webfont.ttf') format('truetype'),
         url('fonts/archangelsk-webfont.svg#archangelskregular') format('svg');
    font-weight: normal;
    font-style: normal;
	}

.clear{ clear:both; display:block;}
.float_l{ float:left;}
.float_r{ float:right;}

/*Elements*/
html{height: 100%;}
body{
	line-height:1;
	background:#E9EEF2 url(../images/bg.jpg);
	color:#020309;
	font:13px Arial, Helvetica, sans-serif;
	height: 100%;
	min-width:978px;
	}
a{ color:#008BB3;}
a:hover{ text-decoration:none;}	
	
.content_box{
	width:978px;
	margin:0 auto;
	position: relative;
	}

/*WRAPPER*/
#wrapper{
	min-height:100%;
	margin-bottom: -62px;
	position:relative;
	}
#container{
	padding-bottom: 62px;
	position:relative;
	}
#container > .bg{
	width:100%;
	height:465px;
	position:absolute;
	left:0;
	top:0;
	background:url(../images/header_texture.jpg) center top;
	}

/*HEADER*/
#header{
	width:978px;
	margin:0 auto;
	position:relative;
	z-index:5;
	background:url(../images/header_bg.png) no-repeat right 0;
	height: 232px;
	}
#header .logo{
	width:254px;
	height:106px;
	background:url(../images/logo.png);
	float:left;
	margin-left: -3px;
	text-decoration: none;
	position: relative;
	}
#header .logo p{
	color:#494747;
	font:16px "archangelskregular";
	position: absolute;
	left: 67px;
	top: 63px;
	letter-spacing: 0.02em;
	transition:all 0.3s ease-in-out;
	}
#header .logo > span{
	position: absolute;
	bottom: 8px;
	left: 26px;
	color: #4B4949;
	font-size: 11px;
	letter-spacing: -0.01em;
	transition:all 0.3s ease-in-out;
	}
#header .logo h3{
	color: #181A21;
	font-size: 15px;
	text-transform: uppercase;
	position: absolute;
	bottom: 8px;
	width: 132px;
	letter-spacing: 0.03em;
	left: 140px;
	line-height: 1.1;
	}
#header .logo h3 span{
	display: block;
	color: #CE0038;
	}
#header .logo:hover p{ color:#CE0038;}
#header .logo:hover > span{ color:#008FB8;}

#header aside{
	width:572px;
	float:right;
	position:relative;
	padding-top:31px;
	margin-bottom: -12px;
	}

/*Language*/
.lang{
	top:0;
	right:11px;
	position:absolute;
	}
.lang a{
	width:28px;
	height:26px;
	float:left;
	text-decoration: none;
	color:#5D5D5D;
	text-align:center;
	line-height:26px;
	margin-right: 3px;
	border-radius:0 0 4px 4px;
	}
.lang a:hover{
	background:url(../images/lang_bg.png) right;
	color:#fff;
	box-shadow:2px 2px 3px rgba(11,117,216,0.3);
	}
.lang a:active{
	box-shadow:inset 0 2px 1px rgba(0,0,0,0.4);
	line-height:28px;
	text-shadow:0 1px 0 rgba(0,0,0,0.3);
	}
.lang a.active{
	background:url(../images/lang_bg.png);
	cursor:default;
	color:#fff;
	box-shadow:2px 2px 3px rgba(249,19,2,0.2) !important;
	}
.lang a.active:active{
	box-shadow:none;
	line-height:26px;
	text-shadow:none;
	}

/*Написать письмо Button*/
.write_letter{
	width:130px;
	height: 25px;
	background: url(../images/write_letter.png);
	position:absolute;
	left:35px;
	top:23px;
	text-decoration: none;
	color: #7E6E7C;
	line-height: 25px;
	text-align: center;
	z-index:1;
	}
.write_letter:before{
	content:"";
	width:13px;
	height:14px;
	background:url(../images/write_letter_after.png);
	position:absolute;
	top:-7px;
	right:-5px;
	}
.write_letter:hover{ background-position: bottom; color:#279CEE;}
.write_letter:hover:before{background-position:bottom;}
.write_letter:active{ line-height:27px; color:#403F3F;}

/*Header Contact*/
.chaser_contact{
	width:572px;
	height:112px;
	background: url(../images/chaser_red.png);
	position:relative;
	color: #fff;
	}
.chaser_contact address{
	font-style: normal;
	position: absolute;
	left: 70px;
	top: 40px;
	}
.chaser_contact p{
	font-size:18px;
	text-align: right;
	position: absolute;
	right: 80px;
	top: 35px;
	}
.chaser_contact p span{
	display: block;
	font-size: 12px;
	color: #ffccd3;
	}

#header .social_network{
	position:absolute;
	left:182px;
	top:25px;
	z-index:1;
	}

/*Social Network Icons*/
.social_network a{
	float:left;
	width:19px;
	height:19px;
	border:1px solid #C8C1C7;
	border-radius:3px;
	text-align:center;
	line-height:19px;
	color:#C0B8BE;
	text-decoration: none;
	margin-right: 8px;
	transition:all 0.3s ease-in-out;
	}
.social_network a:hover{
	color:#D40631;
	border-color:#D40631;
	}
.social_network a:active{
	transition:none;
	background-color:#D40631;
	color:#fff;
	}

.mailto{
	color: #279cee;
    font-size: 12px;
    left: 374px;
    position: absolute;
    text-decoration: none;
    top: 28px;
	transition:all 0.3s ease-in-out;
	z-index:1;
	}
.mailto i{
	font-size:11px;
	float:left;
	margin-top: 2px;
	}
.mailto span{
	text-decoration: underline;
	float:left;
	padding-left:5px;
	letter-spacing: -0.015em;
	}
.mailto:hover{ color:#D40631;}
.mailto:active{ transition:none; color:#413E3E;}

input, textarea{ font:12px Arial, Helvetica, sans-serif;}
*:focus{ outline:none;}

.search{
	float:right;
	padding-right: 17px;
	}
.search i{
	float:left;
	position:relative;
	color:#9C8E97;
	font-size:16px;
	margin-top: 2px;
	transition:all 0.3s ease-in-out;
	}
.search i:hover{ color:#279cee;}
.search i input{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	cursor:pointer;
	border:0;
	background:none;
	}
.search div{
	background:url(../images/shadow_search.png) no-repeat center bottom;
	float:left;
	padding: 0 0 12px 5px;
	}
.search div input{
	height:21px;
	padding:0 12px;
	border:1px solid #D5CCD0;
	border-radius:3px;
	position:relative;
	width:127px;
	background:#fff url(../images/bg_search.jpg);
	transition:all 0.3s ease-in-out;
	font:12px Arial, Helvetica, sans-serif;
	}
.search div input:hover{ border-color:#BBAAB5;}
.search div input:focus{
	border-color:#279cee;
	background:#fff;
	box-shadow:0 0 7px rgba(0,102,255,0.4);
	}
.search div input.focus{width:180px;}
.search ::-webkit-input-placeholder {color:#BAB9B9; opacity:1;}
.search ::-moz-placeholder          {color:#BAB9B9; opacity:1;}
.search :-moz-placeholder           {color:#BAB9B9; opacity:1;}
.search :-ms-input-placeholder      {color:#BAB9B9; opacity:1;}

.search input:focus::-webkit-input-placeholder {opacity:0.6;}
.search input:focus::-moz-placeholder          {opacity:0.6;}
.search input:focus:-moz-placeholder           {opacity:0.6;}
.search input:focus:-ms-input-placeholder      {opacity:0.6;}


/*NAV*/
.mainmenu{
	float: right;
    padding:10px 11px 0 0;
	}
.mainmenu ul li{
	position: relative;
	}
.mainmenu ul ul{
    transition: all .2s ease-in-out;
    opacity: 0;
    visibility: hidden;
    position:absolute;
	z-index:10;
	}
.mainmenu > ul > li{
    float:left;
	height:31px;
	margin-left:38px;
	}
.mainmenu > ul > li > a{
	color:#171920;
	text-decoration:none;
	text-transform:uppercase;
	height:16px;
	position:relative;
	padding:0 7px;
	line-height:18px;
	font-size:14px;
	letter-spacing:0.02em;
	}
.mainmenu > ul > li > a:hover, .sub_menu:hover > a{
	color:#D21448;
	}
.mainmenu > ul > li > a:before{
	content:'';
	width:2px;
	height:7px;
	border-left:1px solid #BAB6BA;
	border-bottom:1px solid #BAB6BA;
	border-radius:2px 0 0 2px;
	position:absolute;
	left:0;
	top:8px;
	}
.mainmenu > ul > li > a:hover:before, .sub_menu:hover > a:before{
	border-color:#EDACBE;
	height:14px;
	border-top:1px solid #EDACBE;
	top:0;
	}
.mainmenu ul li:hover > ul{
    opacity: 1;
    visibility: visible;
	}
/*Sub Menu*/
.sub_menu ul{
	width:208px;
	background-color:#fff;
	border:2px solid #D1CBCE;
	border-radius:6px;
	min-height:50px;
	top:100%;
	left:-4px;
	}
.sub_menu li a:active{
	box-shadow:inset 0 0 5px rgba(0,0,0,0.7);
	}
.sub_menu ul ul{
	top:-2px;
	left:100%;
	}
.sub_menu ul li{
	border-top:1px solid #E0DEDF;
	}
.sub_menu ul li:first-child{
	border-top:none;
	border-radius:4px 4px 0 0;
	}
.sub_menu ul li:last-child{
	border-radius:0 0 4px 4px;
	}
.sub_menu ul li a{
	display:block;
	color:#171920;
	text-decoration: none;
	padding:6px 20px 6px 12px;
	position:relative;
	}
.sub_menu ul li a:hover, .sub_menu ul li:hover > a{
	color:#fff;
	}
.sub_menu .arrow{
	position:absolute;
	right:10px;
	top:5px;
	font-size:12px;
	color:#D42051;
	}
.sub_menu li:hover .arrow{ color:#fff;}
.sub_menu .bold{
	color:#D11E3A;
	font-weight: bold;
	background-color: #EBEBEB;
	}
.sub_menu ul li:hover, .sub_menu ul li.bold:hover, .sub_menu li:hover .bold{
	background-color:#D11E3A;
	}

/*SLIDER*/
.wrapper_slider{
	position:relative;
	min-height:245px;
	background:url(../images/red_line.png) no-repeat center 6px;
	}
.wrapper_slider .content_box{
	min-height:366px;
	}
.wrapper_slider .line{
	width:938px;
	border-top:1px solid #D3D3D5;
	border-bottom:1px solid #FBFCFC;
	position:absolute;
	left:50%;
	bottom:0;
	margin-left:-469px;
	height:0;
	}

.wrapper_slider .aside_section{
	margin:11px 0 0 -2px;
	padding-top:20px;
	float:left;
	}

.aside_section{
	background:url(../images/about_block.png) repeat-y left top;
	width:198px;
	padding:10px 0 0 33px;
	position:relative;
	min-height:100px;
	}
.aside_section .bottom{
	width:100%;
	height:41px;
	background:url(../images/about_block.png) no-repeat left bottom;
	position:absolute;
	left:0;
	bottom:-41px;
	}

.about_kpm{
	letter-spacing:-0.01em;
	position:relative;
	padding-bottom:48px;
	}
.about_kpm h3{
	font-size:14px;
	font-weight:bold;
	letter-spacing:-0.03em;
	padding-bottom:12px;
	}
.about_kpm p{
	line-height:1;
	padding-bottom:14px;
	}
.about_kpm p span{
	color:#CE0038;
	}
.about_kpm .link_blue{
    position: absolute;
	bottom: 23px;
    left: -19px;
	}
	
.link_blue{
    padding-left: 38px;
    text-decoration: none;
	background: url(../images/blue_arrow.png) no-repeat 0 4px;
	}
.link_blue span{
	text-decoration:underline;
	}
.link_blue:hover span{ text-decoration: none;}
.link_blue:active{ color:#007199;}

/*SLIDER*/
.loopedSlider{
	float:right;
	height:313px;
	position:relative;
	}
.container {
	width:718px;
	overflow:hidden;
	position:relative;
	}
.slides {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	}
.slides li{
	height:314px;
	width:718px;
	}
.loopedSlider .img1{
	left: 127px;
    position: absolute;
    top: 12px;
	}
.loopedSlider .img2{
	left: 193px;
    position: absolute;
    top: 7px;
	}
.loopedSlider .img3{
	left: 204px;
    position: absolute;
    top: 21px;
	}
.cabel{
	height:214px;
	background:url(../images/cabel.png) no-repeat center;
	width:100%;
	position:absolute;
	top:35px;
	display:none;
	}

.loopedSlider .descrp{
	position:absolute;
	z-index:1;
	left:0;
	top:66px;
	}
.loopedSlider h2{
	font-size:26px;
	color:#171920;
	padding-bottom:2px;
	}
.loopedSlider h2 > span{
	display:inline-block;
	background-color:#fff;
	background-color:rgba(255,255,255,0.82);
	padding:5px 17px 6px 8px;
	border-radius:6px;
	}
.loopedSlider h2 span span{
	color:#AF001B;
	}
.loopedSlider h6{
	font-size:16px;
	color:#171920;
	padding-bottom:12px;
	}
.loopedSlider h6 > span{
	background-color:#fff;
	background-color:rgba(255,255,255,0.82);
	padding:3px 9px 5px 8px;
	border-radius:6px;
	display:inline-block;
	}
.more_btn{
	display: block;
	width:107px;
	height:25px;
	background:url(../images/more_btn.png);
	text-align:center;
	line-height:25px;
	color:#fff;
	text-decoration:none;
	text-shadow:0 1px 1px rgba(0,0,0,0.75);
	transition:all 0.3s ease-in-out;
	}
.more_btn:hover{
	text-shadow:0 1px 1px rgba(0,0,0,0.75), 0 0 4px #fff;
	}
.more_btn:active{
	text-shadow:0 1px 0 rgba(0,0,0,0.75);
	line-height:27px;
	transition: none;
	}

.pagination{
	position:absolute;
	left:0;
	bottom:0;
	}
.pagination li{
	float:left;
	margin-right:7px;
	}
.pagination li a{
	display:block;
	width:7px;
	height:9px;
	border-radius:4px;
	background-color:#BBB3BC;
	transition:all 0.3s ease-in-out;
	}
.pagination li a:hover{
	background-color:#279cee;
	}
.pagination li.active a{
	background-color:#D11E3A;
	cursor:default;
	}

/*MAIN CONTENT*/
.main_content{
	width:938px;
	margin:0 auto;
	padding: 27px 0 72px;
	}
.main_content .content{
	width:671px;
	float:left;
	padding-left: 3px;
	}

.main_content .classic_text{ padding-bottom:25px;}
.main_content .classic_text article{
	width:440px;
	float:right;
	}
.main_content .classic_text article p{
	color:#666;
	}
.main_content .classic_text h1{
	padding-bottom:34px;
	}

.classic_text h1, .static_wrapper h1{
	color:#171920;
	font-size:22px;
	padding-bottom:20px;
	}
.classic_text h2, .classic_text h3{
	font-size:18px;
	color:#171920;
	padding-bottom:13px;
	}
.classic_text h1 span, .classic_text h3 span{
	color:#D60021;
	}
.classic_text p{
	padding-bottom:14px;
	line-height: 1.16;
	}
	
.btn{
	display:inline-block;
	height:23px;
	border:1px solid #6BBFED;
	border-radius:5px;
	text-align:center;
	line-height:23px;
	text-decoration:none;
	padding:0 14px;
	transition:all 0.2s ease-in-out;
	font-size: 12px;
	margin-top: -2px;
	}
.btn:hover{
	background-color:#279cee;
	color:#fff;
	text-shadow:0 1px 0 rgba(0,0,0,0.15);
	border-color:#279cee;
	}
.btn:active{
	transition:none;
	line-height:25px;
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.35);
	border-color:#1B7FC7;
	}

.classic_img{
	float:left;
	}
.classic_img .img{
	border:5px solid #E4E0E2;
	width:206px;
	overflow:hidden;
	margin-bottom: 9px;
	}
.classic_img .img img{
	display:block;
	border:1px solid transparent;
	}
.classic_img h6{
	font-size:12px;
	color:#d11e3a;
	padding:2px 12px 0 10px;
	position:relative;
	line-height:12px;
	letter-spacing: -0.01em;
	}
.classic_img h6:before{
	content:'';
	width:2px;
	border:1px solid #E7A4B5;
	border-right:none;
	border-radius:2px;
	position:absolute;
	left:2px;
	top:0;
	height:100%;
	}

/*CAROUSEL*/
.partners{
	width:667px;
	padding-left:3px;
	}
.partners .top{
	height:21px;
	display:block;
	background:url(../images/corner_partner.png) no-repeat center top;
	margin-bottom: -4px;
	}
.partners .bottom{
	height:25px;
	display:block;
	background:url(../images/corner_partner.png) no-repeat center bottom;
	}
.partners h3{
	float:left;
	color:#171920;
	font-size:18px;
	float:left;
	width:100px;
	line-height:1;
	position:relative;
		padding: 9px 0 11px 20px;
	top: 16px;
}
.partners h3 span{
	font-size:15px;
		display: block;
	line-height: 1.1;
}
.partners h3:before{
	content:'';
	position:absolute;
	width:0;
	height:100%;
	left:0;
	top:0;
	border-left:1px solid #EA2548;
	border-right:1px solid #D11E3A;
	}
	
.carousel{
	width:476px;
	float:right;
	font-size:12px;
	position:relative;
	margin-bottom: -7px;
	}
.carousel .num{
	width:28px;
	color:#a4a4a4;
	border-bottom:1px solid #D11E3A;
	}
.carousel .num p{
	border-bottom:1px solid #EA2548;
	padding-bottom: 3px;
	}
.carousel .brand{
	height:46px;
	position:relative;
	}
.carousel .brand img{
	position:absolute;
	left:0;
	bottom:0;
	}
.owl-item > div > p{
	padding:4px 0 0;
	letter-spacing: 0.01em;
	line-height: 1.2;
	}
.carousel p span{
	display: block;
	color: #CF0038;
	}
.carousel .owl-prev{
	position:absolute;
	left:0;
	bottom:0;
	}
.carousel .owl-next{
	position:absolute;
	left:54px;
	bottom:0;
	}

.owl_carousel_items{
	position:absolute;
	bottom:0;
	left:23px;
	}
.owl_carousel_items span{
	color:#CF0038;
	}

/*Content Aside*/
.main_content > aside{
	width: 230px;
	float:right;
	padding-top:8px;
	}

.aside_block{
	border:1px solid #D9D9D9;
	border-radius:5px;
	position:relative;
	background-color:#F0F0F0;
	background-color:rgba(240,240,240,0.75);
	padding:5px;
	}
.aside_block:before{
	content:'';
	width:33px;
	height:304px;
	background:url(../images/shdow_l.png);
	position:absolute;
	left:-33px;
	top:3px;
	}
.aside_block:after{
	content:'';
	width:25px;
	height:230px;
	background: url(../images/shdow_r.png);
	position:absolute;
	right:-25px;
	top:100px;
	opacity:0.5;
	}
.aside_block .shadow{
	width:226px;
	height:28px;
	background:url(../images/shdow_b.png);
	position:absolute;
	bottom:-30px;
	right:0px;
	}
.aside_block > div{
	background-color:#F7F7F7;
	background-color:rgba(247,247,247,0.75);
	min-height:300px;
	}

/*NEW NEWS*/
.new_news{
	position:relative;
	margin:0 -5px;
	padding-bottom: 58px;
	}
.new_news .link_blue{
	position:absolute;
	left:-4px;
	bottom:24px;
	}
.new_news .icon{
	width:55px;
	height:69px;
	background:url(../images/ico_time.png);
	position:absolute;
	left:-12px;
	top:1px;
	}
.new_news header{
	padding:10px 0 15px 44px;
	border-bottom:1px solid #E0E0E0;
	}
.new_news h2{
	font-size:18px;
	color:#171920;
	}
.new_news h6{
	color:#D10F44;
	}
.new_news ul li{
	border-bottom:1px solid #E0E0E0;
	}
.new_news ul li a{
	display:block;
	color:#020309;
	text-decoration:none;
	transition:all 0.2s ease-in-out;
	padding: 11px 10px 11px 15px;
	}
.new_news ul li a:hover{
	background-color:#fff;
	background-color: rgba(255,255,255,0.7);
	color:#008BB3;
	}
.new_news ul li a:active{
	transition: none;
	box-shadow:inset 0 0 10px rgba(0,0,0,0.2);
	background-color:#fff;
	color:#000;
	}
.new_news ul li a div{
	cursor:pointer;
	color:#a4a4a4;
	padding-bottom: 6px;
	transition:all 0.2s ease-in-out;
	position:relative;
	}
.new_news ul li a:hover div{ color:#222;}
.new_news ul li a p{
	line-height:1.15;
	position:relative;
	}
.new_news ul li a:active p, .new_news ul li a:active div{ top:1px;}
	

/*FOOTER*/
#footer{
	height:61px;
	padding-top:1px;
	background:url(../images/header_texture.jpg) center top;
	}
#footer section{
	width:938px;
	height:60px;
	border-top:1px solid #D2D1D7;
	margin:0 auto;
	background:url(../images/bg_footer.png) no-repeat 275px bottom;
	position:relative;
	}
#footer .count{
	float:left;
	box-shadow:0 6px 8px #AEA3A2;
	width:88px;
	height:31px;
	margin: 11px 20px 0 -2px;
	}
#footer .logo{
	transition:all 0.3s ease-in-out;
	width:52px;
	height:37px;
	background:url(../images/footer_logo.png);
	float:left;
	opacity:0.31;
	margin:9px 5px 0 0;
	}
#footer .logo:hover{ opacity:0.7;}
#footer .logo:active{ opacity:1; transition:none;}
#footer .copy{
	float:left;
	margin:6px 0 0 5px;
	color:#666;
	}
.empire_web{
	padding-right:45px;
	height:41px;
	background:url(../images/empire_web.png) no-repeat right center;
	position:absolute;
	right:0;
	top:10px;
	font-size:12px;
	line-height:41px;
	}
.empire_web a{
	text-decoration:none;
	color:#CF0038;
	}
.empire_web a span{
	text-decoration:underline;
	}
.empire_web a:hover{ color:#0099E8;}

input[type="text"], input[type="search"], input[type="password"], input[type="email"], textarea{
	border:1px solid #C0A5AC;
	padding:0 15px;
	height:28px;
	border-radius:3px;
	font:13px Arial, Helvetica, sans-serif;
	.line-height:34px;
	}
textarea{
	resize: none;
	padding:10px 15px;
	height:auto;
	overflow:hidden;
	line-height:normal;
	}
input[type="text"]:hover, input[type="password"]:hover, input[type="email"]:hover, input[type="search"]:hover textarea:hover{border-color: #8E797E;}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="search"]:focus, textarea:focus{
	border-color:#279cee;
	}
	
/*MSG MODAL*/
.msg_modal{
	width:344px;
	padding:43px 0 24px 65px;
	background:#F0F0F0 url(../images/bg_modal.jpg) no-repeat center top;
	border:4px solid #E2D8DD;
	border-radius:8px;
	position: relative;
	min-height:100px;
	color:#171920;
	}
.msg_modal:before{
	content: '';
	width:65px;
	height:56px;
	background:url(../images/ico_msg.png);
	position:absolute;
	left:-15px;
	top:43px;
	}
.msg_modal header{
	padding-bottom:21px;
	}
.msg_modal h3{
	font-size:22px;
	line-height: 1.07;
	padding-bottom: 8px;
	}
.msg_modal h6{
	font-size:16px;
	padding-bottom:5px;
	}
.msg_modal h6:nth-child(3){
	padding-bottom:9px;
	}
.msg_modal header p{
	color:#cf0038;
	line-height:1;
	}
.msg_modal input[type="text"], .msg_modal input[type="email"]{
	height: 35px;
    width: 259px;
	}
.msg_modal textarea{
    width: 259px;
	height:90px;
	}
.shadow-i{
	padding-bottom: 21px;
	background:url(../images/shadow_input.png) no-repeat center bottom;
	height:33px;
	width:292px;
	margin-bottom:4px;
	}
.shadow-i:nth-child(4){
	margin-bottom:13px;
	}
.shadow-t{
	padding-bottom: 21px;
	background:url(../images/shadow_textarea.png) no-repeat center bottom;
	height:113px;
	width:292px;
	margin-bottom:8px;
	}

.send_btn{
	width:139px;
	height:36px;
	position:relative;
	background:url(../images/send_btn.png);
	color:#fff;
	font-size: 16px;
	line-height:34px;
	text-align: center;
	text-shadow:1px 1px 1px rgba(118,0,22,0.61);
	border-radius:2px;
	}
.send_btn:hover{
	text-shadow:1px 1px 1px rgba(118,0,22,0.61), 0 1px 8px rgba(255,255,255,0.8), 0 -1px 8px rgba(255,255,255,0.8);
	}
.send_btn:active{
	text-shadow:0 1px 0 rgba(118,0,22, 1);
	line-height:36px;
	box-shadow:inset 0 2px 3px -2px rgba(0,0,0,0.9);
	}
.send_btn input{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:none;
	padding:0;
	border:0;
	cursor:pointer;
	z-index:2;
	}

.reveal-modal-bg { 
	position: fixed; 
	height: 100%;
	width: 100%;
	background: #000;
	z-index: 100;
	display: none;
	top: 0;
	left: 0; 
	}
.reveal-modal {
	visibility: hidden;
	top: 140px; 
	width: auto;
	position: absolute;
	z-index: 101;
	width:100%;
	}
.close-reveal-modal {
	font-size:28px;
	height:23px;
	width:22px;
	position: absolute;
	top:13px;
	right:15px;
	cursor: pointer;
	background:url(../images/close.png) no-repeat center;
	border:1px solid #C2B7BD;
	border-radius:4px;
	}
.close-reveal-modal:hover{
	background-color:#fff;
	}
.close-reveal-modal:active{
	border-color:#E80038;
	}
#modal_write_letter{
	width:418px;
	height:560px;
 	top:50%;
	left:50%;
	margin:-280px 0 0 -209px;
	}

/*STATIC PAGES*/
.static_wrapper{
	position:relative;
	padding:11px 0 115px;
	}
.static_wrapper h1{
	padding-left:3px;
	}	
	
.bg_line{
	width:100%;
	height:47px;
	background:url(../images/bg_line.png) no-repeat center top;
	position:absolute;
	left:0;
	top:10px;
	}

/*SIDEBAR*/
.sidebar{
	width:240px;
	float:left;
	margin-left:-2px;
	}
.sidebar .aside_section{
	margin-bottom:49px;
	}
#contacts .sidebar .aside_section{
	margin-bottom:40px;
	}

/*aside social network*/
.sidebar .social_network{
	padding:0 0 0 21px;
	}
.sidebar .social_network a{
	width:24px;
	height:23px;
	line-height:24px;
	margin-right:10px;
	font-size:14px;
	}
.sidebar .social_network a.fa-twitter{ font-size:17px;}

/*SIDEBAR NAV*/
.aside_nav{
	margin-left: -20px;
    padding:3px 0 34px;
	}
.aside_nav li{
	padding-right:4px;
	}
.aside_nav a{
	color: #020309;
    display:block;
    line-height: 1.2;
    padding:7px 15px 8px 24px;
    text-decoration: none;
	}
.aside_nav a:hover{
	background:url(../images/blue1_arrow.png) no-repeat 0 9px;
	color:#008bb3;
	}
.aside_nav a:active{
	text-decoration:underline;
	}
.aside_nav li.active a{
	background:none;
	cursor: default;
	color:#cf0038;
	text-decoration:none;
	}

/*DOCUMENTS*/
.documents{
	padding:0 0 23px 22px;
	}
.documents a{
	display:block;
	overflow:hidden;
	text-decoration:none;
	}
.documents li{
	padding-bottom:14px;
	}
.documents p{
	width:158px;
	float:right;
	font-size:12px;
	cursor:pointer;
	transition:all 0.3s ease-in-out;
	line-height:1.2;
	}
.documents a:hover .pdf + p span{color:#ce1115;}
.documents a:hover .xsl + p span{color:#278031;}
.documents a:hover .docs + p span{color:#0A59AB;}
.documents a:hover .ppt + p span{color:#C93A0E;}
.documents a:active p{
	color:#020309;
	transition:none;
	}
.documents p span{
	height:48px;
	display: table-cell;
	vertical-align:middle;
	cursor:pointer;
	transition:all 0.2s ease-in-out;
	text-decoration:underline;
	}
.documents a:hover span{
	text-decoration:none;
	}
.documents .icon{
	float:left;
	transition:all 0.3s ease-in-out;
	cursor:pointer;
	}
.documents a:hover .icon{
	opacity:0.8;
	}
.documents a:active .icon{
	opacity:1;
	transition:none;
	}
.documents .pdf{
	width:47px;
	height:51px;
	background:url(../images/pdf.png);
	}
.documents .xsl{
	width:47px;
	height:51px;
	background: url(../images/xsl.png);
	}
.documents .docs{
	width:50px;
	height:55px;
	background: url(../images/docx.png);
	}
.documents .ppt{
	width:51px;
	height:58px;
	background: url(../images/ppt.png);
	}
	

/*CONTENT*/
.static_wrapper .content{
	width:704px;
	float:right;
	}

/*PAGER NAV*/
.pages_nav{
	overflow:hidden;
	padding-bottom:22px;
	}
.pages_nav li{
	float: left;
    margin-right: 14px;
    padding-right: 25px;
	background:url(../images/nav_arrow.png) no-repeat right 4px;
	}
.pages_nav a{
	color:#a4a4a4;
	font-size: 12px;
	text-decoration:none;
	}
.pages_nav a:hover{
	color:#279cee;
	}
.pages_nav li .home{
	display:block;
	width:11px;
	height:12px;
	background:url(../images/home.png);
	position:relative;
	top:2px;
	}
.pages_nav li .home:hover{ background-position:bottom;}
.pages_nav li.active{
	background:none;
	}
.pages_nav li.active a{
	cursor: default;
	color:#020309;
	}

/*CERTIFICATES*/
.certificates{
	overflow:hidden;
	padding:9px 0 0 32px;
	}
.certificates li{
	float:left;
	width:204px;
	height:290px;
	}
.certificates .img{
	width:112px;
	height:168px;
	border:4px solid #DED8DB;
	padding:3px;
	position:relative;
	}
.certificates .img:before{
	content:'';
	width:125px;
	height:32px;
	background:url(../images/certificat_shadow.png);
	position:absolute;
	bottom:-36px;
	right:0;
	opacity:0.73;
	}
.certificates .img div{
	width:112px;
	height:168px;
	background:#fff url(../images/no_image.png) no-repeat center;
	}
.certificates li h6{
	line-height: 1.04;
    padding: 24px 50px 0 0;
	}
.certificates li h6 span{
	display:block;
	color:#cf0038;
	}

/*CONTACTS*/
#contacts .map{
	height:314px;
	background:url(../images/maps.jpg) no-repeat center top;
	position:absolute;
	width:100%;
	left:0;
	top:98px;
	border-top:3px solid #DED8DB;
	border-bottom:3px solid #DED8DB;
	z-index:2;
	}
#contacts .sidebar{
	position:relative;
	z-index:3;
	}

#contacts .contacts{
	padding:365px 0 15px 3px;
	}
#contacts .classic_text{
	color:#666;
	}

.aside_section .contact{
	position:relative;
	padding:10px 0 37px 0;
	}
.aside_section .contact:before{
	content:'';
	width:55px;
	height:68px;
	background:url(../images/ico_contact.png);
	top:2px;
	left:-29px;
	position:absolute;
	}
.aside_section hgroup{
	padding:0 0 15px 25px;
	}
.aside_section .contact h3{
	font-size:18px;
	}
.aside_section .contact h4{
	color:#cf0038;
	line-height:1;
	}
.aside_section .contact h6{
	font-size:14px;
	font-weight: bold;
	}
.aside_section .contact address{
	font-style: normal;
	}
.aside_section .contact li{
	padding-bottom:15px;
	}
.aside_section .contact li.phone{
	padding-bottom:21px;
	}
.aside_section .contact p span{
	color:#cf0038;
	}
.aside_section .contact .phone p{
	font-size:18px;
	}
.aside_section .contact li.phone + li p{
	padding-left:5px;
	}

/*NEWS*/
.news{
	padding:0 0 40px 0;
	}
.news h2{
    font-size: 18px;
    padding-bottom: 12px;
	}
.news h2 a{
	transition:all 0.3s ease-in-out;
	}
.news h2 a:hover{
	text-decoration:underline;
	color:#EA2548;
	}
.news p{
	color:#666;
	transition:all 0.3s ease-in-out;
	padding-right:15px;
	}
.news li{
	padding:8px 0 12px 14px;
	margin:0 0 18px -10px;
	transition:all 0.3s ease-in-out;
	}
.news li:hover{
	background-color:#fff;
	border-radius:3px;
	}
.news li:hover p{
	color:#222;
	}

.data-post{
	color: #a4a4a4;
    margin-bottom: 12px;
    padding-bottom: 6px;
    position: relative;
	}
.data-post:before{
	content:'';
	width:28px;
	height:0;
	border-top:1px solid #EA2548;
	border-bottom:1px solid #D11E3A;
	position:absolute;
	left:0;
	bottom:0;
	}

/*PAGER*/
.pager{
	border-top:1px solid #D2D3D6;
	box-shadow:inset 0 1px 0 #FAFCFB;
	padding:11px 0 11px 257px;
	overflow:hidden;
	margin:0 10px;
	}
.pager a{
	color:#cf0038;
	float:left;
	padding:2px 8px;
	transition:all 0.1s ease-in-out;
	border-radius:2px;
	margin:0 1px;
	border:1px solid transparent;
	}
.pager a:hover{
	background-color:#fff;
	color:#666;
	border-color:#d2d3d6;
	}
.pager a:active{
	transition:none;
	background-color:#008bb3;
	color:#fff;
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.3);
	border-color:#008bb3;
	}	
.pager a.active, .pager a.not{
	color:#a4a4a4;
	text-decoration:none;
	cursor: default;
	background:none;
	box-shadow:none;
	border-color:transparent !important;
	}

/*IP*/
.ip-section .classic_text{
	margin:3px 31px 10px 3px;
	}
.ip-section .classic_text p{
	color:#666;
	word-wrap:break-word;
	}

.ip_post{
	}
.ip_post li{
	padding-bottom:25px;
	}
.ip_post li > div{
	width:667px;
	}
.ip_post li h2{
	font-size:18px;
	color:#d60021;
	padding:0 0 8px 3px;
	}
.ip_post li h2 a{
	color:#d60021;
	text-decoration: none;
	transition:all 0.3s ease-in-out;
	}
.ip_post li h2 a:hover{
	color:#008bb3;
	}
.ip_post li > div:before{
	content:'';
	display:block;
	height:21px;
	background:url(../images/lines.png);
	}
.ip_post li > div:after{
	content:'';
	display:block;
	height:21px;
	background:url(../images/lines.png) bottom;
	}
.ip_post .img{
	width:204px;
	height:111px;
	float:left;
	overflow:hidden;
	padding:1px;
	border:5px solid #DED8DB;
	margin:0 20px 10px 15px;
	}
.ip_post p{
	padding:0 20px 12px 18px;
	}

/*KPM WELLCOME*/
.kpm_wellcome{
	padding:17px 22px 44px 0;
	}
.kpm_wellcome section{
	float:right;
	width:500px;
	padding:13px 20px 15px 22px;
	background: url(../images/transparent.png);
	position:relative;
	border-radius:3px 16px 5px 2px;
	}
.kpm_wellcome .icon{
	width:55px;
	height:56px;
	background:url(../images/ico_smille.png);
	position:absolute;
	right:-10px;
	top:0;
	}
.kpm_wellcome section:before{
	content:"";
	width:57px;
	height:64px;
	background:url(../images/apostrophe.png);
	position:absolute;
	left:-57px;
	top:0;
	}
.kpm_wellcome section:after{
	content:"";
	width:517px;
	height:34px;
	background: url(../images/shadow_quote.png);
	position:absolute;
	right:0;
	bottom:-34px;
	}
.kpm_wellcome em{
	display:block;
	text-align:right;
	color:#D60021;
	padding:5px 15px 4px 0;
	}
.kpm_wellcome section p{
	color:#020309 !important;
	}
.about .classic_text p{
	color:#666;
	padding-bottom:15px;
	}
.about .classic_text{
	padding:0 10px 5px 2px;
	}
.about h2{
	color:#D60021;
	padding-bottom:10px;
	}
.content .line{
	border-top:1px solid #CFD1D5;
	border-bottom:1px solid #FBFBFC;
	display:block;
	height:0;
	margin:35px 0 17px -253px;
	width:938px;
	}

/*Style Gallery PIKACHOOSE.js*/
.pikachoose{
	padding-bottom:100px;
	}
.pikachoose h3{
	font-size:22px;
	padding-bottom:15px;
	}
.pika-thumbs{
	float: left;
    padding: 0 0 0 10px;
    width: 120px;
	}
.pika-thumbs li{
	background: none repeat scroll 0 0 #fafafa;
    border: 2px solid #ded8db;
    border-radius: 2px;
    cursor: pointer;
    float: left;
    height: 45px;
    margin: 0 9px 9px 0;
    overflow: hidden;
    width: 45px;
	}
.pika-thumbs li .clip{
	position:relative;
	height:100%;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	}
.pika-thumbs li .clip img{
	position:relative;
	left:-5px;
	}	

/* The stage is the wrapper. The image fills 100% the height of the stage */
.pika-stage {
	position: relative;
	border:4px solid #DED8DB;
	padding:3px;
	text-align:center;
	width:448px;
	height:243px;
	float:left;
	}
.pika-stage:before{
	content:"";
	width:460px;
	height:33px;
	background:url(../images/shadow_photogallery.png);
	position:absolute;
	bottom:-37px;
	right:0;
	}
.pika-stage img{height:100%;}
.pika-stage .caption {
	color: #d11e3a;
    font-size: 12px;
    line-height: 16px;
    padding: 0 0 13px 8px;
    position: relative;
    text-align: left;
	}
.pika-stage .caption:before{
	content:"";
	width:2px;
	height:14px;
	border:1px solid #E9A7B7;
	border-radius:2px;
	border-right:0;
	position:absolute;
	left:0;
	top:0;
	}
.pika-stage .caption p {
	padding: 0;
	margin: 0;
	line-height: 14px;
	}

/* Ths play, pause, prev and next buttons */
.pika-imgnav a {position: absolute;display: none;z-index:3;}
	.pika-imgnav a.previous {background: url(../images/prev.png) no-repeat left 45%; height: 100%; width: 50px; top: 10px; left: 10px;cursor:pointer;}
	.pika-imgnav a.next {background: url(../images/next.png) no-repeat right 45%; height: 100%; width: 50px; top: 10px; right: 10px;cursor:pointer;}
	.pika-imgnav a.play {background: url(../images/play.png) no-repeat 0% 50%; height: 100px; width: 44px;top:0;left:50%;display: none;cursor:pointer;}
	.pika-imgnav a.pause {background: url(../images/pause.png) no-repeat 0% 50%; height: 100px; width: 44px;top:0;left:50%;display:none;cursor:pointer;}

/* The previous and next textual buttons */
.pika-textnav {
	margin-left: -7px;
    padding: 20px 0 16px;
    position: relative;
	}
.pika-textnav a.previous {
	left:0;
	}
.pika-textnav a.next {
	left:56px;
	}
.pika-textnav a.previous, .pika-textnav a.next{
	color: #FFF;
	font-size: 15px;
	width:12px;
	height:12px;
	border:2px solid #545253;
	line-height:12px;
	color:#545253;
	border-radius:9px;
	transition:all 0.3s ease-in-out;
	cursor:pointer;
	position:absolute;
	bottom:0;
	}
.pika-textnav a.previous:hover, .pika-textnav a.next:hover{
	border-color:#cf0038;
	color:#cf0038;
	}

/*for the tool tips*/
.pika-tooltip{font-size:12px;position:absolute;color:white;padding:3px; background-color: rgba(0,0,0,0.7);border:3px solid black;}
.pika-counter{
	font-size:12px;
	width:40px;
	line-height:16px;
	position:absolute;
	left:16px;
	bottom:0;
	}
.pika-counter span{
	color:#cf0038;
	}

/* If using user thumbnails there's a pause well the new large image loads. This is the loader for that */		
.pika-loader{ background:url(../images/loading.gif) 3px 3px no-repeat #000; background-color:rgba(0,0,0,0.9); color:white; width:60px; font-size:11px; padding:5px 3px; 
	text-align:right; position:absolute; top:15px; right:15px; }

.partnets > ul{
	width:667px;
	padding-bottom:20px;
	}
.partnets > ul > li{
	overflow:hidden;
	position:relative;
	padding:0 0 18px 0;
	margin-bottom:30px;
	}
.partnets > ul > li:before{
	content:"";
	display:block;
	height:21px;
	background:url(../images/lines.png) no-repeat 0 0;
	}
.partnets > ul > li:after{
	content:"";
	display:block;
	height:21px;
	background:url(../images/lines.png) no-repeat 0 bottom;
	position:absolute;
	width:100%;
	left:0;
	bottom:0;
	}
.partnets .left{
	float:left;
	padding:23px 7px 0;
	width:144px;
	position:relative;
	}
.partnets .left:before{
	content:"";
	width:28px;
	border-top:1px solid #EA2548;
	border-bottom:1px solid #D11E3A;
	position:absolute;
	left:7px;
	top:0;
	}
.partnets .left .img{
	height:60px;
	}
.partnets .left p{
	line-height:1.1;
	}
.partnets .left p span{
	display:block;
	color:#cf0038;
	}
.partnets article{
	width:480px;
	padding:4px 20px 0 0;
	float:right;
	}
.partnets article p{
	padding-bottom:15px;
	}
.partnets article p span{
	color:#cf0038;
	}
.partnets ul ul{
	padding-top:6px;
	}
.partnets ul ul li{
	padding-bottom:5px;
	}
.partnets ul ul li span{
	font-size:12px;
	color:#ce0038;
	display:inline-block;
	margin-right:6px;
	}
.partnets table{
	width:100%;
	}
.partnets table td{
	vertical-align: top;
	}
.partnets table .img{
	display:inline-block;
	padding:1px;
	border:5px solid #E4E0E2;
	margin:0 15px 10px 0;
	}
.partnets table .img img{
	display:block;
	max-width:204px;
	min-height:100px;
	}

/*SEARCH*/
.bg_search{
	height:148px;
	background:url(../images/search_bg.png) no-repeat 0 0;
	position:absolute;
	left:0;
	top:8px;
	width:100%;
	}
.search_site h1{
	padding-bottom:10px;
	}
.block_search{
	padding:16px 0 0 0;
	width:692px;
	height:100px;
	background:url(../images/block_search.png);
	margin:0 0 -16px -7px;
	}
.block_search form{
	padding:0 0 0 37px;
	width:576px;
	position:relative;
	}
.block_search input[type="search"], .block_search input[type="text"]{
	padding:0 28px 0 14px;
	height:32px;
	border-color:#E7E3DB;
	width:532px;
	transition:all 0.4s ease-in-out;
	}
.block_search input[type="search"]:focus, .block_search input[type="text"]:focus{
	border-color:#F4BE2C;
	box-shadow:0 0 7px rgba(244,190,44,0.6);
	}
.block_search input[type="search"]:hover, .block_search input[type="text"]:hover{ border-color:#C9C9C9;}
.block_search input[type="search"]:focus + .fa-search, .block_search input[type="text"]:focus + .fa-search{
	color:#555;
	}
.block_search .fa-search{
	color: #da1c39;
    font-size: 17px;
    position: absolute;
    right: 7px;
    top: 7px;
	transition:all 0.2s ease-in-out;
	}
.block_search .fa-search:hover{
	color:#000 !important;
	}
.block_search .fa-search input{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	cursor:pointer;
	background: none;
	padding:0;
	border:0;
	}
.block_search p{
	font-size:12px;
	color:#666;
	padding:4px 0 0 52px;
	}

.search_site header{
	padding:0 0 17px 11px;
	color:#020309;
	}
.search_site header > span{
	color:#666;
	}
.search_site header p{
	margin:0 0 16px -2px;
	}
.search_site header p span{
	color:#cf0038;
	}

.search_list{
	padding:0 0 0 10px;
	}
.search_list li{
	position:relative;
	width:667px;
	margin-bottom:29px;
	}
.search_list li:before{
	content:'';
	display:block;
	height:21px;
	background:url(../images/lines.png);
	margin-bottom:-2px;
	}
.search_list li:after{
	content:'';
	display:block;
	height:21px;
	background:url(../images/lines.png) bottom;
	}
.search_list h2{
	font-size: 18px;
    padding: 0 0 9px 16px;
	}
.search_list strong{
	font-weight:bold;
	}
.search_list nav{
	font-size: 12px;
    overflow: hidden;
    padding: 0 0 0 16px;
	margin-bottom:-1px;
	}
.search_list nav h6{
	border-top: 2px solid #ea2548;
    float: left;
    margin-right: 14px;
    padding: 7px 0 0;
	}
.search_list li > p{
	padding:0 0 14px 16px;
	color:#666;
	min-height:48px;
	}
.search_list nav p{
	background: url("../images/nav_arrow.png") no-repeat scroll right 13px rgba(0, 0, 0, 0);
    float: left;
    margin-right: 9px;
    padding: 9px 14px 0 0;
	}
.search_list nav a{
	transition:all 0.3s ease-in-out;
	text-decoration:underline;
	}
.search_list nav p:last-child{
	background:none;
	}
.search_list nav a:hover{
	color:#ea2548;
	}
.search_list nav a:active{
	transition:none;
	color:#111;
	}

@media all and (-webkit-min-device-pixel-ratio:0) {
.search div input{
	height:23px;
	width:153px;
	}
.search div input.focus{ width:210px;}
}

/*Style IE8*/
@media \0screen {
.search div input{ line-height:21px; padding-right:0;}
input[type="text"], input[type="password"], input[type="email"]{ line-height:34px;}
}