/* Large Devices, Wide Screens */
@media only screen and (max-width : 1600px) {
.brand-box {
	left: 15px;
}
.bottom-line {
    width: calc(100% - 465px);
    right: 15px;
}
.content-text {
	padding-left: 275px;
}
.i-bar {
	right: 15px;
}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
.wrap-1450 {
	min-height: 800px;
}
.main-slider {
	height: 550px;
}
.content {
	min-height: auto;
	height: auto;
	top: inherit;
	top: 550px;
}
.content-text {
	font-size: 23px;
	padding-top: 40px;
}
.content-text br {
	display: none;
}
.menu-link {
	font-size: 30px;
	margin-bottom: 0;
}
.social a {
	font-size: 40px;
	height: 45px;
	width: 45px;
	text-align: right;
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
.wrap-1450 {
	display: flex;
	flex-direction: column;
}
.main-slider {
	height: 340px;
}
.content {
	position: relative;
	top: inherit;
	padding-bottom: 20px;
}
.content-text {
    padding: 15px 15px 15px 200px;
    font-size: 20px;
}
.content .i-bar {
	display: none;
}


.brand-box {
	bottom: 0;
	width: 300px;
	height: 265px;
}
.logo {
	width: 250px;
	height: 24px;
}

.i-map {
	width: 100px;
	height: 115px;
	background: url('../img/i-map-phone.png');
	left: 76px;
    top: 0;
}
.i-map:hover,
.i-map:active {
	background-position: 0 -115px;
}
.brand-element {
	width: 180px;
	height: 141px;
	background-size: cover;
	top: inherit;
	bottom: 30px;
}
.bottom-line {
	bottom: 12px;
	width: calc(100% - 330px);
}

.phone-bar {
	display: block;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: auto;
	padding: 0 50px 15px;

	& .social {
		position: static;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		padding-left: 15px;

		& a {
			width: auto;
			height: auto;
			display: inline-block;
			font-size: 30px;
			align-items: center;
			margin-right: 10px;

			&:hover {
				transform: inherit;
			}
		}
	}
	& .menu-link {
		position: static;
		margin: 0;
	}
}

.phone-call {
	display: block;
	width: 50px;
	height: 20px;
	background: url('../img/i-phone.png');
	margin-right: 15px;

	&:hover,
	&:active {
		background-position: 0 bottom;
	}
}

.main-slider {
	height: auto;
}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

.aside-menu {
	width: 100%;
}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}