// Colors
$color-dark: #323232;

$color-silver: #adadad;

$color-blue: #076cb1;

$color-orange: #fbb32c;
$color-orangelight: #ffc73c;

$color-green: #23C923;
$color-greenlight: #57E457;

$color-red: #ff4300;