@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:700');

@font-face {
  font-family: 'BankGothicBT-Light';
  src: url('../fonts/BankGothicBT-Light/BankGothicBT-Light.eot?#iefix') format('embedded-opentype'),
  	   url('../fonts/BankGothicBT-Light/BankGothicBT-Light.woff') format('woff'),
  	   url('../fonts/BankGothicBT-Light/BankGothicBT-Light.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Circe-ExtraBold';
  src: url('../fonts/Circe-ExtraBold/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
  	   url('../fonts/Circe-ExtraBold/Circe-ExtraBold.woff') format('woff'),
  	   url('../fonts/Circe-ExtraBold/Circe-ExtraBold.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}