/* Large Devices, Wide Screens */
@media only screen and (max-width : 1600px) {
.brand-box {
	left: 15px;
}
.bottom-line {
    width: calc(100% - 465px);
    right: 15px;
}
.content-text {
	padding-left: 275px;
}
.i-bar {
	right: 15px;
}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
.wrap-1450 {
	min-height: auto;
	height: 100%;
}
.main-slider {
	height: 550px;
}
.content {
	min-height: auto;
	height: auto;
	top: inherit;
	top: 550px;
}
.content-text {
	font-size: 23px;
	padding-top: 40px;
}
.content-text br {
	display: none;
}
.menu-link {
	font-size: 30px;
	margin-bottom: 0;
}
.social a {
	font-size: 40px;
	height: 45px;
	width: 45px;
	text-align: right;
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
.wrap-1450 {
	display: flex;
	flex-direction: column;
}
.main-slider {
	height: 260px;
}
.content {
	position: relative;
	top: inherit;
	padding-bottom: 20px;
}
.content-text {
    padding: 15px 15px 15px 200px;
    font-size: 20px;
}
.content .i-bar {
	display: none;
}



.brand-box {
	bottom: 0;
	width: 300px;
	height: 265px;
}
.logo {
	width: 250px;
	height: 24px;
}

.i-map {
	width: 100px;
	height: 115px;
	background: url('../img/i-map-phone.png');
	left: 76px;
    top: 0;
}
.i-map:hover,
.i-map:active {
	background-position: 0 -115px;
}
.brand-element {
	width: 180px;
	height: 141px;
	background-size: cover;
	top: inherit;
	bottom: 30px;
}
.bottom-line {
	bottom: 12px;
	width: calc(100% - 330px);
}

.phone-bar {
	display: block;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: auto;
	padding: 0 50px 15px;

	& .social {
		position: static;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		padding-left: 15px;

		& a {
			width: auto;
			height: auto;
			display: inline-block;
			font-size: 30px;
			align-items: center;
			margin-right: 10px;

			&:hover {
				transform: inherit;
			}
		}
	}
	& .menu-link {
		position: static;
		margin: 0;
	}
}

.phone-call {
	display: block;
	width: 50px;
	height: 20px;
	background: url('../img/i-phone.png');
	margin-right: 15px;

	&:hover,
	&:active {
		background-position: 0 bottom;
	}
}

.main-slider {
	height: auto;
}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

.aside-menu {
	width: 100%;
}

.main-slider {
	height: 260px;
}
.product-slider {
	height: 260px;
}
.product-img {
	height: 100%;
}
.product-slider.owl-carousel .owl-item img {
	display: inline;
	width: auto;
	height: 100%;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
	width: 52px;
	height: 60px;
	background-size: cover;
}
.owl-carousel .owl-nav button.owl-prev {
	left: 12px;
}
.owl-carousel .owl-nav button.owl-next {
	left: inherit;
	right: 12px;
}
.owl-carousel .owl-nav button.owl-prev:active,
.owl-carousel .owl-nav button.owl-prev:focus {
	left: 8px;
}

.owl-carousel .owl-nav button.owl-next:active,
.owl-carousel .owl-nav button.owl-next:focus {
	left: inherit;
	right: 8px;
}

.brand-box {
	width: 100%;
	height: 200px;
	left: 0;
	bottom: 0;
}
.brand-element {
	bottom: 30px;
}
.bottom-line {
	display: none;
}
.content-text {
	padding-top: 50px;
	padding-left: 170px;
	font-size: 13px;
}
.logo {
	width: 200px;
	height: 19px;
	right: inherit;
	left: 50%;
	margin-left: -100px;
}
.i-map {
	top: -72px;
}

.owl-dot {
	margin: 0 1px;
	width: 12px;
}
.owl-dot span {
	width: 12px;
	height: 6px;
}
.owl-dot span:before {
	border-left-width: 6px;
	border-right-width: 6px;
	border-bottom-width: 3px;
	top: -3px;
}
.owl-dot span:after {
	border-left-width: 6px;
	border-right-width: 6px;
	border-top-width: 3px;
	bottom: -3px;
}

.menu-link {
	font-size: 20px;
}

.phone-bar {
	padding-left: 20px;
	padding-right: 20px;
}
.phone-bar .social {
	padding-left: 0;

	& a {
		font-size: 20px;
	}
}
.phone-call {
	margin-right: 0;
	width: 40px;
	height: 16px;
	background-size: cover;
}

.aside-menu {
	padding: 50px 15px 15px;
	font-size: 16px;

	& h3 {
		font-size: 18px;
	}
}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}