@media (min-height: 600px) {

	.section-title {
		padding: 40px 0;

		&::before {
			transform: translateY(-50%) scale(.8);
		}
	}

	.blockquote {
		margin: 2% 0;
	}

	.section-company {
		padding-bottom: 15px;
	}

	.company-features {
		padding: 0;
	}

	.text-presentation {
		border-left-width: 4px;
		padding-bottom: 0;
	    margin-left: -3px;

		& h3 {
			font-size: 20px;
		}
		& p {
			font-size: 15px;
		}
	}

	.company-features {
		& .col {
			padding-bottom: 0;
		}
		& i {
			font-size: 30px;
		}
		& h4 {
			font-size: 16px;
			margin: 4px 0 12px;

			&::after {
				height: 3px;
			}
		}
		& p {
			font-size: 14px;
		}
	}

	.video-block {
		font-size: 15px;

		&--img {
			width: 280px;
			height: 180px;
			border-width: 4px;
		}
	}

	.doc-link {
		margin: 0;
		font-size: 14px;

		& .icon-pptx {
			font-size: 20px;
		}
	}


	.our-client {
		& .container-fluid--white {
			position: relative;
			z-index: 1;
			padding-bottom: 1px;
		}

		& .blockquote {
			margin: 0 81px;
		    border-left-width: 5px;
		    font-size: 16px;
		}

		&--item {
			padding-bottom: 10px;

			& p {
				font-size: 16px;
			}
		}
	}


	.m-code--tabs {
		& .container-fluid--white {
			padding-bottom: 15px;
		}
	}
	.m-tabs-nav__link {
		font-size: 17px;
	}

	.our-product {
		&--article {
			& h2 {
				margin-bottom: 15px;
				font-size: 20px;
			}
			& h4 {
				font-size: 15px;
			}
			& p {
				font-size: 15px;
				margin-bottom: 0;
			}
		}

		&--img {
			padding: 50px 15px 50px 0;
		}

		&--info {
			padding-top: 150px;
		}
	}

	.specifica-list {
		& p {
			padding-bottom: 10px;
		}
	}

	.done-gost {
		& strong {
			padding-bottom: 10px;
		}
	}


	.accordion {
		& a {
			font-size: 16px;
			padding: 10px 0;
		}
		& p {
			font-size: 15px;
		    padding: 15px 25px 15px 30px;
		}
	}

	.counseling {
		& blockquote {
			padding-top: 25px;
			padding-bottom: 20px;
		}
	}

	.contact {
		&-list {
			& .tel {
				font-size: 16px;
			}
			& li {
				& .container-fluid {
					padding-top: 5px;
					padding-bottom: 5px;
				}
				&:last-child p {
					font-size: 14px;
					margin-bottom: 5px;
				}
				&:last-child .tel {
					font-size: 14px;
				}
			}
		}

		&-info {
			font-size: 16px;

			& [class*=icon] {
				font-size: 23px;
			}
			& .icon-mail {
				font-size: 24px;
			}
			& .icon-location {
			    font-size: 28px;
			    left: -1px;
			}
			& li {
				padding: 2px 0;
			}

			&--item {
			    padding-left: 40px;
			}
		}

		&-wrap {
		    height: calc(100% - 200px);
		}
	}

	.footer {
		height: 200px;
		border-bottom-width: 3px;

		& &-copyright {
			margin: 0;
			font-size: 13px;
		}
	}

	.logo-white {
		margin-bottom: 5px;
	}

	.mail-send {
		height: 160px;

		& header {
			padding-top: 15px;
			padding-bottom: 15px;
		}
		& form {
			padding-bottom: 10px;
		}
	}

}


@media (min-height: 720px) {
	.section-title {
		padding: 60px 0;

		&::before {
			transform: translateY(-50%) scale(1);
		}
	}

	.blockquote {
		margin: 2% 0;
	}

	.section-company {
		padding-bottom: 25px;
	}

	.company-features {
		padding: 0;
	}

	.text-presentation {
		border-left-width: 4px;
		padding-bottom: 0;
	    margin-left: -3px;

		& h3 {
			font-size: 22px;
		}
		& p {
			font-size: 16px;
		}
	}

	.company-features {
		& .col {
			padding-bottom: 5px;
		}
		& i {
			font-size: 40px;
		}
		& h4 {
			font-size: 17px;
			margin: 4px 0 12px;

			&::after {
				height: 3px;
			}
		}
		& p {
			font-size: 15px;
		}
	}

	.video-block {
		font-size: 15px;

		&--img {
			width: 280px;
			height: 180px;
			border-width: 4px;
		}
	}

	.doc-link {
		margin: 0;
		font-size: 14px;

		& .icon-pptx {
			font-size: 20px;
		}
	}


	.our-client {
		& .container-fluid--white {
			position: relative;
			z-index: 1;
			padding-bottom: 1px;
		}

		& .blockquote {
			margin: 0 81px;
		    border-left-width: 5px;
		    font-size: 16px;
		}

		&--item {
			padding-bottom: 10px;

			& p {
				font-size: 16px;
			}
		}
	}


	.m-code--tabs {
		& .container-fluid--white {
			padding-bottom: 15px;
		}
	}
	.m-tabs-nav__link {
		font-size: 17px;
	}

	.our-product {
		&--article {
			& h2 {
				margin-bottom: 20px;
				font-size: 22px;
			}
			& h4 {
				font-size: 17px;
			}
			& p {
				font-size: 16px;
				margin-bottom: 0;
			}
		}

		&--img {
			padding: 50px 15px 50px 0;
		}

		&--info {
			padding-top: 150px;
		}
	}

	.specifica-list {
		& p {
			padding-bottom: 15px;
		}
	}

	.done-gost {
		& strong {
			padding-bottom: 10px;
		}
	}


	.accordion {
		& a {
			font-size: 16px;
			padding: 10px 0;
		}
		& p {
			font-size: 15px;
		    padding: 15px 25px 15px 30px;
		}
	}

	.counseling {
		& blockquote {
			padding-top: 25px;
			padding-bottom: 20px;
		}
	}

	.contact {
		&-list {
			& .tel {
				font-size: 16px;
			}
			& li {
				& .container-fluid {
					padding-top: 5px;
					padding-bottom: 5px;
				}
				&:last-child p {
					font-size: 14px;
					margin-bottom: 5px;
				}
				&:last-child .tel {
					font-size: 14px;
				}
			}
		}

		&-info {
			font-size: 16px;

			& [class*=icon] {
				font-size: 23px;
			}
			& .icon-mail {
				font-size: 24px;
			}
			& .icon-location {
			    font-size: 28px;
			    left: -1px;
			}
			& li {
				padding: 2px 0;
			}

			&--item {
			    padding-left: 40px;
			}
		}

		&-wrap {
		    height: calc(100% - 200px);
		}
	}

	.footer {
		height: 200px;
		border-bottom-width: 3px;

		& &-copyright {
			margin: 0;
			font-size: 13px;
		}
	}

	.logo-white {
		margin-bottom: 5px;
	}

	.mail-send {
		height: 160px;

		& header {
			padding-top: 15px;
			padding-bottom: 15px;
		}
		& form {
			padding-bottom: 10px;
		}
	}
}