@import url(reset.css);
/*FONTS*/
@font-face {
	font-family: 'FuturaLightLight';
	src: url('fonts/FuturaLight Light.eot');
	src: local('☺'), url('fonts/FuturaLight Light.woff') format('woff'),
		 url('fonts/FuturaLight Light.ttf') format('truetype'),
		 url('fonts/FuturaLight Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'fontello';
  src: url('icons/fontello.eot?16188964');
  src: url('icons/fontello.eot?16188964#iefix') format('embedded-opentype'),
       url('icons/fontello.woff?16188964') format('woff'),
       url('icons/fontello.ttf?16188964') format('truetype'),
       url('icons/fontello.svg?16188964#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?16188964#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  position: relative;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-phone-circled:before { content: '\e800';}
.icon-mail:before { content: '\e801';}
.icon-menu:before { content: '\e802';}
.icon-down-open-mini:before { content: '\e803';}
.icon-left-open-big:before { content: '\e804';}
.icon-right-open-big:before { content: '\e805';}
.icon-facebook:before { content: '\e806';}
.icon-twitter:before { content: '\e807';}
.icon-linkedin:before { content: '\e808';}
.icon-gplus:before { content: '\e809';}
.icon-instagram-filled:before { content: '\e80a';}


.float-l{ float:left;}
.float-r{ float:right;}

/* CLEARFIX */
.clearfix:before,
.clearfix:after {
   content: "";
   display: table;
}
.clearfix:after {
   clear: both;
}
/* для IE6-7 */
.clearfix {
   zoom: 1;
}
.clear{
	clear: both;
}
.hidden{
	display: none;
}


/*Elements*/
html{ height: 100%;}
body{
	height: 100%;
	line-height:1;
	background-color:#fff;
	color:#424242;
	font:22px 'FuturaLightLight';
}

:focus{
	outline: none;
}
::-webkit-input-placeholder {color:#a6a7a8; transition: all 0.5s ease;}
::-moz-placeholder {color:#a6a7a8; transition: all 0.5s ease;}
:-moz-placeholder {color:#a6a7a8; transition: all 0.5s ease;}
:-ms-input-placeholder {color:#a6a7a8; transition: all 0.5s ease;}

:hover::-moz-placeholder {color:#7C7C7D;}
:hover:-moz-placeholder {color:#7C7C7D;}
:hover::-webkit-input-placeholder {color:#7C7C7D;}
:hover:-ms-input-placeholder {color:#7C7C7D;}

:focus::-moz-placeholder {opacity: 0; transition: opacity 0.5s ease;}
:focus:-moz-placeholder {opacity: 0; transition: opacity 0.5s ease;}
:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.5s ease;}
:focus:-ms-input-placeholder {opacity: 0; transition: opacity 0.5s ease;}

input[type="text"],
input[type="email"],
input[type="password"]{
	height: 41px;
	border:1px solid #ccc;
	padding: 0 11px;
	transition:all 0.3s ease-in-out;
	font:17px 'FuturaLightLight';
	border-radius: 1px;
}
input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover{
	box-shadow: 0 0 4px rgba(0,0,0,.2);
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus{
	box-shadow: 0 0 4px rgba(0,0,0,.4);
	border-color: #B1B1B1;
}

/*Wrapper*/
#wrapper{
	min-height: 100%;
	margin-bottom: -43px;
}
#container{
	padding-bottom: 43px;
}
.content-box{
	min-width: 480px;
	max-width: 1893px;
	margin: 0 auto;
	position: relative;
}
.fix{
	width: 1893px !important;
}

/*Шапка*/
#header{
	border-bottom: 9px solid #c5bca2;
}
#header .content-box{
	min-height: 166px;
}
#header .top{
	padding-bottom: 1px;
	background-color: #c5bca2;
	position: relative;
	color: #fff;
	margin-bottom: 20px;
}
.contact-top{
	padding: 12px 0 0 32%;
	float: left;
}
.contact-top p{
	float: left;
}
.contact-top i{
	float: left;
	position: relative;
}
.contact-top .phone{
	font-size: 17px;
	margin-right: 8px;
}
.contact-top .phone i{
	font-size: 21px;
	top: -1px;
	margin-right: 3px;
}
.contact-top .email{
	position: relative;
	top: -4px;
	letter-spacing: 0.014em;
}
.contact-top .email i{
	font-size: 21px;
	margin: 2px 1px 0 0;
}

.logo{
	height: 166px;
	width: 22.2%;
	background-color: #fff;
	position: absolute;
	left: 6.8%;
	top: 0;
	z-index: 1;
	padding-right: 1.7%;
	transition:all 0.3s ease-in-out;
}
.logo a{
	display: block;
	width: 280px;
	height: 135px;
	margin: 13px auto 0 auto;
	transition:all 0.3s ease-in-out;
}
.logo img{
	max-width: 100%;
	position: relative;
}
.logo a:hover{opacity: .85;}
.logo a:active{ opacity: 1;}
.logo a:active img{ top: 2px;}

/*Social Icons*/
.social-icons{
	float: right;
	padding: 6px 20px 0 0;
}
.social-icons a{
	float: left;
	height: 37px;
	border-radius: 2px;
	text-decoration: none;
	color: #fff;
	transition:all 0.3s ease-in-out;
	padding: 4px 0 0;
}

/*Language Switcher*/
#country-select {
	float: right;
	margin: 10px 10.2% 0 0;
	position: relative;
	z-index: 2;
	}
#country-select select,
#country-select input {
	display: inline;
	padding: 0;
	margin: 0;
	}

/* JS-created definition list */
.dropdown dd { position: relative; }

.dropdown a {
	text-decoration: none;
	display: block;
	width: 34px;
	height: 23px;
	position: relative;
	transition:all 0.3s ease-in-out;
	}
.dropdown .arrow{
	position: absolute;
	top: 23px;
	left: 8px;
	color: #fff;
	width: 15px;
	height: 5px;
	background: url("../images/sprite.png") -3px 0;
}
.dropdown:hover .arrow{ background-position: -3px -5px;}
.dropdown .active .arrow{ background-position: -3px -10px;}
.dropdown:hover .active .arrow{ background-position: -3px -15px;}

.dropdown dt a {
	height: 30px;
	}

.dropdown dt a.active {
	}

.dropdown dd ul {
	background: #fff;
	display: none;
	position: absolute;
	top: 0;
	left: -6px;
	padding: 5px;
	padding-bottom: 0;
	border:1px solid #C5BCA2;
	box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	}
.dropdown dd ul li{
	padding-bottom: 5px;
}
.dropdown dd ul li a {
	}

.dropdown dd ul li a span{
	float: left;
	width: 32px;
	height: 21px;
	background-image: url(../images/flags.jpg);
	cursor: pointer;
	border:1px solid #C5BCA2;
	border-radius:2px;
	transition:all 0.3s ease-in-out;
	}
.dropdown dd ul li a:hover span{
	border-color: #fff;
	box-shadow: 0 0 4px rgba(0,0,0,.4);
}
.dropdown dt a span{
	float: left;
	width: 32px;
	height: 21px;
	background-image: url(../images/flags.jpg);
	cursor: pointer;
	}

.tr a span { background-position: 0 0 }
.en a span { background-position: 0 -21px }
.ru a span { background-position: 0 -42px }

/*Main Menu*/
.nav{
	float: right;
	padding: 15px 0 0 0;
	position: relative;
	z-index: 1;
}
.nav ul{
	padding: 12px 0px 11px 0;
}
.nav li{
	float: left;
	font-size: 29px;
	position: relative;
	padding: 0 2px 16px 1px;
	text-transform: uppercase;
	text-align: center;
}
.nav li:before{
	content: '';
	width: 3px;
	height: 26px;
	position: absolute;
	background: url(../images/sprite.png) 0 0;
	left: -2px;
	top: 14px;
}
.nav li:first-child:before{ display: none;}
.nav li.active:after{
	content:' ';
	width: 23px;
	height: 23px;
	background: url(../images/sprite.png) -18px 0;
	position: absolute;
	left: 50%;
	bottom: 0;
	margin-left: -11px;
}
.nav li:first-child.active:after{
	margin-left: -3px;
}
.nav li.active a{
	cursor: default;
	top: inherit;
	box-shadow: none;
}
.nav li.active a:before{
	content:' ';
	width: 100%;
	height: 10px;
	background-color: #c5bca2;
	position: absolute;
	bottom: -27px;
	border-top: 1px solid #edebe3;
	right: 0;
}
.nav a{
	color: #505050;
	text-decoration: none;
	display: block;
	margin: 0 6px;
	padding:10px 18px 9px;
	letter-spacing:0.023em;
	border-radius: 3px;
	transition:all 0.2s ease-in-out;
	position: relative;
}
.nav a:hover{
	background: #f1f1f1;
}
.nav a:active{
	transition:none;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.5);
	top: 1px;
	background: #f1f1f1;
}
.nav li:first-child a div{
	width: 24px;
	height: 12px;
	background-color: #fff;
	position: absolute;
	left: 0;
	bottom: -11px;
}
.nav .active a:hover{
	background: none;
}
.nav .touch{
	display: none;
	overflow: hidden;
	padding: 1px 0 1px 0;
	border-top:1px solid #C5BCA2;
	height: 54px;
	line-height: 58px;
	text-transform: uppercase;
	cursor: pointer;
	background-color: #C5BCA2;
	color: #fff;
	text-shadow:0 1px 2px rgba(0,0,0,0.3);
	font-size: 30px;
}
.nav .touch i{
	padding: 1px 0 0 0;
	transition:all 0.3s ease-in-out;
	top: 1px;
	left: 6px;
	position: relative;
	font-size: 35px;
}

.wrapper-fotorama{
	position: relative;
	border-bottom: 1px solid #fff;
	max-width: 1893px;
	margin: 0 auto;
}
.wrapper-fotorama .location{
	position: absolute;
	left: 1.34%;
	top: 26px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
	padding-top: 76px;
	background: url(../images/location.png) no-repeat center top;
}
.wrapper-fotorama .weather{
	position: absolute;
	font-size: 34px;
	color: #fff;
	text-transform: uppercase;
	min-height: ;
	background: url(../images/weather.png) no-repeat right bottom;
	min-height: 91px;
	right: 0.84%;
	top: 20px;
	min-width: 120px;
	padding-right: 52px;
	line-height: 1.18;
}
.right-buttons{
	position: absolute;
	right: 0;
	bottom: 5px;
	z-index: 1;
}
.right-buttons a{
	float: left;
	height: 82px;
	background-color: #242424;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 34px;
	line-height: 88px;
	text-decoration: none;
	-ms-transition:background-color 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}
.right-buttons a:active{
	line-height: 90px;
}
.right-buttons .light{
	-webkit-transform: skew(-35deg);
	-moz-transform: skew(-35deg);
	-ms-transform: skew(-35deg);
	-o-transform: skew(-35deg);
	position: relative;
	right: -32px;
	padding: 0 40px;
	background-color: #A29060;
}
.right-buttons .light:hover{
	background-color: #AC9A48;
}
.right-buttons .light span{
	display: block;
	-webkit-transform: skew(35deg);
	-moz-transform: skew(35deg);
	-ms-transform: skew(35deg);
	-o-transform: skew(35deg);
	position: relative;
}
.right-buttons .light:active span{
	right: -1px;
}
.right-buttons .black{
	padding: 0 46px 0 100px;
}
.right-buttons .black:hover{
	background-color: #111;
}

.fotorama{
	max-width: 1920px;
	margin: 0 auto;
}
.fotorama__img{
	display: block;
	max-width: 100%;
}
.fotorama__nav-wrap{
	position: absolute;
	left: 0;
	bottom: 0;
}
.fotorama__nav__shaft{
	float: left;
}
.fotorama--fullscreen .fotorama__nav-wrap{
	display: none !important;
}

#sync1 .owl-item img{
	max-width: 100%;
	width: 100%;
	display: block;
}
.wrapper-fotorama #sync2{
	position: absolute;
	bottom: 13px;
}
.owl-pagination{
	position: absolute;
	left: 0;
	bottom: 10px;
	z-index: 1;
	width: 100%;
	text-align: center;
}
.owl-pagination div{
	width: 24px;
	height: 24px;
	display: inline-block;
	margin: 0 4px;
	background-color: #A29061;
	border:3px solid #A29061;
	border-radius: 15px;
	transition:all 0.3s ease-in-out;
	cursor: pointer;
}
.owl-pagination div:hover{
	background-color: #423E37;
	box-shadow: 0 0 3px rgba(0,0,0,0.6);
}
.owl-pagination div.active{
	background-color: #fff;
	cursor: default;
	box-shadow: none;
}

#sync2 .owl-item{
	width: 166px !important;
	height: 112px;
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-ms-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	overflow: hidden;
	border:1px solid #756D5B;
	transition:all 0.3s ease-in-out;
	position: relative;
	margin-right: 8px;
	cursor: pointer;
}
#sync2 .owl-item:first-child{
	margin-left: 30px;
}
#sync2 .owl-item:hover{
	border-color: #f1f1f1;
	box-shadow: 0 0 5px rgba(0,0,0,0.8);
}
#sync2 .owl-item.synced{
	border:2px solid  #fff;
	box-shadow: 0 0 5px rgba(0,0,0,0.8);
	top: -2px;
	cursor: default;
}
#sync2 .owl-item img{
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-ms-transform: skew(20deg);
	-o-transform: skew(20deg);
	position: relative;
	left: -20px;
}

#sync1 .owl-buttons {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	margin-top: -67px;
}
.owl-buttons div{
	height: 135px;
	position: absolute;
	width: 34px;
	background: url(../images/slider.png);
}
.owl-buttons .owl-prev{
	background-position: -67px 0;
	left: 2.64%;
	transition:margin-left 0.2s ease-in-out;
}
.owl-buttons .owl-prev:hover{
	background-position: -67px -135px;
	margin-left: -3px;
}
.owl-buttons .owl-prev:active{
	margin-left: -6px;
	transition:none;
}
.owl-buttons .owl-next{
	background-position: -101px 0;
	right: 2.64%;
	transition:margin-right 0.2s ease-in-out;
}
.owl-buttons .owl-next:hover
{
	background-position: -101px -135px;
	right: 2.64%;
	margin-right: -3px;
}
.owl-buttons .owl-next:active
{
	margin-right: -6px;
	transition:none;
}

/*    MODULE - "Form"    */
.wrapper-fotorama .privace-form{
	position: absolute;
	right: 5.49%;
	bottom: 116px;
}
.privace-form{
	width: 387px;
	padding: 15px 0 7px;
	background-color: #39342F;
	background-color: rgba(57,52,47,.91);
	-moz-transition:all 1s ease-in-out;
	-webkit-transition:all 1s ease-in-out;
	-ms-transition:all 1s ease-in-out;
	transition:all 1s ease-in-out;
	color: #FFE6B9;
	font-size: 17px;
	text-align: center;
}
.privace-form:hover, .privace-form.active{
	background-color: #12110F;
	background-color: rgba(18,17,15,.86);
}
.privace-form.active{ box-shadow: inset 0 0 150px rgba(0,0,0,.7);}

.privace-form h3{
	font-size: 25px;
	text-transform: uppercase;
	padding-bottom: 30px;
}
.privace-form h3 span{
	display: inline-block;
	padding: 0 42px;
	position: relative;
}
.privace-form h3 span:before,
.privace-form h3 span:after{
	content: "";
	width: 39px;
	height: 1px;
	border-top: 1px solid #C7532F;
	border-bottom: 1px solid #C7532F;
	position: absolute;
	top: 50%;
	margin-top: -5px;
}
.privace-form h3 span:before{left: 0;}
.privace-form h3 span:after{right: 0;}

.privace-form input[type="text"],
.privace-form input[type="email"]{
	background-color: #282421;
	border-color: #282421;
	transition:all 0.5s ease-in-out;
	color: #fff;
	margin:0 4px 15px 3px;
	width:250px;
}
.privace-form input[type="text"]:hover,
.privace-form input[type="email"]:hover{
	background-color: #302B28;
}
.privace-form input[type="text"]:focus,
.privace-form input[type="email"]:focus{
	-moz-transform: scale(1.08);
	-webkit-transform: scale(1.08);
	-ms-transform: scale(1.08);
	transform: scale(1.08);
	box-shadow:0 1px 4px rgba(0,0,0,0.8), inset 0 2px 1px -1px rgba(0,0,0,0.3);
	border-radius: 2px;
	background-color: #302B28;
}

.privace-form :hover::-moz-placeholder {color:#fff;}
.privace-form :hover:-moz-placeholder {color:#fff;}
.privace-form :hover::-webkit-input-placeholder {color:#fff;}
.privace-form:hover:-ms-input-placeholder {color:#fff;}

.privace-form:hover input[type="text"],
.privace-form:hover input[type="email"],
.privace-form.active input[type="text"],
.privace-form.active input[type="email"]{
	border-color: #885025;
}

.privace-form .group{display: inline-block;}
.privace-form .group.margin{margin-bottom: -4px;}
.privace-form .group input{
	width: 39px;
	float: left;
}
.privace-form .group input:first-child{width: 109px;}

.privace-form h5{
	text-align: left;
	padding: 0px 45px 14px;
	margin-top: -1px;
}
.privace-form h5.margin{ margin-bottom: -5px;}

.privace-form footer{
	margin: 11px -15px 26px;
	padding: 8px 0 8px 0;
	background-color: #c7532f;
	position: relative;
}
.privace-form footer:before,
.privace-form footer:after{
	content: '';
	width: 0;
	height: 0;
	border-top: 11px solid #a01f04;
	border-left: 15px solid transparent;
	position: absolute;
	left: 0;
	top: 100%;
}
.privace-form footer:after{
	border-left:none;
	border-right: 15px solid transparent;
	left: inherit;
	right: 0;
}
.privace-form footer > div{
	padding: 5px 0 7px;
	border-top: 5px solid #b95335;
	border-bottom: 5px solid #b95335;
}
.submit-btn{
	display: inline-block;
	position: relative;
	background-color: #fdd4ab;
	color: #3b3a36;
	font: 22px/45px impact;
	text-transform: uppercase;
	cursor: pointer;
	height: 43px;
	padding: 0 29px;
	border-radius:3px;
	transition:all 0.2s ease-in-out;
	border: 1px solid #fdd4ab;
}
.submit-btn:hover{
	background-color: #fff;
	border-color:#fff;
	-moz-transform: scale(1.04);
	-webkit-transform: scale(1.04);
	-ms-transform: scale(1.04);
	transform: scale(1.04);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}
.submit-btn:active{
	line-height: 45px;
	transition:none;
	top: 1px;
	-moz-transform: scale(1.04);
	-webkit-transform: scale(1.04);
	-ms-transform: scale(1.04);
	transform: scale(1.04);
	box-shadow: inset 0 2px 2px -1px rgba(0,0,0,0.5);
}
.submit-btn input{
	width: 100%;
	height: 100%;
	border:none;
	background: transparent;
	position: absolute;
	left: 0;
	top: 0;
	cursor: pointer;
}

/*    end MODULE - "Form"    */

/*Footer*/
#footer{
	height: 43px;
	background-color: #c5bca2;
	color: #fff;
	font-size: 25px;
	text-transform: uppercase;
	text-align: center;
	line-height: 43px;
}


/*==========  Desktop First Method  ==========*/

/* Wide Screens */
@media only screen and (max-width : 1920px) {

.logo{
	position: static;
	left:inherit;
	padding-right: 0;
	margin: 0 auto;
	background-color: trasparent;
	text-align: center;
	width: auto;
}
.logo a{
	display: inline-block;
	width: 280px;
}
.contact-top {
	padding-left: 10.2%;
}
.nav{
	float: none;
	width: 100%;
}
.nav ul{
	display: table;
	width: 100%;
}
.nav ul li{
	display: table-cell;
	padding: 0 0 16px 0;
	float: none;
	vertical-align: middle;
}
.nav li:before{
	top: 50%;
	margin-top:-21px;
}
.nav li:first-child a div{display: none;}

}

/* Wide Screens */
@media only screen and (max-width : 1600px) {
.wrapper-fotorama{
	border-bottom-width: 49px;
}
.owl-pagination{
	bottom: -43px;
}
.wrapper-fotorama .privace-form{ right: 6%;}

}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1300px) {

.nav a{
	font-size: 24px;
}

.owl-pagination{ display: none;}
.wrapper-fotorama #sync2{
	bottom: -132px;
}

.wrapper-fotorama {border-bottom-width: 139px;}

.right-buttons .light{
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-ms-transform: skew(-20deg);
	-o-transform: skew(-20deg);
}
.right-buttons .light span{
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-ms-transform: skew(20deg);
	-o-transform: skew(20deg);
}

.wrapper-fotorama .weather{
	font-size: 30px;
	background: url(../images/weather.png) no-repeat center top;
	left: 16%;
	right: inherit;
	top: 20px;
	padding:82px 0 0 0;
}
.wrapper-fotorama .weather br{ display: none;}

.wrapper-fotorama .privace-form{
	right: 7%;
	bottom: 90px;
}
.privace-form{
	font-size: 16px;
	padding: 10px 0 5px;
}
.privace-form h3 {
	font-size: 23px;
	padding-bottom: 20px;
}
input[type="text"],
input[type="email"],
input[type="password"]{
	height: 37px;
}
.submit-btn{
	height: 39px;
	line-height: 41px;
}
.submit-btn:active{
	line-height: 43px;
}
.privace-form footer {
	margin: 7px -15px 16px;
	padding: 5px 0;
}
.right-buttons a{
	height: 62px;
	color: #fff;
	font-size: 32px;
	line-height: 64px;
}
.right-buttons a:active{
	line-height: 66px;
}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 1100px) {
.nav ul{
	display: block;
	text-align: center;
	padding: 0 30px;
	width: auto;
}
.nav ul li{
	display: inline-block;
}
.nav li:before, .nav li.active:after, .nav li.active a:before{display: none;}
.nav a{
	border:1px solid #C5BCA2;
}
.nav a:hover{
	background-color: #A9A28B;
	border-color: #CFC8B4;
	color: #fff;
}
.nav a:active{
	background-color: #A9A28B;
}
.nav li.active a{
	color: #505050 !important;
	opacity: 0.6;
}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
.wrapper-fotorama{
	border-bottom-width: 0;
}
.right-buttons{
	position: static;
	overflow: hidden;
}
.right-buttons a{
	height: 72px;
	font-size: 36px;
	line-height: 72px;
	width: 50%;
}
.right-buttons a:active{
	line-height: 76px;
}
.right-buttons a:active span{
	left: 0;
}
.right-buttons .light{
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	position: static;
	padding: 0;
}
.right-buttons .light span{
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
}
.right-buttons .black{
	padding: 0;
}
.wrapper-fotorama .privace-form{
	position: static;
	width: 100%;
}

.wrapper-fotorama .weather{
	position: absolute;
	min-height: 91px;
	left: inherit;
	right: 0.84%;
	top: 20px;
	min-width: 120px;
	padding-right: 22px;
}
#sync2{
	display: none !important;
}
.owl-carousel .owl-wrapper-outer{
	padding: 0 0 5px !important;
}

input[type="text"],
input[type="email"],
input[type="password"]{
	height: 48px;
	font-size: 20px;
	padding: 0 15px;
}
.privace-form{
	padding: 30px 0 20px;
}
.privace-form h3{
	font-size: 30px;
}
.privace-form h5{
	padding: 15px 0 15px;
	width: 532px;
	margin: 0 auto;
	font-size: 18px;
}


.privace-form input[type="text"], .privace-form input[type="email"]{
	width: 500px;
}
.privace-form .group{
	text-align: center;
}
.privace-form .group input:first-child{
	width: 220px;
}
.privace-form .group input{
	width: 100px;
}

.privace-form footer{
	margin:20px 0 20px;
	padding: 8px 0;
}
.privace-form footer:before, .privace-form footer:after{ display: none;}
.privace-form footer > div{
	padding: 8px 0;
}
.submit-btn{
	height: 60px;
	line-height: 60px;
	font-size: 32px;
	padding: 0 40px;
}
.submit-btn:active{
	line-height: 62px;
}

#footer{
	text-align:left;
	padding: 0 20px;
	line-height: 45px;
}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

.contact-top{
	padding:16px 0 5px 10px;
}

#country-select{
	margin: 0;
	padding: 14px 20px 5px 0;
}

.social-icons{
	float: none;
	padding: 9px 0 0 0;
	position: absolute;
	right: 22px;
	top: 100%;
}
.social-icons a{
	color: #867142;
	float: none;
	display: block;
	height: auto;
	font-size: 28px;
}
#header{
	border-bottom:0;
}

.nav .touch{
	display: block;
}
.nav > ul{
	display: none;
	padding: 0;
}
.nav ul li{
	display: block;
	padding: 0;
	margin-bottom: -1px;
	text-align: left;
}
.nav ul li a{
	margin: 0;
	border-radius: 0;
	border-left: 0;
	border-right: 0;
	padding: 15px 20px;
}

.privace-form{
	padding: 30px 0 20px;
}
.privace-form h3{
	font-size: 30px;
}
.privace-form h5{
	padding: 10px 0 10px;
	width: 432px;
	margin: 0 auto;
	font-size: 18px;
}


.privace-form input[type="text"], .privace-form input[type="email"]{
	width: 400px;
}
.privace-form .group input:first-child{
	width: 180px;
}
.privace-form .group input{
	width: 70px;
}

.privace-form footer{
	margin:20px 0 20px;
	padding: 8px 0;
}
.privace-form footer:before, .privace-form footer:after{ display: none;}
.privace-form footer > div{
	padding: 8px 0;
}
.submit-btn{
	height: 60px;
	line-height: 60px;
	font-size: 32px;
	padding: 0 40px;
}
.submit-btn:active{
	line-height: 62px;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 680px) {
	.wrapper-fotorama .hidden{
	display: block;
	background-color: #242424;
	height: 160px;
}
.wrapper-fotorama .location{ left: 15px;}
.wrapper-fotorama .weather{ min-width: auto; right: 15px; padding-right: 0;}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}