@font-face {
  font-family: 'YandexSansText-Regular';
  src: url('../fonts/YandexSansText-Regular/YandexSansText-Regular.eot?#iefix') format('embedded-opentype'),
  	   url('../fonts/YandexSansText-Regular/YandexSansText-Regular.woff') format('woff'),
  	   url('../fonts/YandexSansText-Regular/YandexSansText-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'YandexSansText-Medium';
  src: url('../fonts/YandexSansText-Medium/YandexSansText-Medium.eot?#iefix') format('embedded-opentype'),
	   url('../fonts/YandexSansText-Medium/YandexSansText-Medium.woff') format('woff'),
	   url('../fonts/YandexSansText-Medium/YandexSansText-Medium.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'YandexSansText-Light';
  src: url('../fonts/YandexSansText-Light/YandexSansText-Light.eot?#iefix') format('embedded-opentype'),
  	   url('../fonts/YandexSansText-Light/YandexSansText-Light.woff') format('woff'),
  	   url('../fonts/YandexSansText-Light/YandexSansText-Light.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PlayfairDisplay-Italic';
  src: url('../fonts/PlayfairDisplay-Italic/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
  	   url('../fonts/PlayfairDisplay-Italic/PlayfairDisplay-Italic.woff') format('woff'),
  	   url('../fonts/PlayfairDisplay-Italic/PlayfairDisplay-Italic.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PlayfairDisplay-BoldItalic';
  src: url('../fonts/PlayfairDisplay-BoldItalic/PlayfairDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/PlayfairDisplay-BoldItalic/PlayfairDisplay-BoldItalic.woff') format('woff'),
       url('../fonts/PlayfairDisplay-BoldItalic/PlayfairDisplay-BoldItalic.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}