@import "vars";
@import "fonts";
@import "libs";
@import "ui";

::placeholder {
	color: #777;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	min-width: 320px;
	position: relative;
	font: 16px/1.6 'PT Sans Caption', sans-serif;
	overflow-x: hidden;
	color: #202021;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}
h2 {
	font-size: 62px;
	font-weight: normal;
	text-align: center;
	line-height: 1.1;
}

.logo {
	color: #fff;
	font: 63px 'BankGothicBT-Light';
	&:hover {
		text-decoration: none;
	}
}

.header {
	width: 100%;
	height: 1005px;
	overflow-x: hidden;
	position: relative;
	margin-bottom: -190px;
	&__bg {
		width: 1920px;
		height: 100%;
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -960px;
		z-index: -1;
		&--art {
			width: 1188px;
			height: 1005px;
			background: url('../img/header-art.jpg');
			position: absolute;
			right: 0;
			top: 0;
		}
	}
	&__top {
		height: 78px;
		background: #000;
		text-align: center;
	}
	&__container {
		padding: 50px 0 40px;
	}
}

.dragon__illustration {
	width: 482px;
	height: 495px;
	background: url('../img/dragon-illustration.png');
	position: absolute;
	left: 50%;
	margin-left: -241px;
	bottom: 150px;
}

.bonus__offer {
	display: inline-block;
	font-weight: 800;
	font-size: 32px;
	line-height: 1;
	text-align: center;
	& p {
		margin: 0;
	}
	& strong {
		font: 132px 'Circe-ExtraBold';
		line-height: .8;
	}
	& .button {
		margin-top: 70px;
	}
}
.text__plus {
	font-weight: 800;
	font-size: 104px;
	margin: -15px 0;
}


.steps {
	height: 794px;
	position: relative;
	margin-bottom: -250px;
	&:before {
		content: '';
		width: 100%;
		height: 529px;
		background: url('../img/bg-steps.png') no-repeat center;
		position: absolute;
		left: 0;
		top: 100px;
		z-index: 1;
	}
	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
		width: 100%;
		& li {
			width: 33.33%;
			float: left;
			text-align: center;
		}
		& p {
			font: 31px 'PT Sans Narrow';
			text-transform: uppercase;
			color: #fff;
		}
	}
}
.tablet__screen {
	width: 1040px;
	height: 651px;
	background: url('../img/tablet-screen.jpg');
	position: absolute;
	left: 50%;
	margin-left: -519px;
	top: 71px;
}
.tablet__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	position: relative;
	z-index: 3;
	&:after {
		content: '';
		width: 448px;
		height: 199px;
		background: url('../img/pigs-illustration.png');
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 2;
	}
}
.tablet__device {
	width: 1178px;
	height: 794px;
	background: url('../img/tablet-device.png');
	position: absolute;
	left: 50%;
	margin-left: -589px;
	top: 0;
	z-index: 2;
}



.features {
	height: 715px;
	background: #f1f2f6 url('../img/bg-features.jpg') no-repeat center top;
	padding-top: 350px;
	text-align: center;
	&__list {
		list-style: none;
		padding: 0 80px;
		margin: 0;
		display: flex;
		justify-content: center;
		& li {
			width: 25%;
			text-align: center;
		}
		& p {
			font-size: 26px;
			line-height: 1.2;
		}
	}
}

.reg {
	padding-top: 40px;
	& h2 {
		padding-bottom: 70px;
	}
	& hgroup {
		text-align: center;
	}
	& .button {
		margin-bottom: 110px;
	}
}

.pana-accordion {
	max-width: 1260px;
	height: 353px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	border-radius: 20px 20px 0 0;
	.pana-accordion-wrap {
		position: relative;
		.pana-accordion-item {
			width: 236px;
			height: 353px;
			overflow: hidden;
			float: left;
			position: absolute;
			left: 0;
			top: 0;
			background-color: #242424;
			& img {
				display: block;
				width: 100%;
			}
			.pana-accordion-mask {
			}
			& .item__brand {
				height: 53px;
				display: inline-flex;
				align-items: center;
			}
			&.active {
				.pana-accordion-mask {
					display: none;
				}
			}
		}
	}

	& .item__brand {
		padding: 0 10px;
	}
}


.footer {
	padding: 20px 0 80px;
	background-color: #111;
	text-align: center;
}


@import "media"; // Always at the end
