/*Animation*/
#header .icon-count, .icon-logo.main, #header .icon-menu, .owl-prev, .owl-next, .btn, .btn.big, .link_more, .partners > div,
.social a, .nav_crumb a, .cabinet_nav a, .device_menu a, .status_history a, .tag_cloud a, .tag_link a, .gallery .thumb a{
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

/*Reset Animation*/
.owl-prev:active, .owl-next:active, .link_more:active, .btn:active, .btn.big:active, .social a:active, .nav_crumb a:active,
.cabinet_nav a:active, .device_menu a:active, .status_history a:active, .tag_cloud a:active, .tag_link a:active,
.gallery .thumb a:active{
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}