@import url(reset.css);
@import url(module.css);

/*FONTS*/
	/*Thin*/
@font-face {
	font-family: 'PFSquareSansPro';
	src:url('fonts/pfsquaresanspro-thin.eot');
	src:url('fonts/pfsquaresanspro-thin.eot?#iefix') format('embedded-opentype'),
		url('fonts/pfsquaresanspro-thin.woff2') format('woff2'),
		url('fonts/pfsquaresanspro-thin.woff') format('woff'),
		url('fonts/pfsquaresanspro-thin.ttf') format('truetype'),
		url('fonts/pfsquaresanspro-thin.svg#pf_square_sans_prothin') format('svg');
	font-weight: 100;
	font-style: normal;
}

	/*Light*/
@font-face {
	font-family: 'PFSquareSansPro';
	src:url('fonts/pfsquaresanspro-light.eot');
	src:url('fonts/pfsquaresanspro-light.eot?#iefix') format('embedded-opentype'),
		url('fonts/pfsquaresanspro-light.woff2') format('woff2'),
		url('fonts/pfsquaresanspro-light.woff') format('woff'),
		url('fonts/pfsquaresanspro-light.ttf') format('truetype'),
		url('fonts/pfsquaresanspro-light.svg#pf_square_sans_prolight') format('svg');
	font-weight: 300;
	font-style: normal;
	}

	/*Regular*/
@font-face {
	font-family: 'PFSquareSansPro';
	src:url('fonts/pfsquaresanspro-regular.eot');
	src:url('fonts/pfsquaresanspro-regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/pfsquaresanspro-regular.woff') format('woff'),
		url('fonts/pfsquaresanspro-regular.ttf') format('truetype'),
		url('fonts/pfsquaresanspro-regular.svg#pf_square_sans_proregular') format('svg');
	font-weight: normal;
	font-style: normal;
	}

	/*Medium*/
@font-face {
	font-family: 'PFSquareSansPro';
	src:url('fonts/pfsquaresanspro-medium.eot');
	src:url('fonts/pfsquaresanspro-medium.eot?#iefix') format('embedded-opentype'),
		url('fonts/pfsquaresanspro-medium.woff2') format('woff2'),
		url('fonts/pfsquaresanspro-medium.woff') format('woff'),
		url('fonts/pfsquaresanspro-medium.ttf') format('truetype'),
		url('fonts/pfsquaresanspro-medium.svg#pf_square_sans_promedium') format('svg');
	font-weight: 500;
	font-style: normal;
	}

	/*Medium Italic*/
@font-face {
	font-family: 'PFSquareSansPro';
	src:url('fonts/pfsquaresanspro-mediumitalic.eot');
	src:url('fonts/pfsquaresanspro-mediumitalic.eot?#iefix') format('embedded-opentype'),
		url('fonts/pfsquaresanspro-mediumitalic.woff2') format('woff2'),
		url('fonts/pfsquaresanspro-mediumitalic.woff') format('woff'),
		url('fonts/pfsquaresanspro-mediumitalic.ttf') format('truetype'),
		url('fonts/pfsquaresanspro-mediumitalic.svg#pf_square_sans_proMdIt') format('svg');
	font-weight: 500;
	font-style: italic;
}

	/*Bold*/
@font-face {
	font-family: 'PFSquareSansPro';
	src:url('fonts/pfsquaresanspro-bold.eot');
	src:url('fonts/pfsquaresanspro-bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/pfsquaresanspro-bold.woff2') format('woff2'),
		url('fonts/pfsquaresanspro-bold.woff') format('woff'),
		url('fonts/pfsquaresanspro-bold.ttf') format('truetype'),
		url('fonts/pfsquaresanspro-bold.svg#pf_square_sans_probold') format('svg');
	font-weight: bold;
	font-style: normal;
	}


/*FONS ICONS*/
@font-face {
	font-family: 'icomoon';
	src:url('../img/icons/icomoon.eot?jqcfeg');
	src:url('../img/icons/icomoon.eot?jqcfeg#iefix') format('embedded-opentype'),
		url('../img/icons/icomoon.ttf?jqcfeg') format('truetype'),
		url('../img/icons/icomoon.woff?jqcfeg') format('woff'),
		url('../img/icons/icomoon.svg?jqcfeg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	text-decoration: none;
	/* Better Font Rendering */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-logo:before          {content: "\e916";}
.icon-photo:before         {content: "\e900";}
.icon-guarantee:before     {content: "\e901";}
.icon-protective:before    {content: "\e902";}
.icon-term:before          {content: "\e903";}
.icon-free:before          {content: "\e904";}
.icon-application:before   {content: "\e905";}
.icon-laptop:before        {content: "\e906";}
.icon-tablet:before        {content: "\e907";}
.icon-phone:before         {content: "\e908";}
.icon-partner:before       {content: "\e909";}
.icon-xls:before           {content: "\e90a";}
.icon-pdf:before           {content: "\e90b";}
.icon-basked:before        {content: "\e90c";}
.icon-count:before         {content: "\e90d";}
.icon-comment-empty:before {content: "\e90e";}
.icon-comment:before       {content: "\e90f";}
.icon-menu:before          {content: "\e910";}
.icon-close:before         {content: "\e911";}
.icon-delete:before        {content: "\e912";}
.icon-left:before          {content: "\e913";}
.icon-right:before         {content: "\e914";}
.icon-prev:before          {content: "\e915";}
.icon-next:before          {content: "\1f317";}
.icon-vk:before            {content: "\e917";}
.icon-od:before            {content: "\e918";}
.icon-fb:before            {content: "\e919";}


	/*Static Elements*/
html{
	height: 100%;
}
body{
	height: 100%;
	background-color:#fff;
	font:normal 16px 'PFSquareSansPro', sans-serif;
	line-height: 1;
	color:#000;
}
a{
	color: #0099cc;
}
a:hover{
	text-decoration: none;
}

h1, h3{
	text-transform: uppercase;
}
h1{
	font-size:48px;
	font-style: italic;
	font-weight: 500;
}
h2{
	font-size: 36px;
	font-weight: 100;
	padding-bottom: 11px;
}
h2 strong{
	font-weight: 500;
}
h3{
	font-size:33px;
	font-weight: bold;
}

input[type=text],
input[type=password],
input[type=email],
input[type=tel],
textarea{
	height: 40px;
	border: 1px solid #ccc;
	padding: 0 28px;
	font:300 14px 'PFSquareSansPro';
	color: #000;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
	margin-bottom: 22px;
	border-radius: 1px;
}
textarea{
	height: auto;
	resize:none;
	padding: 15px 28px;
	min-width: 260px;
	min-height: 80px;
	margin-bottom: 28px;
}
input[type=text]:hover,
input[type=password]:hover,
input[type=email]:hover,
input[type=tel]:hover,
textarea:hover{
	border-color: #999;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus{
	border-color: #00C6F3;
	box-shadow: 0 0 6px rgba(0,198,243,.6);
}

/*Style Placeholder*/
::-webkit-input-placeholder {color:#999; transition: all 0.5s ease;}
::-moz-placeholder {color:#999; transition: all 0.5s ease;}
:-moz-placeholder {color:#999; transition: all 0.5s ease;}
:-ms-input-placeholder {color:#999; transition: all 0.5s ease;}

:hover::-moz-placeholder {color:#333;}
:hover:-moz-placeholder {color:#333;}
:hover::-webkit-input-placeholder {color:#333;}
:hover:-ms-input-placeholder {color:#333;}

:focus::-moz-placeholder {opacity: 0; transition: opacity 0.5s ease;}
:focus:-moz-placeholder {opacity: 0; transition: opacity 0.5s ease;}
:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.5s ease;}
:focus:-ms-input-placeholder {opacity: 0; transition: opacity 0.5s ease;}


table{
	width: 100%;
}
th, td{
	vertical-align: middle;
	text-align: left;
}
th{
	background-color: #10aacc;
	color: #fff;
	font-size: 15px;
	height: 59px;
}


/*--------------------------------------*/


	/***BASIC Style***/

/*Clearfix*/
.clearfix:after,
.sign_in:after,
.application_number .row:after,
.header_basket:after,
.cabinet header:after,
#catalog .gallery:after,
.gallery .thumb:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.fl{float:left;}
.fr{float:right;}

.right{text-align: right;}
.center{ text-align: center;}

.container{
	max-width:1006px;
	min-width:320px;
	padding: 0 23px;
	position:relative;
	margin:0 auto;
}
/*date style*/
.reviews li h6,
.review .list h6{
	font-size: 15px;
	color: #ccc;
	padding:3px 0 22px 
}

.photo img{
	max-width: 100%;
}


/*--------------------------------------*/


	/***UI Elements***/

/*кнопка*/
.btn{
	display: inline-block;
	height: 48px;
	padding: 0 23px;
	background-color: #555;
	font:100 24px/48px 'PFSquareSansPro';
	color: #fff;
	text-decoration: none;
	position: relative;
	border: none;
	cursor: pointer;
	text-align: center;
}
.btn:hover{
	background-color: #777;
}
.btn:active{
	line-height: 50px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.6);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.6);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.6);
	-webkit-text-shadow: 0 1px 1px rgba(0,0,0,.4);
	-moz-text-shadow: 0 1px 1px rgba(0,0,0,.4);
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.btn input, .btn button{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	border:none;
	font-size: 0;
	background: transparent;
	cursor: pointer;
}
input.btn, button.btn{
	height: 42px;
	line-height: 42px;
	text-align: center;
}
/*small button*/
.btn.small{
	font-weight: normal;
	font-size: 17px;
	padding: 0 26px;
	height: 38px;
	line-height: 38px;
}
/*big button*/
.btn.big{
	font-weight: 300;
	font-size: 17px;
	padding: 0px 36px;
	height: 67px;
	line-height: 66px;
}
.btn.big:active{
	line-height: 68px;
}
/*blue button*/
.btn.blue{
	background-color: #14b9dd;
}
.btn.blue:hover{
	background-color: #0098DE;
}
input.btn.blue, button.btn.blue{
	background-color: #0ea9cc;
}
/*orange button*/
.btn.orange{
	background-color: #f7941d;
}
.btn.orange:hover{
	background-color: #FF6A00;
}
input.btn.orange, button.btn.orange{
	background-color: #f7941d;
}
/*кнопка "оставить отзыв"*/
.btn.feedback{
	padding-left: 66px;
}
.btn.feedback:active .icon-comment-empty{
	-webkit-text-shadow: none;
	-moz-text-shadow: none;
	text-shadow: none;
}
.btn .icon-comment{
	position: absolute;
	left: 28px;
	font-size: 20px;
	top: 15px;
}
.btn .icon-comment-empty{
	color: #7ee8ff;
	position: absolute;
	left: 16px;
	top: 13px;
	font-size: 25px;
}
/*кнопка "Заявка на ремонт"*/
.btn.app{
	height: 67px;
	font-weight: 500;
	font-size: 24px;
	line-height: 67px;
	padding: 0 91px 0 47px;
	float: right;
}
.btn.app .icon-application{
	font-size: 43px;
	position: absolute;
	right: 34px;
	top: 12px;
}

/*ссылка*/
.link_more{
	display: inline-block;
	font-size: 24px;
	font-weight: 100;
	line-height: 0.8;
	text-decoration: none;
	border-bottom: 1px solid #0099cc;
	position: relative;
}
.link_more:hover{
	color: #f7941d;
	border-bottom-color: #f7941d;
}
.link_more:active{
	top: 2px;
	border-bottom-color: transparent;
	color: #000;
}

/*цена*/
.price{
	color: #10aacc;
	font-weight: 500;
	font-size: 25px;
}
.rub{
	display: inline-block;
	font-weight: normal;
	position: relative;
	text-transform: uppercase;
}
.rub:before{
	content: '';
	height: 1px;
	width: 100%;
	background-color: #10aacc;
	position: absolute;
	left: 0;
	top: 58%;
}

/*кнопка подробнее*/
.read_more{
	display: inline-block;
	height: 44px;
	padding: 0 20px;
	font-size: 17px;
	color: #000;
	line-height: 44px;
	text-decoration: none;
	background-color: #e6e6e6;
	position: relative;
}
.read_more:after{
	content: "";
	position: absolute;
	left: 100%;
	top: 0;
	width: 0;
	height: 0;
	border-left: 14px solid #e6e6e6;
	border-top: 22px solid transparent;
	border-bottom: 22px solid transparent;
}


/*--------------------------------------*/


	/***UI Module***/

/*соц. сети*/
.social{
	display: inline-block;
	font-size: 28px;
}
.social a{
	display: inline-block;
	margin: 0 2px;
}
/*вк*/
.social .icon-vk{
	color: #0078ff;
}
/*однокласники*/
.social .icon-od{
	color: #ff6c00;
}
/*faceboock*/
.social .icon-fb{
	color: #004dff;
}

/*вход через соц. сети*/
.across_social{
	overflow: hidden;;
	padding: 0 0 17px 5px;
}
.across_social span{
	float: left;
	font-weight: 300;
	font-size: 14px;
	line-height: 27px;
}
.across_social .social{
	float: left;
	padding: 0 21px 0 18px;
}
.across_social .social a{
	margin: 0 2px;
}

/*информация о корзине*/
.info_basket{
	height: 30px;
	display: inline-block;
	color: #00a2c6;
	font-size: 14px;
	line-height: 30px;
	position: relative;
	text-decoration: none;
}
.info_basket .icon-basked{
	font-size: 28px;
	float: right;
	margin: 0 9px 0 11px;
}
.info_basket span{
	width: 22px;
	height: 22px;
	background-color: #f7941d;
	color: #fff;
	font-size: 10px;
	text-align: center;
	line-height: 22px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
	right: 0;
	top: -7px;
}

/*скачать прайс*/
.download_price{
	min-height: 30px;
	display: inline-block;
	text-decoration: none;
	position: relative;
	font-size: 17px;
	color: #000;
	padding: 1px 0 0 47px;
}
.download_price span{
	display: block;
	font-size: 12px;
	color: #999;
}
.download_price .icon-xls{
	color: #00a2c6;
	font-size: 32px;
	position: absolute;
	left: 0;
	top: 0;
}

/*кнопка стать партнером*/
.btn_partner{
	display: inline-block;
	padding: 0 42px 0 46px;
	height: 67px;
	background-color: #f7941d;
	font-weight: 500;
	font-size: 24px;
	color: #fff;
	text-decoration: none;
	line-height: 67px;
}
.btn_partner .icon-partner{
	margin-left: 24px;
	font-size: 40px;
	position: relative;
	top: 11px;
}

/*навигационная цепочка*/
.nav_crumb{
	overflow: hidden;
	font-size: 14px;
	color: #ccc;
	padding: 26px 0 11px;
}
.nav_crumb li{
	float: left;
	margin: 0 10px 18px 0;
	position: relative;
}
.nav_crumb li:before{
	content: "/";
	position: absolute;
	left: 2px;
	top: 50%;
	margin-top: -7px;
}
.nav_crumb li:first-child:before{
	content: "";
}
.nav_crumb a{
	display: inline-block;
	margin-left: 19px;
	text-decoration: none;
	color: #ccc;
	position: relative;
}
.nav_crumb a:hover{
	color: #f7941d;
}
.nav_crumb a:active{
	top: 1px;
	color: #000;
}
.nav_crumb .active a{
	color: #00a2c6;
	cursor: default;
}
.nav_crumb .active a:active{
	top: 0;
	text-decoration: none;
}
.nav_crumb .active a:hover{
	opacity: 0.6;
}
.nav_crumb li:first-child a{
	margin-left: 0;
}

/*блок меню цепочка*/
.menu_crumb{
	border: 1px dashed #10aacc;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	font-size: 14px;
	padding: 26px 20px 19px 20px;
	margin: 17px 0 4px;
}
.menu_crumb a{
	display: inline-block;
	color: #00a2c6;
	text-decoration: none;
	margin: 0 11px 6px 10px;
}

/*Spinner*/
.spinner{
	width: 70px;
	margin: 0 auto;
	position: relative;
	text-align: center;
}
.spinner input{
	font-size: 17px;
	padding: 0;
	width: 40px;
	height: 26px;
	text-align: center;
	border: none;
	font-weight: normal;
	margin-bottom: 0;
}
.spinner [data-spin=down],
.spinner [data-spin=up]{
	text-decoration: none;
	position: absolute;
	top: 3px;
	color: #f7941d;
	font-size: 17px;
}
.spinner [data-spin=down]{
	left: -6px;
}
.spinner [data-spin=up]{
	right: -6px;
}

/*Navigation Cabinet*/
.cabinet_nav{
	font-size: 17px;
	font-weight: 300;
}
.cabinet_nav a,
.device_menu a{
	float: left;
	height: 65px;
	line-height: 65px;
	border: 1px dashed transparent;
	color: #293438;
	text-decoration: none;
	border-radius: 2px;
	padding: 0 56px;
	position: relative;
	margin: 0 12px;
}
.cabinet_nav a:hover,
.device_menu a:hover{
	background-color: #f6f6f6;
	text-shadow:0 1px 0 #fff;
	color: #10aacc;
}
.cabinet_nav a:active,
.device_menu a:active{
	background-color: #f6f6f6;
	color: #000;
	box-shadow: inset 0 2px 3px rgba(0,0,0,.3);
	line-height: 67px;
}
.cabinet_nav a:first-child,
.device_menu a:first-child{
	margin-left: 0;
}
.cabinet_nav a + a + a{
	padding: 0 25px;
}

.cabinet_nav a.active,
.device_menu a.active{
	border-color: #ccc;
	color: #10aacc;
	cursor: default;
}
.cabinet_nav a.active:hover,
.device_menu a.active:hover {
	background-color: transparent;
	opacity: 0.6;
}
.cabinet_nav a.active:after,
.device_menu a.active:after{
	content: "";
	width: 40px;
	height: 17px;
	background: url(../img/corner.jpg);
	position: absolute;
	left: 50%;
	margin-left: -20px;
	top: 100%;
}
.device_menu{
	overflow: hidden;
	padding-bottom: 20px;
}
.device_menu a{
	margin: 0;
}
.device_menu a:nth-child(1){
	padding: 0 62px 0 46px;
}
.device_menu a:nth-child(2){
	padding: 0 46px 0 32px;
}
.device_menu a:nth-child(3){
	padding: 0 32px 0 38px;
}
.device_menu .icon-phone{
	font-size: 43px;
	position: relative;
	margin-right: 24px;
	top: 11px;
}
.device_menu .icon-tablet{
	font-size: 37px;
	position: relative;
	margin-right: 23px;
	top: 11px;
}
.device_menu .icon-laptop{
	font-size: 38px;
	position: relative;
	margin-right: 30px;
	top: 11px;
}


/*PhotoGallery*/
.gallery img{
	max-width: 100%;
}
.gallery .big{
	overflow: hidden;
	background: url(../img/loader.gif) no-repeat center;
	margin-bottom: 25px;
	text-align: center;
}
.gallery .thumb{
	margin-right: -20px;
	padding-bottom: 29px;
}
.gallery .thumb li{
	float: left;
	width: 117px;
	margin: 0 15px 10px 0;
}
.gallery .thumb a{
	display: block;
	width: 115px;
	height: 115px;
	border: 1px solid #d9d9d9;
}
.gallery .thumb :hover a{
	border-color: #00C6F3;
	box-shadow: 0 0 6px rgba(0,198,243,.6);
}
.gallery .thumb .active a{
	border-color: #f7941d;
	cursor: default;
	opacity: 0.7;
}
.gallery .thumb .active:hover a{
	box-shadow: none;
}

.sets_form{
	padding-bottom: 61px;
}
.sets_form .row{
	padding-bottom: 24px;
}
.sets_form h6{
	font-size: 17px;
	color: #999;
	padding-bottom: 10px;
}
.sets_form .nice-select{
	width: 100%;
}
.sets_form .btn{
	padding: 0;
	width: 100%;
	height: 56px;
	line-height: 56px;
}
.sets_form .btn i{
	font-size: 22px;
	position: relative;
	right: -5px;
	margin-left: 9px;
}


/*Инструкции*/
.instructions{
	padding: 18px 0 32px;
}
.instructions li{
	padding-bottom: 8px;
}
.instructions a{
	display: block;
	color: #000;
	font-size: 17px;
	text-decoration: none;
	padding: 0 0 15px 65px;
	position: relative;
}
.instructions .icon-pdf{
	position: absolute;
	left: 8px;
	top: -5px;
	color: #00a2c6;
	font-size: 33px;
}


/*Services info*/
.services_info{
	overflow: hidden;
	background: #f7f7f7;
	color: #10aacc;
	font-size: 17px;
	padding: 16px 10px 10px 4%;
	margin: 17px 0 28px;
}
.services_info li{
	float: left;
}
.services_info li:nth-child(1){width: 27.5%;}
.services_info li:nth-child(2){width: 26.6%;}
.services_info li:nth-child(3){width: 28.2%;}
.services_info li:nth-child(4){width: auto;}

.services_info i{
	font-size: 61px;
	float: left;
	margin: 0 14px 0 0;
}
.services_info .icon-free,
.services_info .icon-term{
	font-size: 54px;
	margin: 4px 19px 4px 0;
}
.services_info .icon-protective{
	font-size: 62px;
	margin: 0 17px 4px 0;
}
.services_info p{
	font-weight: 500;
	line-height: 1.2;
	float: left;
	padding: 10px 0;
}

/*Облако тегов*/
.tag_cloud{
	border-bottom: 1px dashed #7ee8ff;
	font-size: 24px;
	padding: 20px 0 24px 0;
}
.tag_cloud a{
	font-weight: bold;
	color: #000;
	text-decoration: none;
	display: inline-block;
	margin: 0 20px 13px 0;
	position: relative;
}
.tag_cloud a:hover{
	color: #f7941d;
}
.tag_cloud a:active{
	color: #f7941d;
	top: 1px;
}
.tag_cloud a.active{
	color: #10aacc;
	cursor: default;
}

/*Блок ссылок*/
.tag_link{
	border-bottom: 1px dashed #7ee8ff;
	font-size: 14px;
	padding: 29px 0 17px 0;
	margin-bottom: -2px;
}
.tag_link a{
	color: #000;
	text-decoration: none;
	display: inline-block;
	margin: 0 10px 10px 0;
	position: relative;
}
.tag_link a:hover{
	color: #2BA000;
}
.tag_link a:active{
	color: #2BA000;
	top: 1px;
}

.no_photo{
	color: #cecece;
	font-size: 10px;
	text-align: center;
	padding: 12px 0;
}
.no_photo i{
	display: block;
	font-size: 25px;
	color: #ebebeb;
	margin-bottom: 5px;
}

.paginator{
	text-align: center;;
}
.paginator a{
	display: inline-block;
	text-decoration: none;
	color: #000;
	font-size: 17px;
	width: 31px;
	height: 38px;
	text-align: center;
	line-height: 38px;
}
.paginator a:last-child{
	margin-left: 12px;
}
.paginator .active{
	background-color: #00a2c6;
	color: #fff;
	cursor: default;
}

/*--------------------------------------*/


#wrapper{
	min-height: 100%;
	margin-bottom: -181px;
}
#container{
	padding-bottom: 281px;
}

#shadow{
	-webkit-transition:all 0.4s ease-in-out;
	transition:all 0.4s ease-in-out;
	background-color: rgba(0,0,0,0.8);
	left: 0;
	height: 100%;
	opacity: 0;
	position: fixed;
	top: 0;
	visibility: hidden;
	width: 100%;
	z-index: 5;
}
#shadow.show{
	opacity: 1;
	visibility: visible;
}


/*HEADER*/
#header{
	color: #fff;
	position: relative;
	height: 217px;
	background: url(../img/header.jpg) no-repeat center;
	margin-bottom: -2px;
}
#header.home.indent{
	margin-bottom: 205px;
}
#header a{
	color: #fff;
}

/*home header*/
#header.home{
	height: 769px;
	background: url(../img/header_home.jpg) no-repeat center;
}
#header.home:before{
	content: '';
	width: 100%;
	height: 460px;
	position: absolute;
	left: 0;
	top: 126px;
	background: url(../img/iphone.png) no-repeat center;
}

/*info header*/
#header .top{
	padding: 35px 23px 55px;
	font-weight: 300;
}
#header .top > section{
	width: 50%;
	float: left;
}
#header .fr{
	width: 235px;
	position: relative;
	padding: 19px 0;
}

/*address*/
#header address{
	width: 228px;
	font-size: 14px;
	font-style: normal;
	float: left;
	line-height: 1.36;
	letter-spacing: -0.02em;
	padding: 18px 0;
}
#header address sup{
	font-size: 9px;
	position: relative;
	top: -5px;
}

/*header title*/
#header h1{
	letter-spacing: -0.045em;
	padding: 0 0 40px 67px;
}
#header h1 span{
	display: block;
	padding-left: 48px;
}

#header .icon-count{
	font-size: 21px;
	position: absolute;
	top: 24px;
	left: 0;
}
#header .icon-menu{
	position: absolute;
	right: 0;
	font-size: 18px;
	top: 27px;
	cursor: pointer;
}
#header .icon-count:hover,
#header .icon-menu:hover{
	color: #333;
}

.contact_mobile{;
	word-wrap:break-word;
	font-size: 13px;
	float: left;
	margin-left: 52px;
	letter-spacing:-0.05em;
}
.contact_mobile span{
	display: block;
	font-size: 30px;
	font-weight: 300;
	position: relative;
	top: -5px;
}
.icon-logo{
	font-size: 64px;
}
.icon-logo.main{
	text-decoration: none;
	font-size: 64px;
	float: left;
	margin-right: 43px;
}
.icon-logo.main:hover{
	color: #333 !important;
}

.tagline{
	float: left;
	font-size: 20px;
	letter-spacing: -0.01em;
	padding: 19px 0;
}

/*home nav*/
#drop_menu{
	display: none;
	background-color: #00748e;
	color: #fff;
	font-size: 24px;
	position: absolute;
	right: 0;
	top: 30px;
	width: 388px;
	z-index: 5;
}
#drop_menu > div{
	position: relative;
	min-height: 200px;
	padding: 86px 0 60px;
}
#drop_menu ul{
	position: relative;
	z-index: 1;
}
#drop_menu li{
	padding: 0 52px 12px;
}
#drop_menu a{
	color: #fff;
	text-decoration: none;
	font-weight: 300;
}
#drop_menu .icon-logo{
	bottom: 0;
	color: #008198;
	font-size: 293px;
	height: 227px;
	overflow: hidden;
	position: absolute;
	right: 0;
	width: 227px;
}
#drop_menu .icon-close{
	cursor: pointer;
	position: absolute;
	right: 25px;
	top: 32px;
	z-index: 1;
	font-size: 18px;
}

/*services menu*/
.services_menu{
	font-weight: 300;
	padding: 26px 0 0 0;
	height: 256px;
	position: relative;
}
.services_menu a{
	float: left;
	width: 271px;
	height: 175px;
	background: url(../img/circle-link.png) no-repeat 0 0;
	text-decoration: none;
	font-size: 13px;
	text-transform: uppercase;
	position: relative;
	margin-right: -11px;;
}
.services_menu a h3{
	padding: 50px 0 0 73px;
}
.services_menu a p{
	padding-left: 73px;
	letter-spacing: -0.01em;
}
.services_menu a:hover{
	background-position: 0 100%;
	z-index: 1;
}
/*первый блок ссылкой*/
.services_menu a:first-child{
	margin-left: -32px;
}
/*второй блок ссылкой*/
.services_menu a + a{
	margin-right: 0px;
}
.services_menu a + a h3{
	padding-left: 34px;
	width: 250px;
}
.services_menu a + a p{
	padding-left: 34px;
}
/*третый блок ссылкой*/
.services_menu a + a + a h3{
	padding-left: 59px;
}
.services_menu a + a + a p{
	padding-left: 60px;
}

/*блок карусель*/
.sets_carousel{
	max-width: 1046px;
	margin: 0 auto;
	position: relative;;
	padding: 0 43px;
}
.sets_carousel h2{
	text-transform: uppercase;
	padding: 0 0 10px 18px;
	letter-spacing: -.044em;
	font-size: 25px;
}
.sets.owl-carousel{
	width: auto;
}
.sets.owl-carousel .item{
	text-align: center;
	color: #000;
	font-size: 18px;
}
.sets.owl-carousel .img{
	height: 167px;
	position: relative;
	margin-bottom: 21px;
}
.sets.owl-carousel .img > div{
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
}
.sets.owl-carousel h6{
	font-weight: bold;
}
.sets.owl-carousel p{
	font-weight: 100;
	padding: 1px 0;
	line-height: 1.26;
}

.owl-prev, .owl-next{
	margin-top: -50px !important;
}

/*отзывы*/
.reviews{
	float: left;
	width: 66%;
	padding-bottom: 81px;
}
.reviews ul{
	overflow: hidden;
}
.reviews li{
	width: 47%;
	padding: 0 3% 31px 0;
	float: left;
}
.reviews p{
	font-size: 18px;
	color: #293438;
	line-height: 1.2;
}
.reviews li:nth-child(even) header,
.reviews li:nth-child(even) p{
	padding-left: 0;
}
.reviews footer{
	overflow: hidden;
}
.reviews .btn{
	float: left;
}
.reviews .link_more{
	float: right;
	margin-top: 2px;
}

/*выдео*/
.video{
	width: 100%;
}
.video iframe{
	width: 100%;
	height: 194px;
}
.home.video{
	width: 297px;
	float: right;
}

/*партнеры*/
.partners{
	height: 100px;
	position: relative;
}
.partners > div:hover{
	opacity: 0.7;
}
/*лого партнеров*/
.rostelecom, .sberbank, .megafon, .glavbug, .metro{
	background-image: url(../img/partners.jpg);
	height: 68px;
	position: absolute;
	top: 22px;
}
.rostelecom{
	background-position: 0 0;
	left: 6px;
	width: 147px;
}
.sberbank{
	background-position: -147px 0;
	left: 20%;
	width: 165px;
	top: 27px;
}
.megafon{
	background-position: -312px 0;
	left: 40%;
	width: 170px;
}
.glavbug{
	background-position: -482px 0;
	left: 63%;
	width: 119px;
	top: 20px;
}
.metro{
	background-position: -601px 0;
	width: 183px;
	right: 19px;
}

/*Авторизация, регистрация*/
.sign_in{
	font-weight: 300;
	font-size: 14px;
	text-align: center;
}
.sign_in h2{
	font-weight: 100;
	font-size: 36px;
	height: 85px;
}
.check_in h2{
	font-weight: 300;
	font-size: 24px;
	padding-top: 12px;
	height: 73px;
	text-align: left;
}
.sign_in a{
	color: #000;
}
.authorization, .check_in{
	width: 45%;
	padding: 0 5% 0 0;
	display: inline-block;
}
.sign_in .btn{
	display: block;
	width: 453px;
}
.sign_in input[type=text],
.sign_in input[type=password],
.sign_in input[type=email]{
	width: 395px;
}

.forgot_password{
	margin: -6px 0 24px 6px;
}
.forgot_password a{
	font-weight: 300;
}

/*Отзывы*/
.review{
	color: #293438;
	margin-top: -8px;
}
.review header{
	overflow: hidden;
	padding-bottom: 8px;
}
.review header h2{
	float: left;
	padding: 6px 0;
}
.review header .btn{
	float: right;
}
.review .list{
	font-size: 18px;
	border-bottom: 2px solid #7ee8ff;
	margin-bottom: 44px;
}
.review .list li{
	border-top: 1px dashed #7ee8ff;
	padding: 31px 0 31px;;
}
.review .list li:first-child{
	border-top: none;
}
.review .list h6{
	padding: 0 0 21px;
}
.review .list article{
	line-height: 1.2;
}

/*написать отзыв*/
.write_review{
	padding: 34px 0 0;
}
.write_review input[type=text],
.write_review input[type=email]{
	width: 26.2%;
	margin: 0 13px 15px 0;
}
.write_review textarea{
	width: 100%;
	height: 150px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

/*партнерам*/
.wholesale header{
	padding-bottom: 17px;
}

/*блок прайл-лист*/
.become_affiliate{
	height: 65px;
	border: 1px dashed #10aacc;
	position: relative;
	padding-left: 27px;
	color: #000;
	margin-bottom: 31px;
}
.become_affiliate .download_price{
	top: 16px;
}
.become_affiliate .btn_partner{
	position: absolute;
	right: -1px;
	top: -1px;
}

/*информация о доставке*/
.delivery_info{
	font-size: 17px;
	line-height: 1.2;
	color: #000;
}
.delivery_info h2{
	padding-bottom: 33px;
}
.delivery_info p,
.delivery_info ul{
	padding-bottom: 22px;
}

.overflow{
	overflow: auto;
}

/*корзына*/
.basket .photo{
	width: 54px;
	height: 58px;
	overflow: hidden;
	margin-left: 22px;
}
.basket h3{
	font-size: 17px;
	text-transform: none;
}
.basket h3 a{
	color: #000;
	text-decoration: none;
}
/*thead*/
.basket table{
	min-width: 700px;
}
.basket th:first-child h4{
	padding-left: 156px;
}
/*tbody*/
.basket tbody tr{
	border-bottom: 1px solid #ebebeb;
}
.basket tbody td{
	padding: 27px 0;
}
.basket tbody td:first-child{
	width: 11.5%;
}
.basket tbody td + td{
	width: 46%;
}
.basket tbody td + td + td{
	width: 14.5%;
}
.basket tbody td + td + td + td{
	width: 21%;
}
.basket tbody td + td + td + td + td{
	width: 7%;
}
.basket table .price{
	text-align: center;
}
.basket .icon-delete{
	color: #f7941d;
	cursor: pointer;
}

/*total basket*/
.total{
	text-align: right;
	padding-top: 36px;
}
.total .price{
	padding: 0 10px 36px;
}

/*Личный кабинет*/
.cabinet h6{
	font-size: 14px;
	color: #999;
	font-weight: 300;
	padding-bottom: 11px;
}
.cabinet header{
	padding-bottom: 56px;
	position: relative;
}
.cabinet header .btn{
	float: right;
}
.cabinet .cabinet_nav{
	float: left;
}

/*Личные данные*/
.personal_data{
	padding-bottom: 97px;
}
.personal_data .col{
	width: 359px;
	float: left;
	padding-bottom: 24px;
}
.personal_data .col input{
	width: 262px;
	margin-bottom: 26px;
}
.personal_data input.btn{
	width: 238px;
	height: 48px;
}

/*Заявка №*/
.application_number{
	padding: 19px 0 11px;
}
.application_number .row{
	padding-bottom: 38px;
}
.application_number .col{
	width: 50%;
	float: left;
}
.application_number p{
	font-size: 17px;
	color: #010000;
	padding-right: 20px;
}

/*История статусов*/
.status_history{
	padding-top: 5px;
}
.status_history a{
	display: block;
	background-color: #c5f5ff;
	font-size: 24px;
	text-decoration: none;
	overflow: hidden;
	color: #007089;
	padding: 12px 45px 12px 43px;
	margin-bottom: 10px;
	position: relative;
}
.status_history a:hover, .status_history a:active{
	color: #000;
	background-color: #7DE9FF;
}
.status_history a:active{
	box-shadow: inset 0 1px 4px rgba(0,0,0,.3);
	top: 1px;
}
.status_history a span{
	float: left;
	font-weight: 100;
}
.status_history .name{
	width: 73.2%;
}
.status_history .time{
	max-width: 110px;
}
.status_history .date{
	text-align: center;
	float: right;
	max-width: 140px;
}

/*заголовок с иконкой корзины*/
#sets{
	padding: 0px 0 0 0;
}
.header_basket h2{
	float: left;
	width: 70%;
}
.header_basket .info_basket{
	float: right;
	margin: 3px 0;
}

/*Page Набор*/
#sets h3{
	font-size: 24px;
	text-transform: none;
	padding-bottom: 37px;
}
/*Наборы content*/
#sets .content{
	width: 64.4%;
	float: left;
}
#sets .content article{
	font-size: 17px;
	line-height: 1.22;
}
/*Наборы sidebar*/
#sets aside{
	float: right;
	width: 32%;
	padding-top: 8px;
}
#sets .price,
#catalog .content .price{
	font-size: 60px;
	padding-bottom: 21px;
}
#sets .rub,
#catalog .content .rub{
	font-weight: 500;
	position: relative;
	right: -15px;
}
#sets .rub:before,
#catalog .content .rub:before{
	height: 3px;
}

/*Каталог наборов*/
.sets_catalog{
	overflow: hidden;
	position: relative;
	padding: 49px 0 0;
	margin-bottom: -42px;
}
.sets_catalog:after{
	content: "";
	width: 100%;
	height: 1px;
	background-color: #fff;
	position: absolute;
	left: 0;
	bottom: 42px;
}
.sets_catalog li{
	float: left;
	width: 50%;
	overflow: hidden;
	font-size: 17px;
	height: 445px;
	border-bottom: 1px dashed #7ee8ff;
	margin-bottom: 42px;
}
.sets_catalog img{
	max-width: 100%;
}
.sets_catalog h3{
	padding-bottom: 18px !important;
}
.sets_catalog h4{
	color: #00a2c6;
	font-size: 24px;
	font-weight: 100;
	padding-bottom: 1px;
}
.sets_catalog li section{
	width: 42%;
	float: right;
	padding-right: 56px;
}
.sets_catalog article{
	min-height: 197px;
	line-height: 1.2;
	padding-bottom: 15px;
}
.sets_catalog article p{
	min-height: 84px;
	padding-bottom: 20px;
}
.sets_catalog .fl{
	width: 43%;
	position: relative;
	min-height: 140px;
	padding-bottom: 23px;
}
.sets_catalog .img{
	max-width: 180px;
}
.sets_catalog .box1{
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 1;
	max-width: 142px;
}
.sets_catalog .box2{
	position: absolute;
	right: 64px;
	bottom: 13px;
	max-width: 128px;
}


/*Page Price*/
#price .nav_crumb{
	margin-bottom: -4px
}
.price_table{
	min-width: 680px;
}
.price_table td,
.price_table th{
	text-align: center;
}
.price_table thead th{
	font-size: 15px;
	height: 92px;
}
.price_table thead th:nth-child(1){width: 21%;}
.price_table thead th:nth-child(2){width: 10%;}
.price_table thead th:nth-child(3){width: 17%;}
.price_table thead th:nth-child(4){width: 11%;}
.price_table thead th:nth-child(5){width: 18%;}
.price_table thead th:nth-child(6){width: 13%;}

.price_table tbody th{
	background-color: #aaf0ff;
	font-size: 24px;
	font-weight: bold;
	color: #000;
	text-align: left;
	padding: 15px 38px;
	height: auto;
}
.price_table tbody td{
	font-size: 17px;
	padding: 5px 0 26px;
	margin-bottom: 100px;
}
.price_table .indent td{
	height: 27px;
	padding: 0;
}


#catalog .tag_cloud{
	padding: 23px 0 8px 0;
}
#catalog .gallery{
	width: 48%;
	float: left;
}
#catalog .gallery .big{
	margin-bottom: 12px;
}
#catalog .gallery .thumb{
	padding-bottom: 0;
}
#catalog .content{
	width: 50%;
	float: right;
	padding-top: 4px;
}
#catalog .content .btn{
	float: none;
	font-weight: normal;
	height: 56px;
	margin: 3px 0 28px 0;
	line-height: 56px;
	padding: 0 136px 0 85px;
}
#catalog .content .btn .icon-basked{
	position: absolute;
	right: 90px;
	top: 16px;
	font-size: 24px;
}
#catalog h3{
	text-transform: none;
	font-size: 24px;
	padding: 24px 0 31px 0;
}
#catalog p{
	font-size: 17px;
	line-height: 1.2;
}


/*Retail*/
.retail_top{
	overflow: hidden;
	border-bottom: 2px solid #ebebeb;
	font-size: 14px;
	padding: 33px 0 16px;;
}
.retail_top a{
	color: #000;
	text-decoration: none;
	display: inline-block;
	margin-left: 12px;
}
.retail_top .active{
	color: #10aacc;
	cursor: default;
}

.retail_product{
	margin-bottom: 55px;
	min-width: 580px;
}
.retail_product tr{
	border-bottom: 1px solid #ebebeb;
}
.retail_product tr:last-child{
	border-bottom: none;
}
.retail_product td{
	padding: 1px;
}
.retail_product h3 a{
	font-size: 17px;
	text-decoration: none;
	color: #000;
}
.retail_product .price.silver{
	color: #d5d5d5;
}
.retail_product .price.silver .rub:before{
	background-color: #d5d5d5;
}
.retail_product .photo{
	width: 54px;
	height: 58px;
	overflow: hidden;
}

.retail_product td:nth-child(1){width: 8%;}
.retail_product td:nth-child(2){width: 62%;}
.retail_product td:nth-child(3){width: 13%;}
.retail_product td:nth-child(4){width: 17%; text-align: right;}

.btn.add_cart{
	height: 36px;
	line-height: 36px;
	font-size: 17px;
	font-weight: normal;
	color: #f7941d;
	background-color: transparent;
	border: 1px dashed #f7941d;
	padding: 0 21px;
}


/*FOOTER*/
#footer{
	max-width:1006px;
	min-width:290px;
	margin:0 auto;
	position: relative;
	color: #999;
	font-size: 14px;
}
#footer address{
	font-style: normal;
	line-height: 1.2;
}
#footer .container{
	padding: 57px 0 0;
	border-top: 1px solid #d7d7d7;
	height: 123px;
}
#footer .col-3{
	width: 33.33%;
	float: left;
}
#footer .center p{
	padding-bottom: 15px;
	padding-left: 30%;
}
#footer .social{
	padding-left: 30%;
}
#footer .social a{
	color: #ccc;
}
#footer .social .icon-vk:hover, #footer .social .icon-vk:active{color: #0078ff;}
#footer .social .icon-od:hover, #footer .social .icon-od:active{color: #ff6c00;}
#footer .social .icon-fb:hover, #footer .social .icon-fb:active{color: #004dff;}


/* Medium Devices, Desktops */
@media only screen and (max-width : 1006px) {
	input[type=text],
	input[type=password],
	input[type=email],
	input[type=tel]{
		height: 46px;
		font-size: 16px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	textarea{
		font-size: 16px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}

	#wrapper{
		min-height: auto;
	}

	/*header*/
	#header{
		background: url(../img/header_mob.jpg);
	}
	#header.home{
		background: url(../img/header_home_mob.jpg);
	}
	#header .top > section{
		width: auto;
		float: right;
	}
	#header .top > section:first-child{
		float: left;
	}
	#header:before,
	#header address{
		display: none;
	}

	/*отзывы*/
	.reviews,
	.home.video{
		float: none;
		width: 100%;
	}
	.home_video iframe{
		height: 500px;
	}

	.authorization .btn{
		width: 50%;
	}
	.check_in .btn{
		width: 70%;
	}

	/*inputs width 100%*/
	.sign_in input[type=text],
	.sign_in input[type=password],
	.sign_in input[type=email],

	.write_review input[type=text],
	.write_review input[type=email]{
		width: 100%;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	.write_review input[type=text]{
		width: 48%;
		float: left;
		margin-right: 0;
	}
	.write_review input[type=email]{
		width: 48%;
		float: right;
		margin-right: 0;
	}

	/*basket*/
	.basket tbody td:first-child{
		width: 12%;
	}
	.basket tbody td + td{
		width: 40%;
	}
	.basket tbody td + td + td{
		width: 20%;
	}
	.spinner input{
		height: 26px !important;
		font-size: 17px !important;
	}
	.basket .photo{
		margin-left: 0;
	}
	.basket tbody td:last-child{
		text-align: center;
	}

	/*footer*/
	#footer .container{
		padding: 57px 23px 0;
	}

	.personal_data .col{
		width: 48%;
		padding-left: 2%;
	}
	.personal_data .col:first-child{
		padding-left: 0;
		padding-right: 2%;
	}
	.personal_data .col input{
		width: 100%;
	}

	#catalog .content{
		width: 40%;
	}
	#catalog .gallery{
		width: 58%;
	}

	.btn.app{
		float: none;
		margin-bottom: 28px;
	}
	.services_info + .clearfix{
		text-align: center;
	}

	.retail_product td:nth-child(3){
		text-align: center;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 960px) {
	#wrapper{
		min-height: auto;
		margin-bottom: 0;
	}
	#container{
		padding-bottom: 100px;
	}

	h1{
		font-size: 40px;
	}
	h2{
		font-size: 32px;
	}

	/*header*/
	#header.indent{
		margin-bottom: 255px;
	}
	#header .top{
		padding-bottom: 30px;
	}
	#header h1{
		padding-bottom: 40px;
	}
	.tagline{
		font-size: 18px;
	}
	.services_menu{
		height: 360px;
	}
	.services_menu a{
		float: none;
		position: absolute;
	}
	.services_menu a:first-child{
		left: 5%;
		top: 0;
		margin-left: 0;
	}
	.services_menu a + a{
		right: 5%;
		top: 0;
	}
	.services_menu a + a + a{
		left: 50%;
		margin-left: -136px;
		top: 180px;
	}

	/*партнеры*/
	.metro{
		display: none;
	}
	.sberbank{
		left: 27%;
	}
	.megafon{
		left: 54%;
	}
	.glavbug{
		left: inherit;
		right: 0;
	}

	/*соц. сети*/
	.social{
		font-size: 34px;
	}

	input.btn, button.btn{
		height: 50px;
		line-height: 50px;
	}

	/*Авторизация, регистрация*/
	.sign_in{
		font-size: 16px;
		padding: 0;
	}
	.sign_in h2{
		font-size: 42px;
		font-weight: 100;
		height: auto;
		text-align: center;
		padding-bottom: 30px;
	}
	.authorization, .check_in{
		float: none;
		width: 60%;
		margin: 0 auto;
	}
	.across_social{
		display: inline-block;
	}
	.across_social span{
		line-height: 34px;
		font-size: 15px;
	}
	.authorization .btn{
		display: block;
		width: 250px;
		margin: 0 auto;
	}
	.check_in .btn{
		width: 300px;
		margin: 0 auto;
	}

	/*стать партнером*/
	.become_affiliate{
		height: 154px;
	}
	.become_affiliate .btn_partner{
		right: auto;
		left: 27px;
		width: auto;
		top: 65px;
	}

	/*cabinet section*/
	.cabinet header .btn{
		float: none;
		position: absolute;
		right: 0;
		top: -125px;
	}

	input[type="text"] {
		width: 50%;

	}
	.cabinet .cabinet_nav{
		float: none;
	}
	.cabinet_nav a, .device_menu a{
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		width: 33.33%;
		margin: 0;
		padding: 0;
		text-align: center;
		border-color: #ccc;
	}
	.cabinet_nav a.active, .device_menu a.active{
		opacity: 0.5;
		color: #999;
	}

	.personal_data{
		padding-bottom: 70px;
	}
	.personal_data .col input,{
		margin-bottom: 20px;
	}

	.application_number{
		padding-top: 10px;
	}
	.application_number .row{
		padding-bottom: 25px;
	}
	.application_number .col .col{
		width: 100%;
		padding-bottom: 25px;
	}
	.application_number .col .col:last-child{
		padding-bottom: 0;
	}

	.status_history a{
		padding: 12px 25px 12px 23px;
	}
	.status_history .name {
		width: 60%;
	}
	.status_history .time{
		margin-left: 15px;
	}

	#catalog .content .btn{
		width: 100%;
		padding: 0 90px 0 50px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	#catalog .content .btn .icon-basked{
		right: 67px;
	}

	.services_info{
		padding: 16px 0 10px 0;
		background: none;
	}
	.services_info li{
		width: 25% !important;
		text-align: center;
	}
	.services_info i{
		margin: 0;
		display: block;
		float: none;
	}
	.services_info li p{
		float: none;
	}
	.services_info .icon-free,
	.services_info .icon-term,
	.services_info .icon-protective{
		margin: 0;
	}

	.retail_product td:nth-child(1){width: 12%;}
	.retail_product td:nth-child(2){width: 50%;}
	.retail_product td:nth-child(3){width: 16%;}
	.retail_product td:nth-child(4){width: 22%;}

	.sets_catalog li{
		height: auto;
		text-align: center;
	}
	.sets_catalog .fl{
		float: none;
		width: auto;
		height: 380px;
		padding-bottom: 30px;
	}
	.sets_catalog .img{
		margin: 0 auto;
	}
	.sets_catalog .box1{
		right: 15%;
		bottom: 20px;
	}
	.sets_catalog .box2{
		right: 25%;
		bottom: 30px;
	}
	.sets_catalog li section{
		float: none;
		width: auto;
		padding-bottom: 40px;
		padding-right: 15px;
		padding-left: 15px;
	}
	.sets_catalog article{
		min-height: 160px;
	}
	.sets_catalog article p{
		min-height: 60px;
	}
	.read_more{
		margin-top: 10px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 768px) {
	#wrapper{
		overflow: hidden;
	}
	.container{
		padding: 0 27px;
	}

	h1{
		font-size: 30px;
	}
	h2{
		font-size: 34px;
		padding-bottom: 22px;
	}

	/*header*/
	#header .top{
		padding: 35px 27px 18px;
	}
	#header.indent{
		margin-bottom: 176px;
	}
	#header h1{
		padding: 0 0 53px 121px;
		letter-spacing: 0;
	}
	#header h1 span{
		padding-left: 33px;
	}
	.tagline{
		display: none;
	}
	#header .fr{
		width: 251px;
		right: 4px;
	}
	.contact_mobile{
		padding-left: 24px;
	}

	.services_menu{
		height: 353px;
	}
	.services_menu a:first-child{
		left: 8px;
	}
	.services_menu a + a{
		right: 40px;
	}
	.services_menu a + a + a{
		margin-left: -167px;
	}

	.sets_carousel h2{
		padding: 0;
		margin-left: -18px;
		letter-spacing: 0.02em;
	}

	/*отзывы*/
	.reviews{
		padding-bottom: 71px;
	}
	.reviews ul{
		padding-bottom: 8px;
	}
	.reviews li{
		width: auto;
		float: none;
		padding-right: 0;
	}
	.reviews li:nth-child(even) header, .reviews li:nth-child(even) p{
		padding-left: 0;
	}
	.reviews .link_more{
		display: none;
	}

	/*выдео*/
	.home.video{
		padding-bottom: 41px;
	}
	.home.video iframe{
		height: 333px;
	}


	/* Extra Small Devices, Phones */
	.partners {
		margin-top: -10px;
		height: 125px;

	}
	.glavbug{
		display: none;
	}
	.sberbank{
		left: 34.5%;
	}
	.megafon{
		left: initial;
		right: 2%;
	}


	/*Авторизация, регистрация*/
	.authorization, .check_in{
		width: 80%;
	}

	/*footer*/
	#footer{
		margin: 0 27px;
		line-height: 1.3;
	}
	#footer address{
		line-height: 1.3;
	}
	#footer .container{
		padding: 57px 0 0;
	}
	.col-3.center {
		width: auto;

	}
	#footer .col-3:first-child{
		width: 50%;
	}
	#footer .col-3.right{
		display: none;
	}
	#footer .col-3.center{
		float: right;
	}
	#footer .col-3.center p{
		padding-left: 0;
		padding-bottom: 8px;
	}
	#footer .col-3.center .social{
		padding-left: 0;
	}

	.status_history .time{
		display: none;
	}

	#catalog .content,
	#catalog .gallery{
		width: auto;
		float: none;
	}
	#catalog .content{
		padding-bottom: 36px;
	}
	#catalog .content .btn{
		width: auto;
		padding-right: 100px;
	}
	#catalog .content .btn .icon-basked{
		right: 56px;
	}
	.gallery .thumb{
		text-align: center;
	}
	.gallery .thumb li{
		display: inline-block;
		float: none;
	}

	#sets h3{
		padding-bottom: 20px;
		font-size: 28px;
	}
	#sets aside{
		float: none;
		width: auto;
		padding-bottom: 60px;
	}
	#sets .video iframe{
		height: 400px;
	}
	.sets_form{
		padding-right: 30%;
	}
	#sets .content{
		float: none;
		width: auto;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 640px) {
	.container{
		padding: 0 20px;
	}
	#header.home{
		background: url(../img/header_home_mob2.jpg);
		background-size: cover;
		height: 950px;
	}
	#header{
		background-size: cover;
		text-align: center;
		height: 330px;
	}
	#header.home.indent{
		margin-bottom: 330px;
	}
	#header .top{
		padding-right: 20px;
		padding-left: 20px;
	}
	#header .top > section,
	#header .top > section:first-child{
		float: none;
		overflow: hidden;
		padding-bottom: 20px;
	}
	.icon-logo.main{
		float: none;
		font-size: 80px;
		margin-right: 0;
	}
	#header .fr{
		float: none;
		width: auto;
	}
	#header .icon-count{
		left: 25px;
		top: 24px;
		font-size: 26px;
	}
	#header .icon-menu{
		font-size: 24px;
		top: 28px;
		right: 20px;
	}
	.contact_mobile{
		float: right;
		margin-left: 0;
		margin-right: 80px;
		text-align: left;
		font-size: 14px;
		letter-spacing: 0;;
	}
	.contact_mobile span{
		top:-1px;
	}
	#header h1{
		display: inline-block;
		padding-left: 0;
		padding-bottom: 10px;
		font-size: 34px;
	}

	.services_menu{
		height: auto;
	}
	.services_menu a{
		display: block;
		position: static;
		margin: 0 auto;
	}
	.services_menu a + a + a{
		margin-left: 0;
	}

	.sets_carousel{
		padding-top:60px;
	}
	.sets_carousel h2{
		font-size: 28px;
		color: #000;
		text-align: center;
		margin-left: 0;
		padding-bottom: 10px;
	}
	.sets_carousel h2 strong{
		display: block;
	}

	.reviews li h6, .review .list h6{
		padding-bottom: 15px;
	}


	.partners{
		height: auto;
		padding: 10px 0 15px;
	}
	.partners div{
		position: static;
		margin: 0 auto 15px;
	}
	.partners .glavbug{
		display: block;
	}

	#footer .center p,
	#footer .center .social{
		padding-left: 0;
	}

	.status_history .time{
		display: none;
	}

	.cabinet header{
		padding-bottom: 20px;
	}
	.cabinet header .btn{
		top: -142px; 
	}
	.cabinet_nav a, .device_menu a{
		width: 50%;
	}
	.cabinet_nav .active,
	.device_menu .active{
		display: none;
	}

	.status_history a{
		font-size: 20px;
	}
	.application_number p{
		font-size: 15px;
	}

	.personal_data{
		text-align: center;
	}
	.personal_data .col{
		float: none;
		padding: 0 8%;
		width: auto;
	}
	.personal_data .col:first-child{
		padding: 0 8%;
	}

	.become_affiliate{
		height: auto;
		margin-bottom: 140px;
	}
	.become_affiliate{
		padding-top: 16px;
		padding-bottom: 16px;
	}
	.become_affiliate .download_price{
		top: inherit;
	}
	.become_affiliate .btn_partner{
		left: -1px;
		top: 100%;
		margin-top: 30px;
	}

	.services_info{
		margin-bottom: 0;
	}
	.services_info li{
		width: 50% !important;
		padding-bottom: 20px;
	}
	.services_info li p{
		min-height: 40px;
	}


	.retail_top{
		padding: 0;
	}
	.retail_top .fl,
	.retail_top .fr{
		float: none;
		padding-bottom: 20px;
	}
	.retail_product{
		padding-bottom: 0;
	}
	.overflow + .paginator{
		padding-top: 50px;
	}

	.review header{
		text-align: center;
	}
	.review header h2{
		float: none;
		text-align: left;
		padding-bottom: 30px;
	}
	.review header .btn{
		float: none;
	}
	.write_review{
		padding-top: 15px;
	}
	.write_review input[type=text],
	.write_review input[type=email]{
		width: 100%;
		float: none;
	}
	.write_review .right{
		text-align: center;
	}

	#sets .video iframe{
		height: 300px;
	}
	.sets_form{
		padding-right: 0;
	}

	.sets_catalog .fl{
		height: auto;
	}
	.sets_catalog article,
	.sets_catalog article p{
		min-height: auto;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 480px) {
	#header .top{
		padding: 30px 0 0;
	}
	#header h1{
		font-size: 30px;
	}
	#header h1 span{
		padding-left: 0;
	}
	.icon-logo.main{
		font-size: 60px;
	}
	.sets_carousel{
		padding-top: 80px;
	}
	.sets_carousel h2{
		font-size: 24px;
	}
	.services_menu{
		padding-right: 35px;
	}
	.services_menu a:first-child,
	.services_menu a + a + a{
		margin-left: auto;
	}
	.services_menu a + a{
		margin-right: auto;
	}
	.reviews{
		width: auto;
		padding: 0 15px 60px;
	}

	.home.video{
		width: auto;
		padding-left: 15px;
		padding-right: 15px;
	}
	.home.video iframe{
		height: 220px;
	}

	.clearfix + h2{
		padding-left: 15px;
		padding-right: 15px;
	}


	#footer{
		text-align: center;
	}
	#footer .container{
		padding: 15px 0 30px;
		height: auto;
	}
	#footer .col-3{
		padding-top: 25px;
		float: none;
		width: auto;
	}
	#footer .col-3:first-child{
		width: auto;
	}
	#footer .col-3.center{
		float: none;
	}
	#footer .center p{
		padding-bottom: 5px;
	}
	#footer .col-3.right{
		display: block;
		float: none;
		text-align: center;
	}

	.basket h2{
		padding-left: 15px;
		padding-right: 15px;
	}
	.nav_crumb{
		padding: 15px 0 20px;
	}
	.total{
		padding-right: 15px;
	}

	.cabinet header .btn{
		display: none;
	}
	.tag_cloud{
		text-align: center;
	}
	.become_affiliate .btn_partner{
		padding: 0;
		width: 100%;
		text-align: center;
	}
	.become_affiliate .btn_partner .icon-partner{
		display: none;
	}

	.header_basket h2{
		width: auto;
		float: none;
	}

	.device_menu a{
		padding: 0 !important;
	}
	.device_menu .icon-tablet,
	.device_menu .icon-laptop{
		margin-left: 5px;
		margin-right: 10px;
	}

	.sets_catalog li{
		width: auto;
		float: none;
	}
}