@import url(reset.css);
/*FONTS*/
@font-face {
    font-family: 'open_sanslight';
    src: url('fonts/opensans-light-webfont.eot');
    src: url('fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-light-webfont.woff') format('woff'),
         url('fonts/opensans-light-webfont.ttf') format('truetype'),
         url('fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'open_sansitalic';
    src: url('fonts/opensans-italic-webfont.eot');
    src: url('fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-italic-webfont.woff') format('woff'),
         url('fonts/opensans-italic-webfont.ttf') format('truetype'),
         url('fonts/opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/opensans-regular-webfont.eot');
    src: url('fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-regular-webfont.woff') format('woff'),
         url('fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('fonts/opensans-semibold-webfont.eot');
    src: url('fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-semibold-webfont.woff') format('woff'),
         url('fonts/opensans-semibold-webfont.ttf') format('truetype'),
         url('fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'open_sansbold';
    src: url('fonts/opensans-bold-webfont.eot');
    src: url('fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-bold-webfont.woff') format('woff'),
         url('fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
  font-family: 'fontello';
  src: url('fonts/fontello.eot?77518631');
  src: url('fonts/fontello.eot?77518631#iefix') format('embedded-opentype'),
       url('fonts/fontello.woff?77518631') format('woff'),
       url('fonts/fontello.ttf?77518631') format('truetype'),
       url('fonts/fontello.svg?77518631#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?77518631#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  position: relative;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-facebook:before { content: '\e800'; } /* '' */
.icon-gplus:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-menu:before { content: '\e803'; } /* '' */
.icon-basket:before { content: '\e804'; } /* '' */
.icon-left-open-big:before { content: '\e805'; } /* '' */
.icon-right-open-big:before { content: '\e806'; } /* '' */
.icon-user:before { content: '\e807'; } /* '' */
.icon-search:before { content: '\e808'; } /* '' */
.icon-phone:before { content: '\e809'; } /* '' */
.icon-angle-down:before { content: '\e80a'; } /* '' */
.icon-mail-alt:before { content: '\e80b'; } /* '' */
.icon-skype:before { content: '\e80c'; } /* '' */
.icon-ok-circled:before { content: '\e80d'; } /* '' */
.icon-angle-right:before { content: '\e80e'; } /* '' */
.icon-down-open:before { content: '\e80f'; } /* '' */
.icon-up-open:before { content: '\e810'; } /* '' */
.icon-right-open:before { content: '\e811'; } /* '' */
.icon-left-open:before { content: '\e812'; } /* '' */
.icon-edit:before { content: '\e813'; } /* '' */
.icon-lock:before { content: '\e814'; } /* '' */
.icon-trash-empty:before { content: '\e815'; } /* '' */
.icon-location:before { content: '\e816'; } /* '' */
.icon-eye:before { content: '\e818'; } /* '' */
.icon-comment-empty:before { content: '\e819'; } /* '' */
.icon-arrows-cw:before { content: '\e81a'; } /* '' */
.icon-vk:before { content: '\e81b'; } /* '' */
.icon-flickr:before { content: '\e81c'; } /* '' */

.clear{
	clear:both;
	display:block;
	}
.left{
	float:left;
	}
.right{
	float:right;
	}

/*Elements*/
html{height: 100%; min-width: 992px;}
body{
	line-height:1;
	background-color:#fff;
	color:#000;
	font:14px 'open_sansregular';
	height: 100%;
	}
strong{font-family: 'open_sansbold';}
span{ font-weight: normal;}
input{
	font-family: 'open_sansregular';
}
:focus{ outline: none;}

::-webkit-input-placeholder {color:#818181; transition: opacity 0.5s ease;}
::-moz-placeholder {color:#818181; transition: opacity 0.5s ease;}
:-moz-placeholder {color:#818181; transition: opacity 0.5s ease;}
:-ms-input-placeholder {color:#818181; transition: opacity 0.5s ease;}

:focus::-moz-placeholder {opacity: 0; transition: opacity 0.5s ease;}
:focus:-moz-placeholder {opacity: 0; transition: opacity 0.5s ease;}
:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.5s ease;}
:focus:-ms-input-placeholder {opacity: 0; transition: opacity 0.5s ease;}

a{ color: #0057A2;}
a:hover{ text-decoration: none;}

.contentBox{
	min-width:972px;
	max-width: 1400px;
	position:relative;
	margin:0 auto;
	padding:0 10px;
	}
.fix{ width: 972px !important;}

#wrapper{
	min-width: 992px;
	min-height: 100%;
	margin-bottom: -256px;
	overflow: hidden;
}
#container{
	padding-bottom: 256px;
}

/*HEADER*/
#header{
	background-color: #0057A2;
	padding-bottom: 26px;
	color: #fff;
}
#header a{
	color: #61C6FF;
	text-decoration: none;
	transition:all 0.3s ease-in-out;
	position: relative;
}
#header a:hover{
	color: #fff;
	text-shadow:0 1px 0 rgba(0,0,0,0.2);
}
#header a:active{transition:none; top: 1px; }
#header .logo{
	width: 149px;
	height: 40px;
	background: url("../images/logo.gif");
	float: left;
	transition:all 0.3s ease-in-out;
	position: relative;
	margin-top: 38px;
}
#header .logo:hover{opacity: 0.8;}
#header .logo:active{opacity: 1;}

#header .contentBox{
	overflow: hidden;
}
#header section{
	width: 74.38%;
	float: right;
}
#header .top{
	border-bottom: 1px solid #0076BA;
	text-transform: uppercase;
	font-size: 11px;
	margin-bottom: 17px;
}
/*Header Nav*/
#header .top nav{
	float: left;
}
#header .top nav a{
	float: left;
	padding: 0 15px 0 14px;
	line-height: 31px;
	height: 33px;
}
#header .top nav a:first-child{
	margin-left: -15px;
	border-radius: 0 0 0 5px;
}
#header .top nav a:hover{
	background-color: rgba(0,0,0,0.1);
}
#header .top nav a:active{
	top: 0;
	transition:none;
	line-height: 33px;
	box-shadow:inset 0 1px 3px rgba(0,0,0,0.2);
	background-color: rgba(0,0,0,0.15);
}
#header .entry{
	float: left;
	padding: 5px 10px 8px 0;
	line-height: 21px;
}
#header .entry i{
	float: left;
	font-size: 15px;
	margin-right: 4px;
}
#header .entry.active{
	color: #fff;
}
#header .entry.active i{
	color: #FF9B00;
	transition:all 0.3s ease-in-out;
}
#header .entry.active:hover, #header .entry.active:hover i{
	color: #FFD300;
	text-shadow:none;
}
#header .exit{
	float: right;
	margin: 3px 0 0 0;
}
#header .exit i{
	color: #fff;
	font-size: 16px;
	margin: 0 -10px 0 -5px;
	top: 1px;
	position: relative;
}
#header .right{
	width: 230px;
}
/*Header Phone*/
#header .phone{
	float: left;
	position: relative;
	min-height: 30px;
	padding:0 0 0 40px;
}
#header .phone p{
	font-size: 16px;
}
#header .phone a{
	font-size: 12px;
	display: inline-block;
	border-bottom: 1px dotted #2095D5;
	line-height:1;
}
#header .phone a:hover{ border-color: #FFD300; color: #FFD300; text-shadow:none;}
/*Header Basket*/
#header .info_basket{
	float: right;
	position: relative;
	padding: 2px 0 0 40px;
	width: 205px;
}
#header .info_basket p{
	color: #63C6FF;
	font-size: 12px;
}
#header h6{
	font:14px 'open_sansbold';
	padding-bottom:3px;
}
/*Header Icons*/
#header .icon-phone, #header .icon-basket{
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background-color: #00386C;
	position: absolute;
	left: 1px;
	top: 50%;
	text-align: center;
	margin-top: -15px;
	font-size: 20px;
	transition:all 0.3s ease-in-out;
}
#header .phone:hover .icon-phone, #header .info_basket:hover .icon-basket{ text-shadow:0 0 8px rgba(255,255,255,0.6);}
#header .icon-phone:before{ top: 2px;}
#header .icon-basket:before{ top: 0px; font-size: 18px; left: -1px;}

/*MAIN MENU*/
.main_menu{
	background-color: #011934;
	font-family: 'open_sansbold';
	height: 51px;
}
.main_menu nav{
	float: left;
	text-transform: uppercase;
	line-height: 16px;
}
.main_menu a{
	text-decoration: none;
	color:#fff;
	float: left;
	height: 51px;
	line-height: 49px;
	padding: 0 19px;
	transition:all 0.3s ease-in-out;
}
.main_menu a:first-child{
	margin-left: -19px;
}
.main_menu a:hover{
	background-color: #00386C;
	text-shadow:0 0 12px rgba(255,255,255,0.7), 0 1px 0 rgba(0,0,0,0.3);
}
.main_menu a:active{
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.6);
	line-height: 51px;
	transition:none;
}
.main_menu a.active{
	background-color: #fff;
	color: #011934;
	text-shadow:none;
	cursor: default;
	box-shadow: none;
	line-height: 49px;
}
.main_menu a.active i{ color: #898989;}
.main_menu .count{
	width: 16px;
	height: 16px;
	text-align: center;
	line-height: 16px;
	font-size: 11px;
	background-color: #FF5B00;
	border-radius: 8px;
	text-shadow:0 1px 0 rgba(0,0,0,0.2);
	float: right;
	margin: 16px 0 0 6px;
}
.main_menu .count.green{ background-color: #00A500;}
.main_menu .icon-angle-down{
	width: 16px;
}
.main_menu a:active .count{ margin-top: 17px;}

/*SEARCH*/
.search_form{
	float: right;
	width: 22%;
	position: relative;
	margin:9px 5px 0 0;
}
.search_form input[type="text"]:focus .search_form{ width: 26%;}
.search_form input[type="text"]{
	width: 100%;
	padding: 0 44px 0 15px;
	height: 34px;
	border: 0;
	transition:all 0.3s ease-in-out;
	font-size: 14px;
	background-color: #EBF9FF;
	border-radius: 1px;
}
.search_form input[type="text"]:focus{
	background-color: #fff;
	box-shadow: 0 0 8px #0087D5;
}
.search_form .submit{
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	text-align:center;
	font-size: 20px;
	line-height: 34px;
	color: #828282;
	transition:all 0.3s ease-in-out;
}
.search_form .submit i{
	transition:all 0.3s ease-in-out;
}
.search_form .submit input{
	width: 100%;
	height: 34px;
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	cursor: pointer;
	border: 0;
	background: none;
}
.search_form .submit:hover{
	background-color: #0087D5;
}
.search_form .submit:hover i{
	color: #fff;
	text-shadow:0 1px 0 rgba(0,0,0,0.3);
}
.search_form .submit:active{
	background-color: #FF5B00;
	transition:none;
	box-shadow: inset 0 0 4px rgba(0,0,0,0.5);
}

/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

.owl-pagination{
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 44%;
	background-color: #fff;
	padding: 10px 5px 0 5px;
}
.owl-pagination .owl-page{
	float: left;
	width: 28px;
	height: 6px;
	background-color:#DBDBDB;
	margin: 0 5px;
	transition:all 0.3s ease-in-out;
}
.owl-pagination .owl-page:hover{background-color:#FF5B00;}
.owl-pagination .owl-page.active{background-color:#0057A2; cursor: default;}
.owl-prev{
	position: absolute;
	left: 3%;
	top: 50%;
	width: 44px;
	height: 44px;
	border:2px solid #fff;
	border-radius: 24px;
	color: #fff;
	font-size: 24px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.5), 0 1px 1px rgba(0,0,0,0.3);
	transition:all 0.3s ease-in-out;
}
.owl-prev i{
	position: relative;
	top: 5px;
	left: 3px;
	text-shadow:0 1px 2px rgba(0,0,0,0.6);
}
.owl-next{
	position: absolute;
	right: 3%;
	top: 50%;
	width: 44px;
	height: 44px;
	border:2px solid #fff;
	border-radius: 24px;
	color: #fff;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.5), 0 1px 1px rgba(0,0,0,0.3);
	transition:all 0.3s ease-in-out;
	font-size:24px;
}
.owl-next i{
	position: relative;
	top: 5px;
	left: 8px;
	text-shadow:0 1px 2px rgba(0,0,0,0.6);
}
.owl-prev:hover, .owl-next:hover{ background-color:#0057A2; border-color: #0057A2; box-shadow:none;}
.owl-prev:active, .owl-next:active{ background-color:#FF5B00; border-color: #FF5B00; transition:none;}

/*MAIN SLIDER*/
#main_slide{
	position: relative;
	margin: 0 auto;
	max-width: 1400px;
}
#main_slide .image{
	text-align: center;
}
#main_slide .image img{
	display: block;
	width: 100%;
	min-width:972px;
	max-width: 1400px;
	margin: 0 auto;
}
#main_slide .owl-item{
	position: relative;
}
#main_slide .owl-item h2{
	position: absolute;
	left: 14.4%;
	top: 30.4%;
	font:35px 'open_sanslight';
	text-transform: uppercase;
	color: #fff;
	line-height: 0.9;
}
#main_slide .owl-item h2 span{
	display: inline-block;
	background-color: #0057A2;
	padding: 10px 12px;
}
#main_slide .owl-item h2 span:first-child{
	padding-bottom: 0;
}

/*CAT MENU*/
.cat_menu{
	overflow: hidden;
	margin: 0 auto;
	padding: 37px 0 16px 0;
	max-width: 1400px;
}
.cat_menu ul{
	width: 120%;
}
.cat_menu ul li{
	width: 12.22%;
	margin: 0 2% 20px 0;
	float: left;
}
.cat_menu ul li a{
	display: block;
	border: 3px solid #fff;
	font-size: 12px;
	color: #333;
	text-decoration: none;
	transition:all 0.3s ease-in-out;
	text-align: center;
	text-transform: uppercase;
}
.cat_menu ul li a > div{
	cursor: pointer;
	border: 3px solid #F3F4F5;
	transition:all 0.3s ease-in-out;
}
.cat_menu ul li a:hover{
	border-color:#ADCEE4;
	color: #0057A2;
}
.cat_menu ul li a:active{
	border-color:#C7C7C7;
	color: #000;
	transition:none;
}
.cat_menu ul li a:active > div{transition:none;}
.cat_menu ul li a:active .img{ top: 1px;}
.cat_menu ul li a:hover > div{
	border-color: #fff;
}
.cat_menu ul li .img{
	cursor: pointer;
	height: 106px;
	position: relative;
}
.cat_menu ul li p{
	width: 200px;
	height: 82px;
	display: table-cell;
	vertical-align: middle;
}

/*HITS PRODUCT*/
.hits_product{
	background-color: #F3F4F5;
	padding: 28px 0 0;
}
.hits_product.new{
	padding-top: 40px;
}
.hits_product h1{
	font:24px 'open_sanslight';
	color: #333;
	text-transform: uppercase;
	padding-bottom: 34px;
}
.hits_product .contentBox{
	overflow: hidden;
	padding-bottom: 100px;
}
.hits_product.new .contentBox{
	padding-bottom: 24px;
}
.hits_product header{
	overflow: hidden;
	text-transform: uppercase;
	padding-bottom: 30px;
}
.hits_product header nav{
	float: left;
	padding-top: 14px;
}
.hits_product header nav a{
	float: left;
	text-decoration: none;
	font-size: 18px;
	color: #00A500;
	border-bottom: 1px dotted #00A500;
	line-height: 1.1;
	margin-left: 48px;
}
.hits_product header nav a:first-child{
	color: #D6071B;
	border-bottom-color:#D6071B;
}
.hits_product header nav a:hover{ border-bottom-color: transparent;}
.hits_product header .all{
	font-size: 12px;
	float: right;
	color: #303030;
	margin-top: 15px;
	transition:all 0.3s ease-in-out;
}
.hits_product header .all i{
	float: left;
	margin-right: 4px;
	color: #9B9B9B;
	position: relative;
	font-size: 14px;
	top: -1px;
	transition:all 0.3s ease-in-out;
}
.hits_product header .all:hover, .hits_product header .all:hover i{ color: #0057A2;}
.hits_product header .all:active, .hits_product header .all:active i{ color: #000; transition:none;}
.hits_product h2{
	font:36px 'open_sanslight';
	color: #333;
	float: left;
}
.hits_product ul{
	width: 102.2%;
	left: -2.2%;
	position: relative;
}
.hits_product ul li{
	float: left;
	width: 22.8%;
	margin-left: 2.2%;
	margin-bottom: 25px;
	background-color: #fff;
	height: 410px;
	position: relative;
}
.hits_product ul li .new, .hits_product ul li .action{
	color: transparent;
	width: 84px;
	height: 84px;
	background: url("../images/new.png");
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
.hits_product ul li .action{
	background: url("../images/action.png");
}
.hits_product ul li .link{
	display: block;
	color: #0057A2;
	text-decoration: none;
	margin-bottom: 2px;
}
.hits_product ul li .link:hover{ color: #FF5B00;}
.hits_product ul li .img{
	height: 233px;
	text-align: center;
	margin-bottom: 6px;
}
.hits_product ul li .img img{transition:all 0.3s ease-in-out;}
.hits_product ul li .link:hover .img img{ opacity: 0.8;}
.hits_product ul li .link h3{
	width: 82%;
	margin: 0 auto 8px;
	line-height: 1.6;
	height: 46px;
	transition:all 0.3s ease-in-out;
	overflow: hidden;
}
.hits_product hr{
	width: 82%;
	margin:0 auto;
	border-color: #DBDBDB;
}
.hits_product .price{
	width: 82%;
	margin:0 auto 15px;
}
.hits_product .price td{
	vertical-align: middle;
	padding: 3px 0;
}
.hits_product .price td p, .item .price td p{
	font:18px/1 'open_sansbold';
	color: #333;
}
.hits_product .price td del, .item .price td del{
	color: #D6071B;
	font-size: 12px;
	line-height: 1.2;
	display: block;
}
.hits_product .not .price td p, .item .not .price td p{ color: #B5B5B5;}
.hits_product .price td p span, .item .price td p span{font-size: 14px;}
.hits_product .button, .item .button{
	float: right;
	height: 29px;
	font:12px/29px 'open_sansbold';
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #0057A2;
	padding: 0 10px;
}
.hits_product .button:hover, .item .button:hover{
	background-color: #FF5B00;
	text-shadow:0 1px 0 rgba(0,0,0,0.2)
}
.hits_product .button:active, .item .button:active{
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.5);
	line-height: 31px;
}
.hits_product .not .button, .item .not .button{
	background-color: #A9A9A9;
	cursor: default;
}
.hits_product ul li section{
	font-size: 12px;
	padding: 12px 0 0 0;
	background-color: #fff;
	position: relative;
}
.hits_product ul li section p{
	width: 82%;
	margin:0 auto;
	color: #C1C1C1;
	line-height: 18px;
	overflow: hidden;
	height: 5px;
	position: relative;
	padding-bottom: 15px;
}
.hits_product ul li section p:before{
	content: '';
	width: 100%;
	height: 20px;
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	position: absolute;
	left: 0;
	bottom: 0;
}
.hits_product ul li:hover section p{height: auto; color: #303030;}
.hits_product ul li:hover section{box-shadow: 0 1px 0 rgba(0,0,0,0.1); z-index: 2;}
.hits_product ul li:hover section p:before{ display: none;}
.hits_product .availability{
	width: 82%;
	margin: 0 auto;
	color: #00B02F;
	padding-bottom: 7px;
}
.hits_product .not .availability{ color: #959595;}

/*SERVICES*/
.services_info{
	width: 972px;
	margin:-77px auto 0;
}
.services_info .contentBox{
	width: 1000px;
	padding-bottom: 32px;
	overflow: hidden;
}
.services_info a{
	float: left;
	width: 308px;
	height: 170px;
	margin-right:24px;
	position: relative;
	color: #cdd7e4;
	font-size: 12px;
	text-decoration: none;
	background-color: #fff;
	margin-bottom: 32px;
}
.services_info a:hover{
	color: #fff;
}
.services_info a img{
	transition:all 0.3s ease-in-out;
}
.services_info a section{
	width: 168px;
	background-color: #0057A2;
	background-color: rgba(0,87,162,0.9);
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 16px 0 15px 20px;
	transition:all 0.3s ease-in-out;
}
.services_info a:hover section{
	background-color: rgba(0,87,162,0.8);
}
.services_info a h3{
	font:14px 'open_sansbold';
	text-transform: uppercase;
	padding-bottom: 10px;
	color: #fff;
}
.services_info a:hover img{
	opacity: 0.8;
}
.services_info a:active img{
	transition:none;
	opacity: 1;
}

/*OUR SERVICES*/
.our_action{
	background: url("../images/block.gif") no-repeat center top;
	color: #fff;
	margin-bottom: 40px;
}
.our_action a{
	color: #fff;
	transition:all 0.3s ease-in-out;
	position: relative;
}
.our_action a:hover{
	text-decoration: none;
	text-shadow:0 0 6px rgba(255,255,255,0.7);
}
.our_action a:active{
	transition:none;
	text-shadow:0 1px 0 rgba(0,0,0,0.4);
	top: 1px;
}
.our_action .contentBox{
	height: 302px;
	background: url("../images/block_line.gif");
	padding:0;
}
.our_action .left{
	width: 74.2%;
	margin-left: 10px;
	color: #cdd7e4;
	padding-top: 40px;
}
.our_action .left h2{
	font-size: 18px;
	line-height: 26px;
	padding: 0 5px 11px 0;
}
.our_action .date{
	font-size: 11px;
	text-transform: uppercase;
	color: #47A9D5;
}
.our_action .left p{
	font-size: 13px;
	line-height: 20px;
	padding: 0 20px 7px 0;
}
.our_action .left section{
	width: 30.9%;
	margin-left: 3.4%;
	float: left;
}
.our_action .left section:first-child{
	margin-left: 0;
}
.our_action .right{
	width: 22%;
	height:302px;
	background: url("../images/block.gif") no-repeat left bottom;
	float: right;
}
.our_action .right > div{
	padding: 45px 0 0 29px;
}
.our_action .right h3{
	font:14px 'open_sansbold';
	text-transform: uppercase;
	padding-bottom: 14px;
}
.our_action .right ul li{
	line-height: 22px;
	padding-bottom: 15px;
}
.our_action .right .all{
	font-size: 11px;
	color: #FF8F9B;
	text-transform: uppercase;
	display: inline-block;
	padding: 3px 6px;
	text-decoration: none;
	background-color: #B10514;
	margin-left: -6px;
}
.our_action .right .all:hover{
	color: #FFCACF;
	text-shadow:none;
	background-color: #89040F;
}

/*ABOUT*/
.main_about .contentBox{
	padding-bottom: 44px;
	overflow: hidden;
}
.main_about .left{
	width: 23.04%;
}
.main_about .left h2{
	font:36px/36px 'open_sanslight';
	text-transform: uppercase;
	color: #0057A2;
	height: 139px;
}
/*Like Shop*/
.like_shop{
	overflow: hidden;
}
.like_shop h6{
	font:14px 'open_sanslight';
	text-transform: uppercase;
	color: #333;
	padding-bottom: 16px;
}
.like_shop a{ transition:all 0.3s ease-in-out; position: relative;}
.like_shop a i, .like_shop a span{transition:all 0.3s ease-in-out;}
.like_shop a:hover i{ text-shadow:1px 1px 1px rgba(0,0,0,0.4);}
.like_shop a:hover span{ text-shadow:0 1px 0 rgba(0,0,0,0.3);}
.like_shop a:active{ transition:none; top: 1px; box-shadow: inset 0 1px 1px rgba(0,0,0,0.3);}

/*Icon Facebook*/
.like_shop .facebook{
	float: left;
	height: 30px;
	background-color: #3164A5;
	color: #fff;
	text-decoration: none;
	position: relative;
	margin-right: 3px;
	overflow: hidden;
}
.like_shop .facebook i{
	font-size: 23px;
	float: left;
	height: 30px;
	padding-right: 3px;
}
.like_shop .facebook i:before{
	position: relative;
	top: 3px;
}
.like_shop .facebook:hover{ background-color: #3C7ACA;}

/*Icon Twitter*/
.like_shop .twitter{
	float: left;
	height: 30px;
	background-color: #00BAEF;
	color: #fff;
	text-decoration: none;
	position: relative;
	margin-right: 3px;
	overflow: hidden;
}
.like_shop .twitter i{
	font-size: 21px;
	float: left;
	height: 30px;
	padding-right: 3px;
}
.like_shop .twitter i:before{
	left: 2px;
	top: 1px;
}
.like_shop .twitter:hover{ background-color: #00A1CD;}

/*Icon VK*/
.like_shop .vk{
	float: left;
	height: 30px;
	background-color: #39769D;
	color: #fff;
	text-decoration: none;
	position: relative;
	margin-right: 3px;
	overflow: hidden;
}
.like_shop .vk i{
	font-size: 19px;
	float: left;
	height: 30px;
	padding-right: 6px;
}
.like_shop .vk i:before{
	left: 1px;
	top: 2px;
}
.like_shop .vk:hover{ background-color: #448DBB;}

/*Icon Google Plus*/
.like_shop .gplus{
	float: left;
	height: 30px;
	background-color: #FF4B2F;
	color: #fff;
	text-decoration: none;
	position: relative;
	margin-right: 3px;
}
.like_shop .gplus i{
	font-size: 21px;
	float: left;
	height: 30px;
	padding-right: 3px;
}
.like_shop .gplus i:before{
	left: 2px;
	top: 1px;
}
.like_shop .gplus:hover{ background-color: #DE4129;}

/*Icon MSG*/
.like_shop .msg{
	float: left;
	height: 30px;
	background-color: #1F5ED2;
	color: #fff;
	text-decoration: none;
	position: relative;
	margin-right: 3px;
}
.like_shop .msg i{
	font-size: 18px;
	float: left;
	height: 30px;
	padding-right: 8px;
}
.like_shop .msg i:before{
	left: 3px;
	top: 2px;
}
.like_shop .msg:hover{ background-color: #3074F3;}

/*Icon MSG*/
.like_shop .flickr{
	float: left;
	height: 30px;
	background-color: #A9A9A9;
	color: #fff;
	text-decoration: none;
	position: relative;
	margin-right: 3px;
}
.like_shop .flickr i{
	font-size: 18px;
	float: left;
	height: 30px;
	padding-right: 8px;
}
.like_shop .flickr i:before{
	left: 3px;
	top: 2px;
}
.like_shop .flickr:hover{ background-color: #71A3FF;}

.like_shop .facebook span,
.like_shop .twitter span,
.like_shop .vk span,
.like_shop .gplus span,
.like_shop .msg span,
.like_shop .flickr span{
	float: right;
	font-size: 11px;
	min-width: 12px;
	max-width: 70px;
	padding: 0 13px 0 4px;
	line-height: 30px;
	text-align: center;
}

.main_about article{
	width: 74.2%;
	float: right;
	font-size: 12px;
	color: #9a9a9a;
}
.main_about article p{
	padding-bottom: 10px;
	line-height: 1.7;
}

/*FOOTER*/
#footer{
	color: #333;
	height: 256px;
	min-width: 992px;
}
#footer .line{
	height: 6px;
	background-color: #0057A2;
}
#footer .line .contentBox{ padding: 0;}
#footer .line .left{
	width: 23.04%;
	height: 6px;
	background-color: #D6071B;
}
#footer a{
	color: #0057A2;
}
#footer a:hover{
	text-decoration: none;
	color: #FF5B00;
}
#footer .content{
	height: 250px;
	background-color: #F3F4F5;
}
#footer .content .contentBox{
	padding-top: 38px;
}
#footer .menu{
	width: 23.04%;
	float: left;
	text-transform: uppercase;
	padding-top: 14px;
}
#footer .menu li{
	padding-bottom: 11px;
}
#footer .right{
	width: 74.2%;
	float: right;
}
#footer .right section{
	width: 30.9%;
	margin-left: 3.4%;
	float: left;
}
#footer .right section:first-child{
	margin-left:0;
}
#footer .phone p{
	font:24px/36px 'open_sanslight';
	padding-bottom:8px;
}
#footer .phone a{
	text-decoration: none;
	border-bottom:1px dotted #0057A2;
	display:inline-block;
	line-height:1;
	margin-bottom:6px;
}
#footer .phone a:hover{
	border-bottom-color: transparent;
}
#footer .right h4{
	font:14px 'open_sansbold';
	text-transform: uppercase;
	padding: 12px 0 5px 0;
}
/*shop*/
#footer .shop address{
	text-decoration: underline;
	display: block;
	padding-bottom: 10px;
}
#footer .shop p{
	padding-bottom: 10px;
}
/*contact*/
#footer .contact i{
	color: #9B9B9B;
}
#footer .contact a:hover i{
	color: #FF5B00;
}
#footer .contact a{
	display: inline-block;
	position: relative;
	padding-left: 25px;
	margin-bottom: 5px;
}
#footer .contact a i{
	position: absolute;
	left: 0;
}
#footer .contact a .icon-mail-alt{
	font-size: 16px;
	left: -3px;
}
#footer .contact a .icon-skype{
	font-size: 18px;
	left: -4px;
}
/*card*/
#footer .card{
	height: 77px;
	padding-top: 4px;
}
#footer .card > div{
	width: 37px;
	height: 24px;
	background: url("../images/card_icons.jpg");
	float: left;
	margin-right: 5px;
	transition:all 0.3s ease-in-out;
}
#footer .card > div:hover{ opacity: 0.8;}
#footer .card .visa{ background-position: 0 0;}
#footer .card .mastercard{ background-position: -37px 0;}
#footer .card .americanexpress{ background-position: -74px 0;}
#footer .card .discover{ background-position: -111px 0;}

#footer .payment{
	color: #9B9B9B;
}
#footer .payment h4{
	color: #333;
}
#footer .payment p{
	font-size: 12px;
	padding-top: 7px;
}
#footer .payment p a{
	color: #9B9B9B;
}

/*Main SUB Menu*/
.main_sub_menu{
	overflow: hidden;
	padding: 10px 0 13px 0;
}
.main_sub_menu li{
	float: left;
	font-size: 12px;
	text-transform: uppercase;
}
.main_sub_menu i{
	color: #0062A8;
	font-size: 16px;
	line-height: 1.2;
	padding-top: 5px;
	float: left;
}
.main_sub_menu a{
	color: #828282;
	text-decoration: none;
	transition:all 0.3s ease-in-out;
	overflow: hidden;
	display: block;
}
.main_sub_menu a span{
	float: left;
	padding: 6px 0 6px 0;
}
.main_sub_menu a:hover{
	color: #0062A8;
}
.main_sub_menu a:active{
	color: #111;
	transition:none;
}

/*PRODUCT*/
.product_block h1{
	font:36px/1.1 'open_sanslight';
	color: #303030;
	text-transform: uppercase;
	padding-bottom: 14px;
}
.product_block .artcl{
	overflow: hidden;
	padding-bottom: 12px;
}
.product_block .artcl span{
	float: left;
	border: 1px solid #B5B5B5;
	font-size: 12px;
	color: #969696;
	text-transform: uppercase;
	height: 27px;
	line-height: 29px;
	padding: 0 8px;
}


#showcase{
	float: left;
	height: 475px;
	overflow: hidden;
}

.product_block{
	padding-bottom: 30px;
}
.product_block > aside{
	float: right;
	width: 40.12%;
	padding-top: 24px;
}
.product_block .lenta{
	width: 95px;
	height: 95px;
	background: url("../images/action_news.png");
	position: absolute;
	top: -15px;
	left: -15px;
}
.product_block .news_product .lenta{ background-position: bottom;}

/*Action Product*/
.action_product{
	border:3px solid #F9E9E9;
	position: relative;
	min-height: 62px;
	color: #333;
	padding:21px 0 21px 0;
	margin-bottom:19px;
}
.action_product strong{
	color: #D6071B;
}
.action_product p{
	padding: 0 26px;
	line-height: 1.6;
}

/*News Product*/
.news_product{
	border: 3px solid #F3F4F5;
	position: relative;
	padding-top: 18px;
}
.news_product .price{
	float: left;
	padding: 0 0 13px 26px;
}
.news_product .price p, .action_bargain .total .price{
	color: #D6071B;
	font-size: 36px;
	position: relative;
	display: inline-block;
	padding: 0 0 10px 0;
}
.news_product .price p span, .action_bargain .total .price span{
	font-size: 24px;
	position: relative;
	left: -4px;
}
.news_product .price p del, .action_bargain .total .price del{
	font-size: 18px;
	color: #818181;
	position: absolute;
	top: -7px;
	right: -14px;
}
.news_product .price p del span, .action_bargain .total .price del span{
	font-size: 14px;
	left: -1px;
}
.news_product .price div{
	font-size: 12px;
	color: #00A500;
	margin-left: -1px;
}
.news_product .price div i{
	font-size: 11px;
}
.news_product .buttons{
	float: right;
	width: 42.8%;
	padding: 4px 23px 13px 0;
}
.news_product .buttons a{
	display: block;
	padding: 0;
}
.news_product .info{
	overflow: hidden;
	background-color: #F3F4F5;
	font-size: 13px;
	color: #333;
	padding: 15px 0 10px 0;
}
.news_product .info header{
	padding: 0 0 16px 27px;
}
.news_product .info a{
	color: #333;
	text-decoration: none;
	border-bottom:1px dotted #333;
	transition:all 0.2s ease-in-out;
	display: inline-block;
	line-height: 1;
	position: relative;
}
.news_product .info a:hover{
	color: #0057A2;
	border-bottom-color: #0057A2;
}
.news_product .info a:active{
	transition:none;
	top: 1px;
	color: #000;
	border-bottom-color: transparent;
}
.news_product .info h6{
	text-transform: uppercase;
	font:12px 'open_sansbold';
	padding-bottom: 4px;
}
.news_product .info .left{
	padding-left: 27px;
	width: 140px;
}
.news_product .info .left p{
	line-height: 24px;
}
.news_product .info .right{
	width: 42%;
	padding-right: 26px;
}
.news_product .info .right p{
	font-size: 12px;
	color: #818181;
	padding-bottom: 10px;
	line-height: 18px;
	margin-right: -20px;
}
.news_product .info .right p span{
	font-size: 13px;
	color: #333;
	display: block;
	padding-bottom: 3px;
}

.blue_button1{
	display: inline-block;
	height: 39px;
	font:14px/39px 'open_sansbold';
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	background-color: #0057A2;
	padding:0 20px;
	margin-bottom: 10px;
	text-align: center;
	border: 0;
	cursor: pointer;
}
.blue_button1:hover{
	background-color: #FF5B00;
	text-shadow:0 1px 0 rgba(0,0,0,0.2);
}
.blue_button1:active{
	line-height: 41px;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.3);
}
.blue_button2{
	display: inline-block;
	height: 27px;
	font-size: 12px;
	line-height: 27px;
	text-transform: uppercase;
	color: #0057A2;
	text-decoration: none;
	background-color: #fff;
	padding:0 20px;
	border:1px solid #0057A2;
	margin-bottom: 10px;
	text-align: center;
}
.blue_button2:hover{
	background-color: #00A500;
	text-shadow:0 1px 0 rgba(0,0,0,0.2);
	border-color: #00A500;
	color: #fff;
}
.blue_button2:active{
	line-height: 29px;
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.3);
}

/*АКЦИЯ. ВЫГОДНАЯ ПОКУПКА*/
.bg_fef3f4{
	background-color: #fef3f4;
	min-width: 992px;
}
.action_bargain{
	min-width:972px;
	max-width: 1400px;
	margin:0 auto;
	padding:21px 10px 31px 10px;
	overflow: hidden;
}
.action_bargain h2{
	color: #D6071B;
	font:24px 'open_sanslight';
	text-transform: uppercase;
	padding-bottom: 23px;
}
.action_bargain .goods{
	float: left;
	border:3px solid #F9E9E9;
	background-color: #fff;
	height: 135px;
	width: 31%;
}
.action_bargain .goods .img{
	width: 47.6%;
	float: left;
	text-align: center;
}
.action_bargain .goods .img div{
	display: table-cell;
	vertical-align: middle;
	height: 135px;
	width: 300px;
}
.action_bargain .goods .descrp{
	width: 50%;
	float: left;
	font-size: 13px;
}
.action_bargain .goods .descrp > div{
	height: 135px;
	display: table-cell;
	vertical-align: middle;
}
.action_bargain .goods .descrp a{
	text-decoration: none;
	color: #0e589e;
	line-height: 1.6;
	display: inline-block;
	margin-bottom: 8px;
	position: relative;
	top: -5px;
}
.action_bargain .goods .descrp a:hover{
	text-decoration: underline;
}
.action_bargain .goods .price{
	color: #333;
	font:16px 'open_sansbold';
	display: inline-block;
	position: relative;
}
.action_bargain .goods .price span{
	font-size: 13px;
}
.action_bargain .goods .price del{
	font:12px 'open_sansregular';
	color: #b71020;
	position: absolute;
	top: -10px;
	right: -21px;
}
.action_bargain .plus{
	height: 141px;
	line-height: 141px;
	width: 2.5%;
	font-size: 40px;
	color: #EC6C77;
	float: left;
	text-align: center;
}
.action_bargain .result{
	height: 141px;
	line-height: 141px;
	width: 4.1%;
	font-size: 40px;
	color: #EC6C77;
	float: left;
	text-align: center;
	margin-right: 1%;
}
.action_bargain .total{
	float: left;
	width: 240px;
}
.action_bargain .total > div{
	height: 141px;
	display: table-cell;
	vertical-align: middle;
}
.action_bargain .total .price{
	padding-bottom: 15px;
	line-height: 1;
	margin-left: -4px;
}
.action_bargain .total .price del{
	top: -11px;
	right: -26px;
}
.action_bargain .total .red_button1{ margin-bottom: 10px;}
.red_button1{
	display:inline-block;
	height: 29px;
	padding:0 19px;
	background-color: #D6071B;
	font:12px/29px 'open_sansbold';
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
}
.red_button1:hover{
	background-color: #FF5B00;
	text-shadow:0 1px 0 rgba(0,0,0,0.3);
}
.red_button1:active{
	background-color: #F74B00;
	text-shadow:0 1px 0 rgba(0,0,0,0.3);
	box-shadow:inset 0 2px 1px rgba(0,0,0,0.4);
	line-height: 31px;
}

/*OTHER MODEL*/
.other_model{
	width: 23.04%;
	float: left;
	padding: 25px 0 47px;
}
.other_model > div{
	border:3px solid #F3F4F5;
	border-bottom: none;
	padding: 8px 0 0 0;
}
.other_model h3{
	font-family: 'open_sansbold';
	color: #333;
	text-transform: uppercase;
	padding: 0 0 22px 13px;
}
.other_model table{
	width: 100%;
	font-size: 13px;
}
.other_model table td{
	vertical-align: middle;
	padding-bottom: 17px;
}
.other_model tr td:first-child{
	width: 35.7%;
	text-align: center;
}
.other_model img{
	width: 52px;
}
.other_model a{
	display: block;
	padding-right: 10px;
	line-height: 1.5;
	font-size: 13px;
	text-decoration: none;
	transition:all 0.3s ease-in-out;
}
.other_model a:hover{
	color: #FF5B00;
}
.other_model a:active{
	color: #000;
	transition:none;
}
.other_model .all{
	height: 32px;
	display: block;
	background-color: #F3F4F5;
	transition:all 0.2s ease-in-out;
	font-size: 12px;
	color:#818181;
	text-align: center;
	line-height: 32px;
	text-decoration: none;
	text-transform: uppercase;
}
.other_model .all:hover{
	color: #0057A2;
}
.other_model .all:active{
	line-height: 34px;
	transition:none;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
	color: #222;
}


/*DESCRIPTION PRODUCT:*/
.info_product{
	width:74.2%;
	float: right;
	color: #333;
	padding: 30px 0 47px;
}
.info_product .table{
	margin-bottom: 18px;
}
.info_product .table td{
	padding-right: 14px;
	padding-bottom: 5px;
}
.info_product .table td:first-child{
	font-size: 12px;
	color: #818181;
	text-align: right;
	text-transform: uppercase;
}
.info_product h4{
	font-family: 'open_sansbold';
	padding-bottom: 12px;
}
.info_product .descrp{
	line-height: 1.5;
}
.info_product .descrp ul{
	margin-bottom: -3px;
}
.info_product .descrp ul li{
	padding:0 0 13px 19px;
	position: relative;
}
.info_product .descrp ul li:before{
	content: '';
	width: 5px;
	height: 5px;
	border-radius: 3px;
	background-color: #0057A2;
	position: absolute;
	left: 6px;
	top: 8px;
}

/*TABS*/
.tabs.product .nav{
	overflow: hidden;
	margin-left: -16px;
	padding-bottom: 14px;
}
.tabs.product .nav li{
	float: left;
}
.tabs.product .nav a{
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	height: 32px;
	line-height: 32px;
	padding:0 16px;
	transition:all 0.2s ease-in-out;
}
.tabs.product .nav a span{
	display: block;
	border-bottom: 1px dotted #0057A2;
	line-height:1;
	padding-top: 9px;
	transition:all 0.2s ease-in-out;
}
.tabs.product .nav a:hover{
	background-color: #ECF2FA;
}
.tabs.product .nav a:hover span{
	border-bottom-color: transparent;
}
.tabs.product .nav a:active{
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
	transition:none;
	color: #000;
}
.tabs.product .nav a:active span{
	padding-top: 10px;
	transition:none;
}
.tabs.product .nav a.active{
	font-family: 'open_sansbold';
	color: #333;
	background-color: transparent;
	cursor: default;
	box-shadow: none;
}
.tabs.product .nav a.active span{
	border-bottom-color: transparent;
	padding-top: 9px;
}

.our_view{
	padding: 43px 0 69px 0;
}
.our_view h2{
	float: left;
	font:24px/1.28 'open_sanslight';
	color: #444;
	text-transform: uppercase;
	width: 24.6%;
}
.our_view_carousel .owl-next, .our_view_carousel .owl-prev{
	width: auto;
	height: auto;
	border:none;
	box-shadow: none;
	background: none !important;
	color: #DBDBDB;
	margin-top: -22px;
	font-size: 30px;
}
.our_view_carousel .owl-next i, .our_view_carousel .owl-prev i{
	top: 0;
	left: 0;
	text-shadow:none;
}
.our_view_carousel .owl-next:hover, .our_view_carousel .owl-prev:hover{
	color: #0057A2;
}
.our_view_carousel .owl-next{
	right: -40px;
}
.our_view_carousel .owl-prev{
	left: -40px;
}
.our_view_carousel .owl-next:active{
	right: -42px;
	transition:none;
}
.our_view_carousel .owl-prev:active{
	left: -42px;
	transition:none;
}

.our_view_carousel{
	width: 68.8%;
	float: left;
	padding-top: 8px;
}
.our_view_carousel .item{
	width: 100%;
	float: left;
}
.our_view_carousel .item > div{
	border: 2px solid #F3F4F5;
	margin:0 13px;
	overflow: hidden;
	transition:all 0.3s ease-in-out;
}
.our_view_carousel .item:hover > div{
	border-color: #E1E8F2;
}
.our_view_carousel .img{
	width: 47.6%;
	float: left;
	text-align: center;
}
.our_view_carousel .img div{
	display: table-cell;
	vertical-align: middle;
	height: 137px;
	width: 300px;
}
.our_view_carousel .descrp{
	width: 50%;
	float: left;
	font-size: 13px;
}
.our_view_carousel .descrp > div{
	height: 137px;
	display: table-cell;
	vertical-align: middle;
}
.our_view_carousel .descrp a{
	text-decoration: none;
	color: #0e589e;
	line-height: 1.6;
	display: inline-block;
	margin-bottom: 8px;
	position: relative;
	top: -5px;
}
.our_view_carousel .descrp div a:hover{
	text-decoration: underline;
}
.item .price{
	width: 100%;
}
.item .price td{
	vertical-align: middle;
}
.item .price td:first-child{
	padding-right: 6px;
}
.item .price td p > span{
	font-size: 13px;
}
.item .price .button{
	float: left !important;
	top: 0 !important;
	color: #fff;
	line-height: 29px;
	text-decoration: none !important;
	margin-bottom: 0;
}
.item .price .button:active{
	line-height: 31px;
}

/*LIKE BLOCK*/
.like_block{
	background-color: #0057A2;
	color: #fff;
	padding: 11px 0;
}
.like_block .contentBox{ overflow: hidden;}
.like_block h3{
	font-family: 'open_sanslight';
	text-transform: uppercase;
	float: left;
	line-height: 30px;
}
.like_block .like_shop{
	width: 74.2%;
	float: right;
}
.like_block .like_shop a:active{
	box-shadow: inset 0 1px 2px rgba(255,255,255,0.5);
}

/*ACCOUNT*/
.account{
	color: #333;
	line-height: 1.76;
	padding-bottom: 50px;
	min-height: 623px;
}
.account a{
	transition:all 0.2s ease-in-out;
	line-height: 1;
}
.account a:hover{
	color: #FF5B00;
	text-decoration: underline;
}
.account a:active{
	transition:none;
	color: #000;
	border-bottom-color: #000;
}
.account .left{
	width: 35%;
	padding: 20px 0 0 0;
}
.account .left a{
	font-size: 12px;
	text-transform: uppercase;
}
.account .left a i{
	color: #838383;
	font-size: 15px;
}
.account .left a .icon-edit:before{ left: -2px; top: 1px; font-size: 14px;}
.account .left a .icon-lock{margin-right: -1px;}
.account .left a .icon-lock:before{ left: -3px; top: 1px;}
.account .left a .icon-trash-empty:before{ left: -3px; top: 1px; font-size: 14px;}
.account .left a .icon-location:before{ left: -3px; top: 1px; font-size: 14px;}
.account .left section{
	padding-bottom: 31px;
}
.account h1{
	font:36px/1.1 'open_sanslight';
	text-transform: uppercase;
	padding-bottom: 9px;
}
.account h1 span{
	display: inline-block;
	position: relative;
	padding-right: 6px;
}
.account h1 a{
	font:11px 'open_sansregular';
	position: absolute;
	left: 100%;
	top: -10px;
	transition:all 0.2s ease-in-out;
}
.account h1 a:hover{
	color: #00A500;
}
.account h1 a:active{
	margin-left: 2px;
	transition:none;
}
.account h1 i{
	font-size: 16px;
	position: relative;
	top: 1px;
	left: -1px;
}
.account h4{
	font:14px 'open_sansbold';
	text-transform: uppercase;
	padding-bottom: 9px;
}

.account .right{
	width: 48.9%;
	background-color: #F3F4F5;
	padding:20px 0 21px 2.3%;
}
.accordion_buys header i{
	display: inline-block;
	width: 11px;
	height: 11px;
	background: url("../images/toggle_square.png");
	margin: 0 7px 0 2px;
	position: relative;
	top: 1px;
}
.accordion_buys header .yes{
	color: #00A500;
}
.accordion_buys .active header i{ background-position: bottom;}

.accordion_buys .slide{
	padding: 0 0 24px 40px;
}

/*ARTICLE PAGE*/
.content_article{
	color: #333;
}
.content_article h1{
	font:36px/1.2 'open_sanslight';
	text-transform: uppercase;
	margin: -2px 0 26px -3px;
}
.content_article h2{
	font:24px 'open_sansbold';
	text-transform: uppercase;
	padding: 4px 0 11px 0;
}
.content_article h3{
	font:16px 'open_sanssemibold';
	text-transform: uppercase;
	padding: 13px 0 13px 0;
}
.content_article h4{
	font:14px 'open_sansbold';
	text-transform: uppercase;
	padding:10px 0 9px 0;
}
/*ARTICLE Content*/
.content_article .content{
	width: 72.32%;
	float: left;
	padding-bottom: 27px;
}
.content_article .content header{
	overflow: hidden;
	padding-bottom: 30px;
}
.content_article .content header section{
	width: 67.4%;
	float: left;
}
.content_article .content header .date_article{
	width: 26.4%;
	float: right;
}

.content_article .content article p{
	font-size: 16px;
	line-height: 1.5;
	padding: 0 0 12px 0;
	margin-right: -3px;
}
.content_article .content header article p{
	padding-bottom: 24px;
}

.date_article{
	font-size: 12px;
	color: #818181;
	text-transform: uppercase;
	line-height: 2;
	padding: 2px 0 15px 0;
	overflow: hidden;
	overflow: hidden;
}
.date_article .eye{
	float: left;
	margin: -2px 14px 0 -1px;
	min-width: 60px;
}
.date_article .eye i{ margin-right: 2px;}
.date_article .comment{
	float: left;
	margin-top: -2px;
}
.date_article .comment i:before{ left: -2px;}
.date_article i{font-size: 14px;}

/*Article Image*/
.content_article .image{
	position: relative;
	margin-bottom: 24px;
}
.content_article .image > div{
	overflow: hidden;
}
.content_article .image img{
	display: block;
	max-width: 100%;
}
.content_article .image span{
	background-color: #fff;
	position: absolute;
	right: 0;
	bottom: 0;
	color: #818181;
	font:14px/0.8 'open_sansitalic';
	padding:27px 30px 0;
}

/*Article Footer*/
.content_article .content footer{
	overflow: hidden;
	padding: 12px 0 20px 0;
}
.content_article .content footer .like_shop{
	width: 54%;
	float: left;
}
.content_article .links_module{
	max-width: 44%;
	float: right;
}

.links_module{
	overflow: hidden;
}
.links_module a{
	height: 27px;
	border: 1px solid #B5B5B5;
	float: left;
	margin:0 0 3px 10px;
	padding:0 8px;
	font-size: 12px;
	color:#828282;
	line-height: 27px;
	text-decoration: none;
	text-transform: uppercase;
	transition:all 0.2s ease-in-out;
	border-radius:1px;
}
.links_module a:hover{
	background-color: #F3F4F5;
	color: #333;
}
.links_module a:active{
	line-height: 29px;
	box-shadow: inset 0 6px 1px -6px rgba(0,0,0,0.8);
	transition:none;
	border-color: #999;
}

/*BLOG*/
.blog_list li{
	border-bottom: 1px solid #dadada;
	margin-bottom: 30px !important;
}
.blog_list li header{
	padding-bottom: 10px !important;
}
.blog_list li .image{
	margin-bottom: 40px !important;
}
.blog_list li > article{
	padding-bottom: 20px;
}
.blog_list li footer{
	padding-bottom: 30px !important;
}

/*Article SIDEBAR*/
.content_article .sidebar{
	width: 23.1%;
	float: right;
	line-height: 1.72;
	padding-bottom: 27px;
}
.content_article .sidebar h4:first-child{
	padding-top: 18px;
}
.content_article .sidebar .date{
	font-size: 11px;
	color: #818181;
	padding: 4px 0 14px 14px;
	text-transform: uppercase;
}
.content_article .sidebar a{
	display: inline-block;
	padding-left: 14px;
	position: relative;
	transition: all 0.2s ease-in-out;
}
.content_article .sidebar a:hover{
	text-decoration: underline;
	color: #FF5B00;
	padding-left: 17px;
}
.content_article .sidebar a:active{
	text-decoration: none;
	transition:none;
	color: #000;
	padding-left: 18px;
}
.content_article .sidebar a:active:before{ background-color: #000;}
.content_article .sidebar a:before{
	content: '';
	width: 5px;
	height: 5px;
	background-color: #828282;
	border-radius: 3px;
	position: absolute;
	left: 1px;
	top: 9px;
}
.content_article .sidebar nav{
	padding-bottom: 20px;
}
.content_article .sidebar nav a:hover{
	color: #00A500;
}
.content_article .sidebar nav a:active{
	color: #000;
}
.content_article .sidebar ul{
	padding-bottom:6px;
}
.content_article .sidebar nav ul{
	padding-bottom:0;
}

/*COMMENTS*/
.block_comments{
	overflow: hidden;
	color: #333;
	padding: 38px 10px 70px;
}
/*Comments Content*/
.block_comments .content{
	width: 72.32%;
	float: left;
}
.block_comments .all{
	display: block;
	text-decoration: none;
	text-align: center;
	height: 61px;
	line-height: 61px;
	border:2px solid #F3F4F5;
	margin:0 auto 0;
	border-radius: 1px;
	max-width: 703px;
}
.block_comments .all i{
	color: #011934;
	font-size: 20px;
	position: relative;
	left: -2px;
	top: 1px;
}
.block_comments .all span{
	display: inline-block;
	font-size: 12px;
	text-transform: uppercase;
	border-bottom: 1px dotted #6997C2;
	line-height: 1;
}
.block_comments .all:hover span{
	color: #011934;
	border-bottom-color: transparent !important;
}
.block_comments .all:hover{
	border-color: #E5E6E7;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 40%, rgba(243,243,243,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(40%,rgba(255,255,255,1)), color-stop(100%,rgba(243,243,243,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 40%,rgba(243,243,243,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 40%,rgba(243,243,243,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 40%,rgba(243,243,243,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 40%,rgba(243,243,243,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-9 */
	box-shadow: inset 0 -3px 12px #fff;
}
.block_comments .all:active{
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.15);
	border-color: #CECFD0;
}

.block_comments .comments header{
	overflow: hidden;
	font:14px/1 'open_sansbold';
	text-transform: uppercase;
	padding-bottom: 26px;
}
.block_comments .comments header strong{
	float: left;
}
.block_comments .comments header div{
	width: 76.8%;
	float: right;
}
.block_comments .comments header a, .comments .comm .right a{
	text-decoration: none;
	display: inline-block;
	border-bottom: 1px dotted #0057A2;
	text-transform: uppercase;
	text-decoration: none;
	transition:all 0.2s ease-in-out;
}
.block_comments .comments header a:hover{
	color: #FF5B00;
	border-bottom-color: #FF5B00;
}
.comments .korkmaz{
	background-color: #EDF3F8;
	border-radius: 1px;
	padding: 15px 0 0 0;
	margin-bottom: 19px;
}
.comments .comm .block{
	overflow: hidden;
	padding-bottom: 16px;
}
.comments .comm .left strong{
	display: block;
	font:12px/1.1 'open_sansbold';
	text-transform: uppercase;
	padding-bottom: 5px;
}
.comments .comm .left span{
	color:#818181;
	font-size: 11px;
	text-transform: uppercase;
}
.comments .comm .right p{
	padding-right: 10px;
	line-height: 1.6;
}
.comments .comm .right a{
	font-size: 12px;
	line-height: 1;
}
.comments .comm .right a:hover{
	color: #00A500;
	border-bottom-color: #00A500;
}
.comments .comm.korkmaz .left strong{
	color: #0e589e;
}
.comments .comm.korkmaz .left i{
	font-size: 10px;
	color: #00A500;
}
.comments .comm .line{
	overflow: hidden;
	height: 1px;
	margin-bottom: 14px;
}
.comments .comm hr{
	border:0;
	height: 1px;
	margin: 0;
	background-color: #DBDBDB;
	display: block;
}
.block_comments .comments header + .comm .line, .comments .comm.korkmaz .line{display: none;}

/*1 Level Comments*/
.comments .comm .right{width: 76.8%;}
.comments .comm .left{width: 20.4%; text-align: right; padding: 5px 0 0 0;}

/*2 Level Comments*/
.comments .comm .comm hr{width: 76.8%;float: right;}
.comments .comm .comm .left{width: 24.4%;}
.comments .comm .comm .right{width: 72.2%;}
.comments .comm .comm.korkmaz{margin-left: 6.75%;}
.comments .comm .comm.korkmaz .left{width: 19%;}
.comments .comm .comm.korkmaz .right{width: 77.4%;}

/*3 Level Comments*/
.comments .comm .comm .comm hr{width: 72.2%; float: right;}
.comments .comm .comm .comm .left{width: 28.8%;}
.comments .comm .comm .comm .right{width: 67.3%;}
.comments .comm .comm .comm.korkmaz{margin-left: 13.5%;}
.comments .comm .comm .comm.korkmaz .left{width: 18%;}
.comments .comm .comm .comm.korkmaz .right{width: 78%;}

/*Form*/
.form_comments{
	max-width: 661px;
	margin:30px auto 0;
	background-color: #F3F4F5;
	padding: 18px 21px 20px 21px;
}
.form_comments header{
	overflow: hidden;
	padding-bottom: 16px;
}
.form_comments header h5{
	float: left;
}
.form_comments header a{
	float: right;
	line-height: 1;
	font-size: 12px;
	text-transform: uppercase;
}
.form_comments header a span{
	display: inline-block;
	border-bottom: 1px dotted #6293BE;
}
.form_comments header i{
	font-size: 14px;
	color: #818181;
	transition:all 0.3s ease-in-out;
}
.form_comments header a:hover i{
	color: #0057A2;
}
.form_comments header a:active span{
	border-bottom-color: transparent;
}

input[type="text"], input[type="password"], input[type="email"], textarea{
	font:12px 'open_sansregular';
	padding:0 10px;
}
.form_comments input[type="text"], .form_comments input[type="email"], .form_comments textarea{
	height: 32px;
	border: none;
	transition:all 0.3s ease-in-out;
}
.form_comments input[type="text"], .form_comments input[type="email"]{
	width: 186px;
}
.form_comments textarea{
	resize:none;
	height: 82px;
	padding:10px;
	width: 640px;
}
.form_comments input[type="text"]:hover, .form_comments input[type="email"]:hover, .form_comments textarea:hover{
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.form_comments input[type="text"]:focus, .form_comments input[type="email"]:focus, .form_comments textarea:focus{
	box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
.form_comments h5{
	color: #333;
	font-family: 'open_sansbold';
	text-transform: uppercase;
	line-height: 1;
	text-transform: uppercase;
}
.form_comments h6{
	color: #828282;
	font-size: 12px;
	text-transform: uppercase;
	line-height: 1;
	padding-bottom: 8px;
}
.form_comments .col-1{
	float: left;
	width: 206px;
	margin-right: 20px;
	padding-bottom: 20px;
}
.form_comments .col-2{
	float: left;
	width: 206px;
	padding-bottom: 20px;
}
.form_comments .col-3{
	float: right;
	width: 206px;
	padding-bottom: 20px;
}
.form_comments footer{
	overflow: hidden;
	padding: 16px 0 0 0;
}
.form_comments footer .blue_button1{
	float: right;
	height: 32px;
	font-size: 12px;
	line-height: 32px;
	width: 214px;
}
.form_comments footer .blue_button1:focus{
	line-height: 34px;
}
.form_comments footer a{
	float: right;
	font-size: 12px;
	color: #333;
	text-transform: uppercase;
	height: 32px;
	line-height: 32px;
	padding: 0 20px;
}
.form_comments footer a:hover{
	color: #FF2A00;
	text-decoration: underline;
}
.form_comments footer a:active{
	line-height: 34px;
}

/*Right Col 23%*/
.right-col-4{
	width: 23.1%;
	float: right;
	position: relative;
}

/*Our Actions*/
.our_actions_list{
	border:3px solid #F9E9E9;
	margin:2px 0 15px 0;
	padding:17px 23px 12px 23px;
}
.our_actions_list h4{
	color: #5D0307;
	font-family: 'open_sansbold';
	text-transform: uppercase;
	padding:0 0 10px 0 !important;
}
.our_actions_list li{
	padding-bottom: 10px;
	line-height: 1.82;
}
.our_actions_list a{
	color: #D6071B;
	transition:all 0.2s ease-in-out;
	padding-left: 0 !important;
}
.our_actions_list a:before{
	display: none !important;
}
.our_actions_list a:hover{
	color: #0057A2 !important;
	text-decoration: underline;
}
.our_actions_list a:active{
	transition:none;
	text-decoration: none;
	color: #000;
}
.content_article .sidebar .our_actions_list{ padding-bottom: 0 !important;}

#portamento_container{position:relative;}
#portamento_container .our_actions_list.fixed {position:fixed;}