
@font-face {
  font-family: 'YandexSansText-Regular';
  src: url('YandexSansText-Regular.eot?#iefix') format('embedded-opentype'),  url('YandexSansText-Regular.woff') format('woff'), url('YandexSansText-Regular.ttf')  format('truetype'), url('YandexSansText-Regular.svg#YandexSansText-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
