::placeholder {
	color: #295a7c;
	transition: .5s;
}
:focus::placeholder {
	opacity: 0;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	min-width: 320px;
	position: relative;
	font: 16px/1.2 'PantonRegular';
	color: $dark;
	overflow-x: hidden;
	input, textarea {
		border: #777 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

input[type=text],
input[type=password],
input[type=email],
input[type=tel] {
	height: 32px;
	border: 1px solid $accent;
	border-radius: 6px;
	background: transparent;
	font: 14px 'PantonRegular';
	padding: 0 8px;
	transition: .5s;
	&:focus {
		border-color: $blue;
		background-color: #fff;
	}
}

b, strong {
	font-family: 'PantonBold';
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'PantonBold';
	margin: 0;
}
p {
	margin: 0;
}
ul, ol {
	padding: 0;
	margin: 0;
	list-style: none;
}

.h4 {
	font-size: 18px;
	text-align: center;
	&.bottom-line {
		&:after {
			content: '';
			display: block;
			width: 60px;
			height: 4px;
			background-color: $accent;
			margin: 6px auto 0;
		}
	}
}

.h2 {
	font: 24px 'PantonRegular';
	text-transform: uppercase;
	position: relative;
	padding-left: 20px;
	margin-bottom: 20px;
	&:before {
		content: '';
		width: 6px;
		height: 100%;
		background-color: $accent;
		position: absolute;
		left: -6px;
		top: 0;
	}
}

.font-size--18 {
	font-size: 18px;
	letter-spacing: .025em;
}
.font-size--14 {
	font-size: 14px;
}

.float-left {
	float: left;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}