
@font-face {
  font-family: 'YandexSansText-Medium';
  src: url('YandexSansText-Medium.eot?#iefix') format('embedded-opentype'),  url('YandexSansText-Medium.woff') format('woff'), url('YandexSansText-Medium.ttf')  format('truetype'), url('YandexSansText-Medium.svg#YandexSansText-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
