// Large devices (1366px)
@media (max-width: 1366px) {

h2 {
	font-size: 51px;
	line-height: 1.3;
}

// UI
.i-notes,
.i-gift,
.i-chip {
	width: 120px;
	height: 120px;
	&:before {
		width: 58px;
		height: 58px;
		margin: -29px 0 0 -29px;
	}
}
.i-notes:before {
	margin: -29px 0 0 -22px;
}
.i-gift:before {
	margin: -32px 0 0 -27px;
}

.i-777 {
	width: 108px;
	height: 108px;
	&:before {
		width: 64px;
		height: 60px;
		background-size: cover;
		margin: -32px 0 0 -30px;
	}
	&:hover:before {
		background-position: -64px 0;
	}
}
.i-cash {
	width: 108px;
	height: 108px;
	&:before {
		width: 84px;
		height: 56px;
		background-size: cover;
		margin: -28px 0 0 -42px;
	}
	&:hover:before {
		background-position: -84px 0;
	}
}
.i-money {
	width: 108px;
	height: 108px;
	&:before {
		width: 76px;
		height: 48px;
		background-size: cover;
		margin: -24px 0 0 -37.5px;
	}
	&:hover:before {
		background-position: -76px 0;
	}
}
.i-fortuna {
	width: 108px;
	height: 108px;
	&:before {
		width: 57px;
		height: 56px;
		background-size: cover;
		margin: -28px 0 0 -28.5px;
	}
	&:hover:before {
		background-position: -57px 0;
	}
}

.header {
	height: 812px;
	&__container {
		padding-top: 64px;
	}
	&__bg {
		width: 100%;
		margin-left: 0;
		left: 0;
		&--art {
			width: 757px;
			height: 621px;
			background: url('../img/tablet-size/header-art.jpg');
			top: 78px;
		}
	}
	& .bg__blue--circle {
		left: -180px;
		top: 230px;
	}
}
.dragon__illustration {
	width: 367px;
	height: 350px;
	background: url('../img/tablet-size/dragon-illustration.png');
	position: absolute;
	left: 50%;
	margin-left: -135px;
	bottom: 180px;
}
.bonus__offer {
	font-size: 30px;
	padding-left: 10.5%;
	& strong {
		font-size: 113px;
	}
	& .button {
		margin-top: 45px;
	}
} 
.text__plus {
	font-size: 89px;
	margin-bottom: -8px;
}
.button {
	height: 70px;
	line-height: 70px;
	padding: 0 70px;
	font-size: 25px;
	&.outline {
		line-height: 60px;
		padding: 0 100px;
	}
	&.big {
		height: 88px;
		line-height: 88px;
		font-size: 32px;
		padding: 0 90px;
	}
}

.bg__blue--circle {
	width: 333px;
	height: 310px;
	border-radius: 50%;
}

.tablet__device {
	width: 897px;
	height: 605px;
	background-image: url("../img/tablet-size/tablet-device.png");
	margin-left: -448.5px;
}
.tablet__screen {
	width: 795px;
	height: 497px;
	margin-left: -397px;
	background-image: url("../img/tablet-size/tablet-screen.jpg");
	top: 54px;
}
.tablet__content {
	&:after {
		width: 331px;
		height: 144px;
		background-image: url("../img/tablet-size/pigs-illustration.png");
	}
}

.steps {
	height: 605px;
	margin-bottom: -246px;
	&:before {
		height: 377px;
		background-image: url("../img/tablet-size/bg-steps.png");
		top: 43px;
	}
	&__list {
		padding-top: 141px;
		& li {
			padding-top: 150px;
			& .i-notes {
				left: 94px;
			    top: 16px;
			}
			& .i-gift {
				left: 100px;
			    top: 16px;
			}
			& .i-chip {
				left: 120px;
				top: 16px;
			}
			& .number {
				left: 47px;
			}
			&:nth-child(2) {
				& .number {
					left: 30px;
				}
			}
			&:nth-child(3) {
				& .number {
					left: 47px;
					top: 19px;
				}
				& p {
					padding-left: 18px;
				}
			}
		}
		& p {
			font-size: 24px;
		}
	}
}

.number {
	font-size: 206px;
}

.features {
	height: 546px;
	background-image: url("../img/tablet-size/bg-features.jpg");
	padding-top: 258px;
	& .container {
		max-width: 100%;
	}
	&__list {
		max-width: 850px;
		padding: 0;
		margin: 0 auto -12px;
		p {
			font-size: 25px;
		}
	}
}

.reg {
	& hgroup {
		padding-bottom: 42px;
	}
	& h2 {
		padding-bottom: 55px;
	}
	&__bg {
		width: 100%;
		margin-left: 0;
		left: 0;
	}
	& .bg__blue--circle {
		width: 454px;
	    height: 424px;
	    top: 17px;
	    right: -311px;
	}
}

.pana-accordion {
	max-width: 100%;
	width: 100%;
	border-radius: 0;
	background-color: #242424;
	height: 341px;
}
} // (1366px)

// Large devices (1200px)
@media (max-width: 1200px) {

} // (1200px)


// Medium devices (992px)
@media (max-width: 992px) {
h2 {
	font-size: 42px;
}
.dragon__illustration {
	display: none;
}

.header {
	&__bg--art {
		right: -90px;
	}
	& .bg__blue--circle {
		width: 219px;
		height: 205px;
		left: -110px;
	}
}
.logo {
	font-size: 64px;
	line-height: 78px;
}

.steps {
	margin-bottom: -100px;
	height: 497px;
	&:before {
		display: none;
	}
}
.tablet__device {
	background: none;
	height: auto;
}
.tablet__screen {
	width: 100%;
	left: 0;
	top: 0;
	margin-left: 0;
	background-repeat: no-repeat;
	background-size: cover;
}
.tablet__content {
	width: 100%;
	&:before {
		content: '';
		width: 100%;
		height: 100%;
		background: url("../img/texture-blue.png");
		opacity: .5;
		position: absolute;
		left: 0;
		top: 0;
	}
}

.features {
	height: auto;
	padding: 130px 0 50px;
	background: url("../img/phone-size/bg-features.jpg") no-repeat center bottom;
}
} // (992px)


// Small devices (768px)
@media (max-width: 768px) {
h2 {
	font-size: 24px;
}
.i-notes {
	width: 94px;
	height: 94px;
	&:before {
		transform: scale(.9);
		margin-left: -23px;
	}
}
.i-gift {
	width: 94px;
	height: 94px;
	&:before {
		transform: scale(.8);
		margin-left: -29px;
	}
}
.i-chip {
	width: 94px;
	height: 94px;
	&:before {
		transform: scale(.9);
		margin-left: -29px;
	}
}
.i-777,
.i-cash,
.i-money,
.i-fortuna {
	width: 78px;
	height: 78px;
	&:before {
		transform: scale(.7);
	}
}

.header {
	height: 100vh;
	min-height: 640px;
	margin-bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	&__container {
		padding: 0 0 20px;
	}
	&__bg--art {
		width: 613px;
		height: 512px;
		background: url("../img/phone-size/header-art.jpg");
		right: 0;
	}
	& .bg__blue--circle {
		top: 180px;
		left: -154px;
	}
}
.bonus__offer {
	font-size: 23px;
	display: block;
	padding-left: 0;
	& strong {
		font-size: 86px;
	}
}
.text__plus {
	font-size: 68px;
}
.button {
	height: 56px;
	line-height: 56px;
	font-size: 20px;
	padding: 0 55px;
	&.outline {
		height: 70px;
		line-height: 60px;
	}
	&.big {
		height: 74px;
		line-height: 74px;
		font-size: 26px;
		padding: 0 75px;
	}
}

.steps {
	height: 640px;
	margin-bottom: 0;
	&__list {
		padding-top: 30px;
		width: 320px;
		margin: 0 auto;
		& li {
			float: none;
			padding: 135px 0 10px;
			width: 100%;
			& p {
				font-size: 19px;
				display: block;
				text-align: left;
				min-height: auto;
			}
			& .i-notes {
				left: 50px;
			}
			& .i-gift {
				left: 155px;
			}
			& .i-chip {
				left: 250px;
			}
			&:nth-child(1) {
				padding-left: 15px;
				& .number {
					left: 15px;
				}
			}
			&:nth-child(2) {
				padding-left: 110px;
				left: 0;
				& .number {
					left: 100px;
				}
			}
			&:nth-child(3) {
				padding-left: 180px;
				left: 0;
				& .number {
					left: 190px;
				}
				& p {
					text-align: center;
				}
			}
		}
	}
}
.number {
	font-size: 160px;
}
.tablet__screen {
	height: 640px;
	background: url("../img/phone-size/tablet-screen.jpg");
}
.tablet__content:after {
	width: 215px;
	height: 209px;
	background: url("../img/phone-size/pigs-illustration.png");
	left: 50%;
	margin-left: -160px;
}

#accordion {
	display: none;
}
.owl-carousel-game {
	display: block !important;
}

.features {
	padding: 20px 0 50px;
	&__list {
		flex-wrap: wrap;
		width: 320px;
		margin-bottom: 40px;
		& li {
			width: 50%;
		}
		& p {
			font-size: 19px;
		}
	}
}

.reg {
	padding-top: 10px;
	& h2 {
		padding-bottom: 20px;
	}
	& hgroup {
		padding-bottom: 25px;
	}
	&__bg {
		display: none;
	}
	& .button {
		margin-bottom: 0;
	}
}

.footer {
	padding: 0 0 60px;
}
} // (768px)


@media (max-width: 576px) {
.header {
	&__bg--art {
		right: -100px;
	}
}
} // (768px)