@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes scaleIn {
  from {
    transform: scale(.5, .5);
    opacity: .4;
  }
  to {
    transform: scale(4, 4);
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
    background-position: center top;
    background-size: 0 auto;
  }
  50% {
    opacity: 1;
    background-size: 75% auto;
  }
  100% {
    opacity: 0;
    background-position: center bottom;
    background-size: 0 auto;
  }
}
