@font-face {
  font-family: 'icons-pack';
  src:
    url('fonts/icons-pack.ttf?xnkopl') format('truetype'),
    url('fonts/icons-pack.woff?xnkopl') format('woff'),
    url('fonts/icons-pack.svg?xnkopl#icons-pack') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons-pack' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-check-list:before {
  content: "\e902";
}
.i-download:before {
  content: "\e903";
}
.i-phone:before {
  content: "\e904";
}
.i-liquidity:before {
  content: "\e905";
}
.i-price:before {
  content: "\e906";
}
.i-return-money:before {
  content: "\e907";
}
.i-i-tax:before {
  content: "\e908";
}
.i-left:before {
  content: "\e900";
}
.i-right:before {
  content: "\e901";
}
