
@font-face {
  font-family: 'PlayfairDisplay-Italic';
  src: url('PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),  url('PlayfairDisplay-Italic.woff') format('woff'), url('PlayfairDisplay-Italic.ttf')  format('truetype'), url('PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
